[2015-11-01 22:37] ACPK opened #121 "Feature Request: Clearing Search"
I'd love to be able to easily the clear search by (1) deleting the text or (2) clicking an (X). As of right now, a user needs to click the page link in the navbar or remove the params for the URL. The former is my preferred method, but let me know what you think.

[2015-11-01 22:55] ACPK opened #122 "PG::UndefinedTable: ERROR: relation "read_marks" does not exist"
When I run:

    rails generate administrate:install

I get:

     postgresql_adapter.rb:596:in `async_exec': PG::UndefinedTable: ERROR:  relation "read_marks" does not exist (ActiveRecord::StatementInvalid)
    LINE 5:                WHERE a.attrelid = '"read_marks"'::regclass
                                              ^
    :               SELECT a.attname, format_type(a.atttypid, a.atttypmod

[2015-11-01 23:02] graysonwright commented on #121
Hey, @ACPK. Thanks for the feedback!

I like the "clicking an (X)" option.

I'm not sure I understand how the "deleting the text" option would work - could you give some detail there? Right now, if you delete the search term and hit enter, it'll also clear the search.

[2015-11-01 23:09] graysonwright commented on #122
Interesting - is the repo you're working in public?

Here's the source for [the install generator]. It looks like it mistakenly thinks `read_marks` is a table in the database.

[the install generator]: https://github.com/thoughtbot/administrate/blob/master/administrate/lib/generators/administrate/install/install_generator.rb

Can you run `ActiveRecord::Base.descendants` in your rails console and p

[2015-11-01 23:18] ACPK commented on #121
@graysonwright - "Deleting the text" would use autocomplete. With autocomplete, you params automatically get changed when you add or remove characters.

Example (see the default white page you get on Google when you remove ThoughtBot):

    https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=thoughtbot

[2015-11-01 23:26] rikkipitt opened #123 "Plugin structure and best practices"
Hey guys,

I've been waiting for you to release this to the public, it's great so far! Are you planning to put together a set of best practices for creating addons/plugins to add field types like WYSIWYG editors and integrations with things like Paperclip? It would be awesome to be able to share them and find useful extensions in a directory of some sort...

Cheers,
Rikki

[2015-11-01 23:28] ACPK commented on #122
pry(main)> ActiveRecord::Base.descendants
    => [Delayed::Backend::ActiveRecord::Job (call 'Delayed::Backend::ActiveRecord::Job.connection' to establish a connection),
     ReadMark (call 'ReadMark.connection' to establish a connection),
     Merit::Score (call 'Merit::Score.connection' to establish a connection),
     Merit::ActivityLog (call 'Merit::ActivityLog.connection' to establish a connec

[2015-11-01 23:29] graysonwright commented on #121
oh, alright.

Automatically searching for the user would be a bit tricky - we would need to reload part of the page while keeping the search bar there. I imagine we could do this with turbolinks, but I'm hesitant to introduce that level of complexity. We would need to be careful that the interaction isn't confusing for people who aren't expecting it, and it would require making a bunch of server r

[2015-11-01 23:38] graysonwright commented on #123
@rikkipitt absolutely!

We still need to iron out specifics, but I'm hoping we can break out gems with supporting functionality.

For custom field types, supporting gems might be as simple as running `rails generate administrate:field my_field_name`, and then packaging up the output into a gem.

I'll try splitting out the [image field into a separate gem to set a precedent.

[image field]: https:/

[2015-11-01 23:45] graysonwright commented on #122
Yeah, no problem! I have a few more questions:

- Are you up to date with your database migrations?
- What are the tables in your database?
- Is the `ReadMark` table installed as part of a gem?
- What is the file path where `ReadMark` is defined?
- If possible, can you share the contents of the `ReadMark` class?

[2015-11-02 00:32] ACPK commented on #122
@graysonwright

1. All of my migrations are up to date.
2. ReadMark shows up twice in my app at the moment, and both files were generated by Administrative.
..* The first file is DashboardManifest.rb [see Gist](https://gist.github.com/ACPK/8cb5b2b0eb333da788ac).
...* The second is ReadMore Dashboard despite the fact that it isn't a model in my app. I'll delete it but am curious why the Administrat

[2015-11-02 02:40] graysonwright commented on #122
Hm... I think one of your gems may define a `ReadMark` class that subclasses from `ActiveRecord::Base`. Administrate believes it is one of your models, and expects there to be a database table for it.

Can you post the contents of your `Gemfile`? I can try to to reproduce the error locally.

[2015-11-02 03:49] graysonwright commented on #122
Looks like you might be using [Unread](https://github.com/ledermann/unread) - I added it to my gemfile and got the same error.

I've put together a fix for it [here] - we should have that released in version `0.1.1`, which we hope will go out at the end of the week.

If you delete `app/dashboards/read_mark_dashboard.rb` and remove `read_marks` from your dashboard manifest, things should work as pl

[2015-11-02 04:00] graysonwright commented on #123
@rikkipitt while we're at it, can you give me an example of plugins that you'd find useful? I want to make sure I'm supporting all the common use cases.

[2015-11-02 04:45] ACPK commented on #122
@graysonwright Thanks for your help, and hope you had a great week!

[2015-11-02 04:45] #122 closed

[2015-11-02 05:21] ACPK commented on #121
@graysonwright - For now, I agree. Want to do or PR or I can work on it later this week?

[2015-11-02 10:13] rikkipitt commented on #123
@graysonwright fantastic news!

I'll take a look today, but I think a good start would be image/file upload and a rich editor field. https://github.com/galetahub/ckeditor tends to be a good choice when using [RailsAdmin](https://github.com/sferik/rails_admin). The ckeditor gem has the ability to integrate with Paperclip and thus any external asset host.

Some field types such as sorting might requ

[2015-11-02 17:06] graysonwright commented on #121
@ACPK I've got it, no worries.

https://github.com/thoughtbot/administrate/pull/127

[2015-11-02 18:39] ACPK opened #128 "Make Template Responsive"
Should be self explanatory.

[2015-11-02 22:16] rikkipitt opened #129 "Don't use `#to_s` to display models in Administrate."
Just a minor note to request the documentation of the use of the ```to_s``` method for better representing objects across the various Administrate dashboards. E.g. ```has_many``` select lists and ```belongs_to``` on index lists. This might catch out some newer Rails/Ruby users if not explicitly mentioned...

Something along the lines of:

Example:

[code]

Thus instead of displaying ```#<Tag:0x007

[2015-11-02 22:18] graysonwright commented on #129
@rikkipitt good call. We've gone back and forth on `to_s` a little bit (see #5 and #70), but you're right that it should absolutely be documented.

Where would you expect to see it? I'm thinking of adding a note to the `README` and to https://administrate-docs.herokuapp.com/getting_started.

[2015-11-02 22:33] rikkipitt commented on #129
@graysonwright thanks for the quick reply. I missed those pull requests, cheers for referencing them.

Albeit a short page, could it warrant its own section under something like "Customising Fields"? It might get lost in the Getting started page...

I've used RailsAdmin extensively and I believe they try ```:name``` or ```:title``` before falling back to a default with the object id... Looks like

[2015-11-02 23:08] mcmire opened #130 "Generate `SHOW_PAGE_ATTRIBUTES` as an explicit array"
Right now, `COLLECTION_ATTRIBUTES`, `SHOW_PAGE_ATTRIBUTES`, and `FORM_ATTRIBUTES` use `ATTRIBUTE_TYPES.keys` as a base set of attributes. It would follow, then, that in order to re-order fields that appear in a form or table, you re-order the keys in `ATTRIBUTE_TYPES`. However, this seems a little odd, because `ATTRIBUTE_TYPES` is a hash, and so the order of its keys should be irrelevant. (It just

[2015-11-02 23:17] mcmire opened #131 "Add a way to customize order of options in select for `belongs_to`"
The field for a `belongs_to` column is a `select` box, whose options are the values of the associated model. It's helpful to see the options in a sorted order, especially if there are a lot of options. Perhaps the easiest thing to do is to sort by `to_s` now, and provide a way to customize the order later.

[2015-11-03 00:06] graysonwright commented on #129
Yeah, it's hard to get a decent solution without getting too "magical". :smile:

[2015-11-03 18:10] jcutrell commented on #129
I think I'd like to see something like a method to override in the model - `administrate_title`, possibly - rather than to_s, since other things (like loggers) may rely on to_s.

[2015-11-03 18:53] graysonwright commented on #129
@jcutrell I like that idea - it might make it easier to fallback to a sensible default.

It might work well in a helper method, like:
[code]

[2015-11-03 19:11] estiens opened #134 "File to import not found or unreadable"
`Sass::SyntaxError in Admin::Model#index`

Showing ... `gems/2.2.0/gems/administrate-0.1.0/app/views/layouts/administrate/application.html.erb where line #23 raised:`

`File to import not found or unreadable: normalize-rails/normalize.`

[2015-11-03 19:13] graysonwright commented on #134
@estiens that's interesting. Would you mind posting your `Gemfile.lock`?

[2015-11-03 19:45] estiens commented on #134
@graysonwright I think it is because I am using it on an app using `rails-api`, however even when I switch to inheriting from ActionController::Base and use `config.api_only = false` in `application.rb` the problem persists.

Gemfile.lock

[code]

[2015-11-03 19:56] jcutrell opened #135 "DateTime fields blank out for values that are already set"
Fields set as `Field::DateTime` seem to be automatically emptied out (rather than retaining their on-load value). Assuming this has something to do with the datepicker js, as it flashes the value for a moment presumably before the javascript executes.

[2015-11-03 20:00] graysonwright commented on #135
@jcutrell thanks for reporting this. Right now datepickers are one of the brittle areas of the codebase, so we're working on improving this.

If you'd like to disable the form picker for those fields until we have a fix, you can run:
`rails generate administrate:views:field DateTime`, and then remove the `class: "datetimepicker"` from the generated `app/views/fields/date_time/_form.html.erb`

[2015-11-03 20:29] jcutrell commented on #135
Sure, graysonwright!

Looks like this is probably caused by the format of the date coming in. It can be fixed by changing [this line](https://github.com/thoughtbot/administrate/blob/master/administrate/app/assets/javascripts/administrate/components/date_time_picker.js#L2) to something like this:

[code]

Or, of course, from the other side on the actual `date_time` form.

[2015-11-03 20:39] mcmire opened #136 "Selector for belongs_to needs include_blank: true if column is nullable"
If you have a foreign key on your model and it `belongs_to` another model, but the foreign key column is not defined with `null: false`, then the select box that's rendered for that attribute should not be set to a value from the second model by default, i.e., it needs be rendered with `include_blank: true`.

[2015-11-03 20:49] estiens commented on #134
I got this working by including `sass-rails` in my gemfile.

[2015-11-03 21:16] estiens opened #137 "Documentation missing: Customize Attribute Partials"
`Internal Server Error` at: https://administrate-docs.herokuapp.com/customizing_attribute_partials

[2015-11-03 22:06] graysonwright commented on #137
@estiens thanks for pointing that out - we removed that documentation a little while ago. Where did you follow the link from?

[2015-11-03 22:10] graysonwright commented on #137
We moved it because of similarities with https://administrate-docs.herokuapp.com/adding_custom_field_types

In retrospect, they are describing different customization workflows, so it makes sense to keep both. I've reverted the commit that removed that doc, so it should be accessible now.

Thanks for pointing that out!

[2015-11-03 22:10] #137 closed

[2015-11-03 22:12] estiens commented on #137
Looks great, it was followed from: https://administrate-docs.herokuapp.com/adding_custom_field_types

[2015-11-04 00:34] maclover7 opened #138 "Move sample Rails app to separate repo or folder"
Currently the sample Rails application is taking up most of the root file path, and the administrate gem itself is nested under the administrate folder. It might make more sense if the gem itself took up the root file path, and if the sample app is moved to a separate repository, or to a "sample_app" directory.

[2015-11-04 00:36] graysonwright commented on #138
@maclover7 yep - we just realized that it's impossible to point your Gemfile at the administrate master branch, so bringing the gem to the root of the repo is a top priority for us now.

@danbee is currently working on this [in a branch](https://github.com/thoughtbot/administrate/tree/swap-gem-and-test-app) - we should have it up by the end of the week.

[2015-11-04 00:39] maclover7 commented on #138
:+1:

[2015-11-04 07:21] graysonwright commented on #138
@danbee on your branch, how did you get `.env` working? I'm getting failing tests with the message:
[code]

[2015-11-04 08:52] danbee commented on #138
I think I had a leftover `.env` file in the `app` directory when I ran them. I'm still figuring out how it all fits together this way!

[2015-11-04 13:32] prrrnd opened #140 "Search query and MySQL"
Hi,

The search query uses ILIKE, which is not available when using a MySQL database.
Any support for MySQL planned? Should I create a PR?

See https://github.com/thoughtbot/administrate/blob/master/administrate/lib/administrate/search.rb#L21

[2015-11-04 13:48] prrrnd commented on #135
Also, the datepickers seem to pick date and time by default, even on date fields.

[2015-11-04 14:43] tomgatzgates opened #141 "Requiring inline_svg twice in the engine.rb file"
Just a heads up, not sure if it's an issue or not.

[code]

[2015-11-04 16:30] mrbrdo opened #143 "Feature Request: Make it ORM-agnostic"
We are using Sequel and are looking for a decent admin (which is a problem even if using ActiveRecord). Since this project still seems young and showing promise, it would be nice if you could extract ORM-specific operations into a separate module so they can more easily be changed for a different ORM.

I think the only difficult thing I found in respect to Sequel was assoc_ids getter/setter which

[2015-11-04 16:35] graysonwright commented on #138
Closing this in favor of #144 - let's move the discussion over there.

Thanks!

[2015-11-04 16:35] #138 closed

[2015-11-04 18:26] astamm78 opened #145 "issues with `rake routes`"
Half the time when I run my `rake routes` command I get the following error:

RailsApp/config/routes.rb:26:in `block (2 levels) in <top (required)>': uninitialized constant DashboardManifest (NameError)

Other times my routes print correctly to the console, but there's no listing for my admin namespaced routes.

I've seen the `uninitialized constant DashboardManifest (NameError)` error pop up rand

[2015-11-04 18:26] astamm78 opened #146 "uninitialized constant DashboardManifest (NameError)"
Half the time when I run my `rake routes` command I get the following error:

RailsApp/config/routes.rb:26:in `block (2 levels) in <top (required)>': uninitialized constant DashboardManifest (NameError)

I've seen the `uninitialized constant DashboardManifest (NameError)` error pop up randomly when using generators as well, but the error doesn't seem to appear consistently.

[2015-11-04 18:38] graysonwright commented on #145
@astamm78 If you've already run the `administrate:install` generator, it has added a block to your `config/routes.rb` that sets up routes for your admin interface.

If you've deleted your `DashboardManifest`, then the routing logic will fail with the `uninitialized constant` error. Rails generators load in the routes file, so you're in a bit of a chicken-and-egg situation: you can't re-generate th

[2015-11-04 18:56] astamm78 commented on #145
I hadn't deleted my DashboardManifest file, I did edit it a little, reordered some of the models

I tried your advice above, but then hit this error:

/Users/andrewstamm/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/administrate-0.1.0/lib/generators/administrate/dashboard/dashboard_generator.rb:87:in `const_get': wrong constant name #<class:0x007fcef5181b38> (NameError)

[2015-11-04 19:00] graysonwright commented on #145
Hm, can you post the contents of your `DashboardManifest`?

Also, can you run `ActiveRecord::Base.descendants` in your rails console, and paste the output?

[2015-11-04 19:02] astamm78 commented on #145
Contents of `DashboardManifest`

# DashboardManifest tells Administrate which dashboards to display
class DashboardManifest
  # `DASHBOARDS`
  # a list of dashboards to display in the side navigation menu
  #
  # These are all of the rails models that we found in your database
  # at the time you installed Administrate.
  #
  # To show or hide dashboards, add or remove the model name from this lis

[2015-11-04 19:09] graysonwright commented on #145
Ah, @astamm78  - I think it's having trouble with the models nested under the `TravelBook` module.

We currently don't support namespaced models like that, but it's on our roadmap.

[2015-11-04 19:13] astamm78 commented on #145
You mean Model relations like this?

`  has_many :created_travel_pages, class_name: "TravelPage", inverse_of: :primary_travel_book`

[2015-11-04 19:22] graysonwright commented on #145
That kind of relationship should be fine. I think it's hitting an error with the dynamically generated classes in your application (in the `ActiveRecord::Base.descendants`, those are the classes like `#<Class:0x007fcef5181b38>`).

Is your codebase open-source? It might be easier to debug if I can poke around a bit.

If not, can you post your `Gemfile` and `Gemfile.lock`?

[2015-11-04 19:24] graysonwright commented on #146
This seems like a duplicate of #145 - I'm closing so we can keep the discussion in one place.

[2015-11-04 19:24] #146 closed

[2015-11-04 19:26] graysonwright commented on #140
@prrrnd the plan is to extract that database-specific logic into an `Administrate::DB::Postgres` class, and add adapters for different databases alongside it.

I don't think I'll get an opportunity to work on this until the weekend - if you want to start in on it, that would be great!

[2015-11-04 19:27] astamm78 commented on #145
So, I tore out my previous installation of the administrate gem and started from scratch… I'm still running into the `uninitialized constant DashboardManifest (NameError)` error despite a clean install with no customization.

I re-ran `ActiveRecord::Base.descendants` and got different output this time:

[#<Class:0x007f9b3a3e8320>(travel_book_id: integer, region_id: integer), #<Class:0x007f9b3a51e8

[2015-11-04 19:32] graysonwright commented on #145
Alright - I should have a chance to look at this more tonight, but it's rather strange to see elements in the `ActiveRecord::Base.descendants` array that don't have a constant class name.

Is your codebase open source? If not, could you grant me read access to help debug?

[2015-11-04 19:33] astamm78 commented on #145
I'll grant you read access, thanks!

[2015-11-04 19:45] graysonwright commented on #143
@mrbrdo thanks for your interest! I don't have much experience with Sequel, so I'd need to look into it a bit. Is there a good sample Rails application that uses Sequel that I could use to test with? I'd like to try out your monkeypatches to get a feel for how they would work.

I think we can change the Administrate API a bit to make it easier to implement Sequel support, without requiring as much

[2015-11-04 19:47] graysonwright commented on #141
Good catch - that shouldn't affect anything, but we should still remove it.

[2015-11-04 19:56] prrrnd commented on #140
@graysonwright I see. I'll try to start on this before the weekend.

[2015-11-04 20:10] barnaclebarnes commented on #134
+1 for adding sass-rails to the gemfile. This should at least me a note in the docs.

[2015-11-05 06:18] mrbrdo commented on #143
Hey,

Not sure for sample apps, I was able to find this app which is using a recent version of Rails with Sequel:
https://github.com/nathanl/searchlight_demo

Other than that, https://github.com/TalentBox/sequel-rails is usually used for Rails integration (as in the above app).

Note that I just monkey-patched enough to get the thing going on our project (which is for a client so I can't disclose

[2015-11-05 08:35] diddeb commented on #143
:+1:

We're on a highly custom domain model, using our own backend (not Sequel, not AR). If the internals of the API were a bit more general we could make our own adapters and make it work fine.

[2015-11-05 11:12] lorenzk opened #149 "Please change the example e-mail addresses to end in @example.com"
Your demo has realistic looking e-mail addresses. A lot of those probably are real. Those will get picked up by crawlers and receive spam.

Please change the demo addresses to end in @example.com, that way nobody receives those spam mails.

P.S.: That's also a good idea for all local testing you ever do. If you ever accidentally configure your dev setup with the real e-mail server, nothing bad hap

[2015-11-05 11:23] davit-khaburdzania opened #150 "Enum attribute type"
it's seems like i'm unable to set enum field type

[2015-11-05 13:04] mosic opened #151 "The Products page in the demo returns a 500 error"
It's this page: https://administrate-prototype.herokuapp.com/admin/products

The other ones are responding normally. Nice project btw!

[2015-11-05 15:22] johnmeehan opened #155 "Customizing page views - missing view generators?"
Following the documentation after a new set up.
RE:   https://administrate-docs.herokuapp.com/customizing_page_views

Following fresh set up on an existing app. running:
[code]
and
[code]

[2015-11-05 15:30] johnmeehan commented on #155
oops....
installing with just gem 'administrate' pulled me down version 0.0.4

updating to gem 'administrate', '~> 0.1.0'
got me going.

[2015-11-05 15:30] #155 closed

[2015-11-05 15:32] graysonwright commented on #155
@johnmeehan cool, glad you're set. Let us know if you run into any more issues.

Anyone else finding this issue - the current version can be found at https://rubygems.org/gems/administrate.

[2015-11-05 16:09] graysonwright opened #157 "Smart Searching"
The long-term plan for the search bar is to support structured queries, to allow people to do complex searches over the data from a single field.

We'd like to support:
- Searching numeric fields for values greater than, less than, or equal to a given number
- Searching text fields for text including a given string
- Searching boolean fields by `true` or `false` value
- More than one of these ^ in

[2015-11-05 16:17] danbee commented on #157
I wonder if the whole search functionality should stay simple, but had some hooks to enable the dev to integrate more advanced search.

For example, if the app already has search implemented using something like Elasticsearch it would be better if there was an easy way to integrate that rather than having another search mechanism.

[2015-11-05 16:22] graysonwright commented on #143
Good to know there's demand!

@diddeb - what operations would you need to be able to customize to get this working in your app? (e.g. finding all records, single-record lookup, looking up associated has_many/has_one objects, etc).

Phrased differently: Where does your domain model differ from ActiveRecord, from the perspective of the controller layer?

[2015-11-05 17:02] mrbrdo commented on #143
Let me jump in and list a few that I know are an issue for Sequel:
- association reflection (and other reflection like column_types, attribute_names etc)
- assoc_ids getter/setter for "has_many"
- pagination
- looking up associated has_many/has_one objects (unless using `association_proxies` plugin)

[2015-11-05 18:40] dopudesign opened #158 "Issue: undefined method `per'"
I am hitting this error no matter how many models I remove form my DashboardManifest when visiting localhost:3000/admin.

Currently running rails `4.2.4`

The gem installed with no issues and the install ran perfectly with no issues. I chose to not configure anything until I could get the base up and running, however it looks like that is not possible. I checked to make sure all dependencies were

[2015-11-05 18:41] #134 closed

[2015-11-05 18:41] #141 closed

[2015-11-05 18:44] graysonwright commented on #158
I believe the `per` method is being defined by `kaminari`, which is a dependency of Administrate. It's used to paginate objects on index pages.

One way to debug this would be to copy [this `index` method](https://github.com/thoughtbot/administrate/blob/master/app/controllers/administrate/application_controller.rb#L3-L15) into your `app/controllers/admin/application_controller.rb`. If you remove t

[2015-11-05 18:46] graysonwright commented on #134
Should be fixed! This will go out in `v0.1.1`, hopefully tomorrow.

[2015-11-05 18:56] nyrf opened #159 "Custom field types not work"
http://administrate-docs.herokuapp.com/adding_custom_field_types, i followed this, but got error:

[code]

[code]

[2015-11-05 19:02] dopudesign commented on #158
Thank you for the speedy response @graysonwright --

I am running kaminari (`Using kaminari 0.16.3`)

Added the index method to `app/controllers/admin/application_controller.rb` --

[code]

Looks like the page is going to load, though may take an hour since I am trying out Administrate as a solution on a large and active project (ex. 355,000 active users stored in my DB and millions of additional

[2015-11-05 19:04] graysonwright commented on #158
yep, looks like that's the issue. Are you using other pagination libraries in your app that might be conflicting with Kaminari?

[2015-11-05 19:05] graysonwright commented on #159
@nyrf - it looks like that documentation's a little bit out of date. Can you try running `rails generate administrate:field gravatar`, and using that as a starting point for your custom field?

I'll update the documentation to reflect the new instructions.

[2015-11-05 19:10] dopudesign commented on #158
ah, will_paginate...

Going to try the following:

[code]

Will report back soon.

[2015-11-05 19:11] graysonwright commented on #159
@nyrf check out the updated instructions:
http://administrate-docs.herokuapp.com/adding_custom_field_types

Let me know if you run into any more problems!

[2015-11-05 19:17] graysonwright commented on #158
ah, alright. Seems like we're not the only ones with this issue. :smile:

- https://github.com/activeadmin/activeadmin/issues/3009
- https://github.com/activeadmin/activeadmin/issues/2537
- https://github.com/activeadmin/activeadmin/issues/670
- https://github.com/activeadmin/activeadmin/issues/462
- https://github.com/activeadmin/activeadmin/issues/330
- https://github.com/sferik/rails_admin/issu

[2015-11-05 19:19] dopudesign commented on #158
Yep, kaminari is the better choice (IMHO), but I walked into a 7 year old rails app that is pretty firmly planted in will_paginate. Time to take a deeper dive. I will update this as to whether or not I find a work around or if I have to switch over to kaminari completely to use Administrate.

[2015-11-05 19:22] graysonwright commented on #158
@dopudesign it might be easiest to keep using `will_paginate`, by replacing that line in the `index` method with the `will_paginate` equivalent, and then [customizing the index page](https://administrate-docs.herokuapp.com/customizing_page_views) to display the `will_paginate` links.

[2015-11-05 19:39] thorncp commented on #157
What do you about making the first step be a controller method that's overridable? I'm currently searching a polymorphic association, which requires some hand holding, and I have to override the action to replace Administrate's [default search](https://github.com/thoughtbot/administrate/blob/01e125c/app/controllers/administrate/application_controller.rb#L5). If this happened in a method, e.g. `sea

[2015-11-05 19:42] graysonwright commented on #157
@thorncp I like that a lot. Right now there's a lot going on in the index method, and that would be a good first step towards breaking it out.

[2015-11-05 19:46] dopudesign commented on #158
Updated the index method in `app/controllers/admin/application_controller.rb` to:

[code]

And strangely enough, the kaminari pagination links work great.... SO, issue solved. Thank you for trouble shooting with me @graysonwright

[2015-11-05 19:48] graysonwright commented on #158
Yeah, no problem! Glad it's working out for you!

In future versions, I think we'll extract a `paginate` method that you can overwrite in the controller, so you won't have to override quite so much.

[2015-11-05 19:48] #158 closed

[2015-11-05 19:53] nyrf commented on #159
@graysonwright Thanks, but it still not work, got same error.

[2015-11-05 19:55] nyrf commented on #159
@graysonwright Sorry, my misstake, it works well. thanks.

[2015-11-05 19:55] #159 closed

[2015-11-05 20:37] wonderer007 opened #162 "Products index page is broken"
I just randomly click on http://administrate-prototype.herokuapp.com/admin/products and it is broken. Can I fix this error and submit a patch ?
Thanks

[2015-11-05 20:53] diddeb commented on #143
@graysonwright Of course @mrbrdo's thoughts above apply to my concerns as well. But in our particular case (and I am *not* saying it's a mainstream case) we pretty much deal with PORO's fetched and updated through an event bus via external systems.

Upon reviewing the codebase I believe the internals of the API could be a bit more relaxed and not assume AR (or any other ORM) straight off. But, wit

[2015-11-05 20:59] graysonwright commented on #159
@nyrf glad you figured it out, I hope the new docs helped. Let me know if you have any other trouble!

[2015-11-05 21:10] graysonwright commented on #162
@wonderer007 it looks like our recent reorganization of the repo ( #144) has created a few hiccups for the demo site.

If you'd like to take a look at this, that would be great! Otherwise I'll be able to take care of it around 6pm PST.

[2015-11-05 23:00] leomao10 opened #163 "Sort by function in line item doesn't work in `quantity` and `unit price`"
Here is the link I tried:
https://administrate-prototype.herokuapp.com/admin/line_items?direction=asc&order=quantity

[2015-11-05 23:25] graysonwright commented on #149
@lorenzk Great call, thanks. I'll swap them out tonight.

[2015-11-05 23:29] graysonwright commented on #145
@sgrif mind if I loop you in?

We're looking into an issue where there are subclasses of `ActiveRecord::Base` that aren't named constants:

[code]

When I ran `ActiveRecord::Base.descendants.map(&:table_name)`, I got:

[code]

Is there some ActiveRecord magic going on here around HABTM?
If so, is there a way to detect and ignore those un-named classes?

[2015-11-05 23:33] graysonwright commented on #163
@leomao10 I suspect this is related to the project reorganization we did in #144, and this might be related to #162. I'll be able to troubleshoot it this evening, around 6 PST. Thanks for the heads-up!

[2015-11-05 23:34] graysonwright commented on #151
@mosic Thanks for the heads-up! Looks like this is a duplicate of https://github.com/thoughtbot/administrate/issues/162 - let's move the conversation over there. :smile:

[2015-11-05 23:34] #151 closed

[2015-11-05 23:58] sgrif commented on #145
Not sure where those are coming from, but it shouldn't be Active Record. We don't assign the join model from HABTM to a constant, but we do give it a name. Can you give me an isolated script to reproduce?

[2015-11-06 01:38] graysonwright commented on #145
yeah, I'll work on that - it might be a couple days, though - lot of issues to get through.

Thanks!

[2015-11-06 02:51] estiens opened #164 "undefined method `new' for nil:NilClass on custom attribute"
Every time I try to add a custom attribute to the show page, I get the following error from this code

    def attribute_field(dashboard, resource, attribute_name, page)
        value = get_attribute_value(resource, attribute_name)

        dashboard.
          attribute_types[attribute_name].
          new(attribute_name, value, page)
    end

I used the gravatar example as a base.

I am trying t

[2015-11-06 08:04] hayesgm opened #167 "Generators trip over irregular inflections"
When running `rails generate administrate:install` in an app with acronyms, the following error occurs:

[code]

[code]

The generators should check the inflectors when generating files.

[2015-11-06 08:18] croaky commented on #140
Interim solution at https://github.com/thoughtbot/administrate/pull/166

[2015-11-06 08:44] graysonwright commented on #162
Dove into the Heroku logs, found this:

[code]

[2015-11-06 08:49] graysonwright commented on #162
damn, looks like someone added a product where the slug was blank.

[2015-11-06 08:51] graysonwright commented on #163
Yep - looks like this was caused by the same error in #144. I deleted the offending record and it's working now - I'm going to add safeguards against that happening in the future.

[2015-11-06 08:51] #163 closed

[2015-11-06 09:01] graysonwright commented on #162
Preventative fix is up at #169.

[2015-11-06 09:21] #149 closed

[2015-11-06 11:37] mgrachev commented on #150
You can generate field type for enum:
[code]

For enum would only need to modify the file `form.html.erb`:

[code]

Then open the file dashboard and replace the `Field :: Number` on` EnumField `. Everything should work.

[2015-11-06 11:39] graysonwright commented on #150
@mgrachev thanks! Looks like I missed this issue.

@davit-khaburdzania - if that works for you, feel free to close the issue!

[2015-11-06 11:47] davit-khaburdzania commented on #150
@mgrachev checked it and everything seems to be works. Thanks a lot

[2015-11-06 11:47] #150 closed

[2015-11-06 11:48] graysonwright commented on #150
:tada:

[2015-11-06 12:21] graysonwright commented on #149
Just re-ran the seeds so the app has `example.com` addresses. Thanks again for this catch!

[2015-11-06 12:49] maxkwallace opened #173 "Implicit dependencies on the Rails Asset Pipeline"
When I added Administrate to my Rails app, things were broken out of the box. My app is designed to be an API backend only, and didn't include Sprockets or several other necessary Rails Asset Pipeline gems.

I'm not a Rails expert, so I can't speak to how this issue should be handled in general. But you might find it worthwhile to make these dependencies explicit within Administrate.

For referenc

[2015-11-06 12:50] graysonwright commented on #173
@maxkwallace good point - we can fix that. Give me a couple minutes and I can have a PR up.

[2015-11-06 13:04] graysonwright commented on #173
@maxkwallace can you narrow that list down a little more? For example, Administrate doesn't use any CoffeeScript. If you remove that from the list, does the app still error out?

[2015-11-06 13:10] graysonwright commented on #173
I've opened up #174, which hopefully fixes this. Can you try pointing your Gemfile at:

[code]

and see if it works?

[2015-11-06 13:19] #162 closed

[2015-11-06 13:28] maxkwallace commented on #173
@graysonwright Gladly-- I'll give that a shot. Your question above is well-warrented btw... I just copied those gems from the Rails guides, so the list is neither minimal nor exhaustive. I should have clarified that in my original post.

[2015-11-06 13:34] maxkwallace commented on #173
@graysonwright Here's the steps I followed:

- Created a new branch off of `master` in my app
- Added `gem "administrate", github: "thoughtbot/administrate", branch: "gw-explicit-asset-dependencies"` to my `Gemfile`
- Ran `rails generate administrate:install`
- Saw the following error (same as before):

[code]
- Uncommented `require "sprockets/railtie"` in my `config/application.rb`
- Re-ran `rail

[2015-11-06 13:36] graysonwright commented on #173
oh, cool. mind trying one more time for me? I think we can get it if I add that `require` statement to the Administrate engine file – [like this](https://github.com/thoughtbot/administrate/commit/bfb43f43f5955cbb1c4c0026a8554e8960699ccc).

[2015-11-06 13:40] graysonwright commented on #164
@estiens - it looks like you might need to add your attribute to the dashboard, under the `RESOURCE_TYPES` constant. I just realized that that part is missing from [the docs](https://administrate-docs.herokuapp.com/adding_custom_field_types).

It should look something like this - I'm assuming you're trying to add the gravatar to the `User` model's `email` field, and that your generated field class

[2015-11-06 13:41] maxkwallace opened #175 "How to customize the displayed text for an associated model?"
At https://administrate-prototype.herokuapp.com/admin/orders it looks like each order belongs to a Customer. This association is rendered nicely as:

![prototype](https://cloud.githubusercontent.com/assets/3249377/10998243/c0420a80-8461-11e5-8b52-8a5d528dbdf7.png)

Within my own app, I have a similar relationship: Student belongs to School. After setting up Administrate within my own app, I see th

[2015-11-06 13:43] maxkwallace commented on #173
@graysonwright Not at all! I'll give it another shot.

[2015-11-06 13:43] graysonwright commented on #175
@maxkwallace you're right - we need to add that to our docs. Right now, every model is displayed using its `to_s` method - you can define `School#to_s` to display whatever you like there.

[2015-11-06 13:46] tomgatzgates commented on #173
Hey, jumping here because I'm in a very similar situation to @maxkwallace.

I'm getting the following as my error now.

[code]

FYI also working on change our rails 4 api app to an engine and mounting it inside a host app running admin. The reason being using Administrate will be temporary for now until we get the resource for a custom front-end, api driven admin system.

[2015-11-06 13:54] graysonwright commented on #167
Interesting, I haven't worked with acronyms in Rails before.

What happens if you run this? `rails generate administrate:dashboard SKU`

[2015-11-06 13:59] graysonwright commented on #175
I'm going to close this issue for now - it overlaps a fair bit with #129. If you have any more questions around it, feel free to open it back up!

[2015-11-06 13:59] #175 closed

[2015-11-06 13:59] tomgatzgates commented on #173
Worked for me but only with require "sprockets/railtie" in my config/application.rb

Sorry to butt in, I'm in a very similar situation to @maxkwallace

[2015-11-06 14:04] maxkwallace commented on #173
@graysonwright I'm trying to test this but having trouble verifying that bundler is downloading the updated branch after your [recent commit](https://github.com/thoughtbot/administrate/commit/bfb43f43f5955cbb1c4c0026a8554e8960699ccc)

Following the same steps as before didn't work (same error as the one I posted above), but I suspect that I might just not have the updated version of the gem. I tri

[2015-11-06 14:05] graysonwright commented on #173
hmm, maybe `bundle update administrate` ?

[2015-11-06 14:05] graysonwright commented on #173
it might be that your Gemfile.lock has it locked on the previous commit.

[2015-11-06 14:07] graysonwright commented on #173
if that doesn't work, I'd try `gem uninstall administrate`, delete your `Gemfile.lock`, and then try to do a fresh `bundle install`.

[2015-11-06 14:10] tomgatzgates commented on #173
A secondary issue i've noticed from this implantation route (API app)

[code]

[2015-11-06 14:11] graysonwright commented on #173
oh, interesting. @tomgatzgates are you using any pagination gems in your app that might be conflicting with Kaminari?

[2015-11-06 14:12] graysonwright commented on #173
also, I think I might need to start up an API-only app to test this with. Did you start from [rails-api](https://github.com/rails-api/rails-api)?

[2015-11-06 14:13] maxkwallace commented on #175
@graysonwright Sounds good. Thanks for the tip!

[2015-11-06 14:13] graysonwright commented on #173
@tomgatzgates - you might want to check out #158 for the `paginate` issue. Sounds similar to something we found before.

[2015-11-06 14:18] graysonwright commented on #130
hm... I originally moved away from a similar solution, with `ATTRIBUTE_TYPES.keys` and `READ_ONLY_ATTRIBUTES`, because I thought it would be confusing what was part of the API and what wasn't.

I do like how this solution has a single place to change the order, but I'm not sure if it'll make things difficult for new users.

That was in #111. What do you think?

[2015-11-06 14:24] tomgatzgates commented on #173
@graysonwright Thanks, I'll take a look.
Using grape-kaminari so perhaps that. I'll update if I find anything new

[2015-11-06 14:24] maxkwallace commented on #173
@graysonwright On a fresh branch:
- `gem uninstall administrate`
- `rm Gemfile.lock`
- `bundle install`
- Added `gem "administrate", github: "thoughtbot/administrate", branch: "gw-explicit-asset-dependencies"` to my Gemfile.
- `bundle install`
- ` rails generate administrate:install`

I still see the error:
[code]

[2015-11-06 14:26] graysonwright commented on #173
ok - I'll create my own repo to play around with and see if I can get it working. Thanks for helping debug this!

[2015-11-06 14:27] graysonwright commented on #143
@diddeb thanks! I'm glad to see there's so much interest in it!

I definitely want to open up and modularize support for ORMs. If you find any points in the API where it's particularly bad to hack around things, let me know and we can open it up more. :smile:

At the moment I'm focusing on stability, so this might get pushed off for a week or so. If you make any progress before then, let me know!

[2015-11-06 14:27] maxkwallace commented on #173
Glad to help-- thanks for the prompt replies!

[2015-11-06 14:27] graysonwright commented on #173
anytime. :smile:

[2015-11-06 14:28] tomgatzgates opened #176 "Issue with Enums"
[code]

[2015-11-06 14:28] tomgatzgates commented on #176
Working on a fix, but posted here to make others aware

[2015-11-06 14:28] graysonwright commented on #176
I think someone got enums working earlier, in #150

[2015-11-06 14:29] graysonwright commented on #176
might be worth it to make that a core field type?

[2015-11-06 14:29] diddeb commented on #143
@graysonwright You bet. Thanks for your efforts!

[2015-11-06 14:41] mrbrdo commented on #143
[code]
If you start working on this in "a week or so" that's much better than what I expected. Nice to see development is so active. :+1: Let us know when you got some idea how to tackle this, I'd be happy to provide input. My general feeling was proxy/adapter objects for model classes, model instances and relations (querying) would work pretty well and would not be too difficult to implement.

[2015-11-06 14:42] diddeb commented on #143
:+1: to what @mrbrdo said.

[2015-11-06 15:10] tomgatzgates commented on #176
Perhaps, but for the moment it's a small use case

[2015-11-06 15:10] #176 closed

[2015-11-06 15:11] tomgatzgates opened #177 "How do I customise the page title?"
Currently my page title looks like `#<User:0x007fafae315280>`
I'm struggling to find where I can overwrite that.

[2015-11-06 15:14] maxkwallace commented on #177
@tomgatzgates I assume you're referring to the page titles for individual models? Take a look at the following issues:

https://github.com/thoughtbot/administrate/issues/129
https://github.com/thoughtbot/administrate/issues/175

[2015-11-06 15:30] mattgillooly commented on #135
This issue is blocking me from being able to replace an ActiveAdmin deployment with Administrate.

[2015-11-06 15:33] tomgatzgates commented on #177
Fantastic, thanks!

[2015-11-06 15:33] #177 closed

[2015-11-06 15:33] maxkwallace commented on #129
I agree with @jcutrell 's suggestion. Using `to_s` for Administrate's representation of the model makes me a bit nervous, because there's no way to isolate admin-specific display logic from how the Model is represented elsewhere in the app (in the console, etc.).

I would consider even going a step further, and have users put their `administrate_title` methods in Administrate-specific views, rathe

[2015-11-06 15:37] rikkipitt commented on #129
Agreed. We need to make sure things don't get too DSL'ly as that's the first guideline principle of the whole project...

[2015-11-06 15:39] jcutrell commented on #129
Perhaps it's best placed in the dashboard class somehow? Or maybe some kind of presentational class can be generated to accompany the dashboard?

I agree - having an extra method on the model just for display doesn't seem right to me. I think something like a ViewModel (or whatever term you want to use) should wrap the model instance and decorate it with administrate-specific methods that delegate

[2015-11-06 16:08] maxkwallace opened #178 "Devise inet fields may be treated as Field::String in Administrate, which results in SQL errors when searching"
I'm seeing an `ActiveRecord::StatementInvalid` error when searching over my Users in Administrate.

Postgres gives the following error:
[code]

The SQL query that's erroring looks like:
[code]

As far as I can tell, this is because the `current_sign_in_ip` attribute (managed by Devise) is treated as a String in Administrate:

[code]

whereas it's actually an inet in Postgres:

[code]

so attemptin

[2015-11-06 16:19] astamm78 commented on #145
I found the issue tended to only happen if I had `rails server` running, I made changes to my administrate setup and then would try to run `rake routes` … if I stopped/restarted the server then I wouldn't have the issue.

Hope this helps

[2015-11-06 16:21] gpinkham opened #179 "How to use with namespaced models."
I have a user model that lives in Platform::User..   I ran the generator with administrate::dashboard Platform::User and this created a user_dashboard.rb and a users_controller.rb..     when I try to go to the users page in admin it fails saying

[code]

it points to this line in the controller:

[code]

I tried to remove the Platform:: from the controller and dashboard file but that just produced

[2015-11-06 17:58] mcmire commented on #130
Two points about that:

* Since `SHOW_PAGE_ATTRIBUTES` uses the keys from `ATTRIBUTE_TYPES`, you're still abusing a hash and assuming its keys are ordered.
* Other than `SHOW_PAGE_ATTRIBUTES`, is `ATTRIBUTE_TYPES` now used at all? That's unclear from the changes.

[2015-11-06 18:17] gpinkham commented on #178
you could make a custom field type for inet fields.. (I think)

[2015-11-06 18:19] graysonwright commented on #178
@maxkwallace - is `inet` supported in other databases, or just postgres?

@gpinkham is right - you could create a class:

[code]

with the partials to match.

[2015-11-06 18:30] tomgatzgates commented on #179
I'm looking for something similar.

I want to create a set of name spaced models that extend my application models so I can add in Admin specific methods and not pollute my application models.

[2015-11-06 18:45] estiens commented on #164
This works well, thanks! Maybe make a note to add to docs.

[2015-11-06 18:45] #164 closed

[2015-11-06 18:55] gpinkham commented on #179
I did some digging into the code..    the Resource Resolver uses the controller_path to create the class name..   for my Platform::User it was admin_users which in turn becomes User..   making it platform_users doesn't help as that becomes admin/platform_users and in turn PlatformUser not Platform::User..

[2015-11-06 19:56] gpinkham commented on #179
feels like it's going to be quite a change to make this work. .  every where I make a small change it leads down a path to some magic somewhere else in the gem.    make a different change and some other magic fails.     there's far too many assumptions that the classes do not have a namespace..    I will continue and see if I can get it working..

[2015-11-06 20:09] estiens opened #181 "Feature Request: Override Default Templates"
You can override the default views, but you can't override the application layout to customize the sidebar.

[2015-11-06 20:31] astamm78 opened #182 "Dashboard Manifest generator"
Rather than running `rails generate administrate:install` and going through the overwrite prompts for each model, would it be possible to have a single-model generator for when new models get added to an application?

[2015-11-06 21:07] gpinkham commented on #182
rails generate administrate:dashboard Foo

[2015-11-06 21:10] gpinkham commented on #181
you can copy the _sidebar.html.erb file to app/views/administrate/application/ and then customize it (would be nice the the gem did it for you though)

[2015-11-06 22:07] estiens commented on #181
Is it possible to override javascript files the same way?

[2015-11-06 22:26] mikecx opened #183 "Feature Request: Add filtering"
The ability to filter the collections on the index page would be really handy.

[2015-11-06 22:27] mikecx opened #184 "Feature Request: Batch Editing"
Batch editing, like what's provided by active_admin is a big feature that seems to be missing in administrate for now.

[2015-11-06 22:46] javierjulio commented on #184
Nice, I wanted to post about this too. Would this be a welcome feature? I'd be happy to contribute on this or something else.

[2015-11-06 23:31] tomgatzgates commented on #179
I'm at a point where I've modified the resource resolver for the namespaced class. I.e. `models/admin/user.rb` which inherits from `models/user.rb`

Currently working on getting the `has_many` and `has_one` collection tables working.
For example: User has many Orders
My error is `undefined method `order_path'`. I need to it be looking for `admin_order_path`

I'l let you know if I get anywhere.

I'

[2015-11-07 01:04] pkrefta commented on #150
@graysonwright What do you think about adding Field::Enum into built-in field list ? :smiley:

[2015-11-07 09:54] stefanwille opened #185 "Improve default styling of validation messages"
If I edit a user, delete the name and click "Update", the resulting page has a broken layout. Please see my screenshot.

<img width="1299" alt="screenshot" src="https://cloud.githubusercontent.com/assets/331756/11014597/f613d224-853d-11e5-8b76-9804b84338a3.png">

[2015-11-07 10:02] mgrachev commented on #176
@graysonwright Maybe my example add to the documentation?

[2015-11-07 10:56] maxkwallace commented on #178
Yup, that would definitely work. My main concern when opening this issue was not finding a solution as much as making sure Administrate doesn't appear to have bugs when people first set it up (hurts their impression of the gem, bad UX). So it may be worth adding a check for `inet` fields and excluding them from `ATTRIBUTE_TYPES` by default.

After checking:
- https://community.oracle.com/thread/29

[2015-11-07 16:34] Oxyrus opened #186 "Display a "Getting Started" page if there is no root dashboard"
I followed the setup instructions, however when I go to /admin the uninitialized constant AdminController error raises. What may be causing it?

[2015-11-07 17:36] graysonwright commented on #178
@maxkwallace you're right. At the moment, Administrate uses the `String` field type whenever it doesn't recognize the type of a database column. We can change it up so  these unrecognized columns return `searchable? => false`.

[2015-11-07 17:43] graysonwright commented on #129
@jcutrell I think at the moment the Dashboard class is the best place for this. If we find ourselves adding a lot of view-specific methods in there, we can consider extracting a decorator layer.

I'm working on a PR now.

[2015-11-07 17:59] rikkipitt opened #187 "Custom javascript"
@graysonwright How do we add javascripts to the tree for custom fields? I put a ckeditor.js file that initializes ckeditor in:

`app/assets/javascripts/administrate`

However, it's not being required by the master administrate application.js

Any ideas? Cheers!

[2015-11-07 20:32] caseyhelbling commented on #187
I think I got this working by dropping a `application.js` in `app/assets/javascripts` which does the require_tree dance. I then dropped my my extra js files in `app/assets/javascripts` like any normal rails app.

[2015-11-07 20:36] rikkipitt commented on #187
@caseyhelbling But does your main frontend now require your dashboard scripts?

I think the plugins need a bit of work (#123) so that we can include custom styles and scripts and enable them to be packaged nicely.

My temporary workaround is to do something like this and add the new compiled script to `assets.rb`

[code]

[2015-11-08 00:18] tomgatzgates opened #189 "No route matches [POST] "/admin/users/22""
I'm running into an issue when I try to edit any of my models that I get a no route matches error. Has anyone else run into the same thing?

[2015-11-08 00:35] tomgatzgates commented on #189
Rails-api gem causing issues. Ignore

[2015-11-08 00:35] #189 closed

[2015-11-08 00:58] daveit opened #190 "Demo source code"
I've had a brief play, but have a few questions.
I'm sure the demo source code will answer most of them, but darned if I can find it ?
Thanks, Dave

[2015-11-08 09:57] graysonwright commented on #185
oh, wow - that's pretty bad. Thanks for pointing this out!

[2015-11-08 10:09] graysonwright commented on #129
#191 introduces a fix for this issue - please give feedback there!

[2015-11-08 10:48] ismaGNU commented on #186
Hi Oxyrus, have you added any migration or model? This happened to me when I have an empty proyect.

[2015-11-08 11:07] ismaGNU opened #192 "Feature Request: Nested Forms"
Hi guys,

Thanks in advance for this great project, really good job. I was looking for something like that such a long time.

I was digging around and I have missed and option to build nested forms. I don´t know if there is an easy way to do it. IMHO its needed for the example app when you add line items to an order. Its painful to first create an order, save it then create line items and associat

[2015-11-08 15:08] mrbrdo commented on #145
I just wanted to point out, if these classes are not being generated by ActiveRecord itself, an adapter system like we are discussing in #143 would probably make it pretty easy for the user to override this (if nothing else, monkey-patching the appropriate method of the administrate *AR adapter* would be easy and reliable).

[2015-11-08 17:23] Oxyrus commented on #186
No, I don't have models yet, so that is the problem, thank you!

[2015-11-08 19:15] graysonwright commented on #190
@daveit - the demo app is hosted in the same repository as the rest of administrate, in the `spec/example_app` subdirectory. Here's a link: https://github.com/thoughtbot/administrate/tree/master/spec/example_app

Cheers! Reopen this if you have any other questions about the demo app.

[2015-11-08 19:15] #190 closed

[2015-11-08 19:50] graysonwright commented on #192
hey, @ismaGNU - thanks! Glad to hear you like it!

You're right - at the moment we don't support nested forms. There are a couple ways you could implement it yourself, though.

If we're sticking with the `Order`/`LineItem` example from the demo app, you could create a `NestedLineItemField` that took care of the nested form logic. That would look something like this:

[code]

This would create:
[co

[2015-11-08 19:54] graysonwright commented on #186
I'm going to reopen this - if there are no models defined, we can display a helpful "Getting Started" page instead.

[2015-11-08 20:28] graysonwright commented on #123
I'm starting to think that plugins could have a `Administrate::Plugin` subclass that defines:

- the path of a single javascript file to `require`
- the path of a single `scss` file to `@import`
- custom view templates (as necessary)

The root-level javascript and CSS files could require the other stylesheets and scripts for the plugin. Custom view templates would be a bit tricker, because we woul

[2015-11-08 20:29] graysonwright commented on #187
Hey, folks! Sorry for the delayed response.

Yeah, I definitely think this is something we need, and when we settle on a solution we should be able to get it out quickly.

A few options:

- Automatically include any files in `app/assets/javascripts/administrate/`. This might be a bit too magical
- Add a generator that copies over all of Administrate's javascripts to `app/assets/javascripts/adminis

[2015-11-08 20:30] graysonwright commented on #187
@rikkipitt - you raise a good concern. I'd like to keep admin-specific js and css separate from the main application's js/css. If an application needs to share styles or scripts across both sides of the app, that will be fairly simple to do with `require` or `@import` within the asset files.

[2015-11-08 23:12] graysonwright commented on #135
@jcutrell and @mattgillooly - there's a fix for this in review at #194 - it's part of the [0.1.1 milestone], so it will go out with the rest of those changes.

[0.1.1 milestone](https://github.com/thoughtbot/administrate/milestones/0.1.1)

[2015-11-08 23:16] rikkipitt commented on #123
@graysonwright #187 is an offshoot of this, sorry about that. But this sounds great. An entry point for javascript and stylesheets would be great for custom plugins. I assume extra views would be for things like fields with modals etc.

I had a play last night at creating a WYSIWYG plugin but the limitations on includes was a bit tricky and the workarounds weren't pretty! I.e. `content_for :javasc

[2015-11-09 00:10] leomao10 commented on #163
:+1:

[2015-11-09 00:24] astamm78 commented on #182
Perfect. Missed that in the docs

[2015-11-09 01:12] lucianosousa commented on #129
Why are you guys not using the `to_param` rails method?
http://api.rubyonrails.org/classes/ActiveModel/Conversion.html#method-i-to_param

[2015-11-09 02:58] alvarowolfx opened #195 "Add example of file upload"
Will be good to have a example of how to integrate some form of file upload to people follow. By the way, really nice work on this gem.

[2015-11-09 08:26] leehankyeol commented on #134
@graysonwright  After I added the `sass-rails` gem to my Gemfile as mentioned above, I had to add the `jquery-rails` gem to solve the jQuery dependency issue.

[2015-11-09 09:59] johnmeehan opened #197 "Generated dashboard files won't work without tweeking"
Version: `gem 'administrate', '~> 0.1.0', github: 'thoughtbot/administrate'`

The dashboards that are generated with
[code]
gives us:
[code]

But to get the pages to display without errors I have to implement as per the documentation (For the code to work it needs both ATTRIBUTE_TYPES and attribute_types!
).

[code]

looking at the gem in `/lib/administrate/base/dashboard.rb`
the code still wants

[2015-11-09 10:46] maxkwallace commented on #129
@lucianosousa I think the difference here is that we're looking to customize how the model identifier is displayed for the sake of an admin user (who may be non-technical), rather than display a serialized form of the model's primary key.

Admins (or at least the ones I'm developing for) don't care about IDs-- they want to see something more descriptive, and what that means changes based on the do

[2015-11-09 13:16] minimul opened #199 "Associations are displaying the object id in the select box"
This was after following the basic install install -> `bin/rails generate administrate:install`

![screen shot 2015-11-09 at 8 10 21 am](https://cloud.githubusercontent.com/assets/199862/11034518/209bc286-86ba-11e5-9fa3-6652af2a3f4f.png)

[2015-11-09 13:18] minimul opened #200 "Option to generate with turbolinks enabled"

[2015-11-09 13:19] rikkipitt commented on #199
#129 might help!

[2015-11-09 13:52] tute opened #201 "GitHub Releases for the repo are empty"
https://github.com/thoughtbot/administrate/releases looks empty. We have to push git tags to create new empty GitHub releases.

You can afterwards edit them from the web UI to make them [look good](https://github.com/thoughtbot/clearance/releases). Sample URL: https://github.com/thoughtbot/administrate/releases/new?tag=v0.1.0.

[2015-11-09 14:19] lucianosousa commented on #129
@maxkwallace I always - or most of the cases - assume the same URL in admin and regular pages.
I - most of the times - override the `to_param` just using the name/title variable, using ID's just un rescue cases.
eg:

[code]

I mean, there is none complex stuff in this issue. It's better use some default method to to this than generate a lot of complex code for different models/types

[2015-11-09 14:23] minimul commented on #199
Thanks! Closing.

[2015-11-09 14:23] #199 closed

[2015-11-09 14:58] BGuimberteau commented on #183
:+1:

[2015-11-09 15:12] gpinkham commented on #179
BTW I had the named spaced model working though not happy with the implementation at the moment..  feels quite hackish..  (i have committed it to my fork last Friday)..    Haven't tried any has many yet..  but will today.. I'm going to end up needing to handle namspaced models with nested forms.. so I'm sure I'll tackle a few things..   hoping this works..  tired of fighting with activeadmin.. :-)

[2015-11-09 15:23] graysonwright commented on #134
@leehankyeol good to know, thanks! I'm working on the remaining dependency issues in #174.

Is your app based on RailsApi, Grape or another system?

[2015-11-09 15:30] graysonwright commented on #197
Hey, @johnmeehan - it looks like you might be using an older version of Administrate. Can you check your `Gemfile.lock` and make sure you're on `0.1.0`?

If you're on any `0.0.x` version, upgrading to `0.1.0` should take care of a lot of those problems.

[2015-11-09 15:37] graysonwright commented on #129
@lucianosousa - I think we're talking about different things. This PR isn't related to URLs at all. We're changing how labels like these get generated in the app:

![edit_everardo_hudson___administrate_prototype](https://cloud.githubusercontent.com/assets/829576/11037748/451ab3d4-86b4-11e5-8947-8f869f8b5b68.png)

I think you might be talking about the URLs, which *are* being generated by the `to_p

[2015-11-09 15:43] graysonwright commented on #200
@minimul what's required to enable turbolinks?

[2015-11-09 15:44] graysonwright commented on #183
@mikecx and @BGuimberteau - I'm hoping to add filtering into the search bar, if possible. Here's a discussion around it: #157. Would love your thoughts there!

[2015-11-09 15:50] graysonwright commented on #179
@tomgatzgates I'd love to see your modified `resource_resolver`.

I think the solution might involve changing up the `DashboardManifest` list to use strings instead of symbols, and support namespaces through those. For example,

[code]

I *believe* that `ResourceResolver` will be able to correctly look up these models without major changes. I'm not sure how the router would respond to it.

[2015-11-09 15:51] graysonwright commented on #179
@gpinkham can you post a link to your fork? Interested in how you got it working!

[2015-11-09 16:47] minimul commented on #200
Should be able to just:

- `gem 'turbolinks', github: 'rails/turbolinks' # for turbolinks 3`
- application.html.erb
[code]
- application.js
[code]

Typically, when retrofitting turbolinks a problem can arise with incompatible
existing JavaScript that binds to
[`jQuery.ready()`](https://github.com/rails/turbolinks#jqueryturbolinks).

However, it looks like the JS libraries Administrate is using are

[2015-11-09 16:49] lucianosousa commented on #129
hum, I see.

my fault

[2015-11-09 18:10] picandocodigo commented on #186
I don't know if it's possible at the moment but it would also be cool being able to customize the initial page too, I guess it might be considered if there's going to be a "Getting Started" page?

[2015-11-09 18:23] graysonwright commented on #186
@picandocodigo it shouldn't be difficult to create an "admin home page". You can customize your routes file to change the generated admin root - maybe make it look something like:

[code]

and then you can create an `Admin::WelcomeController` with an `index` action to serve up your custom homepage.

[2015-11-09 18:34] #178 closed

[2015-11-09 18:39] picandocodigo commented on #186
Thanks! It was pretty simple yes, just created a new Controller in the admin namespace and a new view in `app/views/admin/welcome/index.html.erb`. Maybe this can be added in the docs somewhere or FAQ's. I can submit a PR for that if needed (are the docs somewhere on :octocat: ?). Sorry for the OT!

[2015-11-09 18:43] ismaGNU commented on #192
Thanks @graysonwright,  that was my first approach, building LineItemField and inherits from HasMany one. The problem is that I want to have a button to add as line items as I want. So I am stuck at this part.

Anyway, I really appreciate your help and I´ll let you know my progress :dancer:

[2015-11-09 18:58] mikecx commented on #157
I agree the controller method override for search would definitely work. I currently use Elasticsearch mixed with Searchkick but I know there are probably 100 other solutions out there so there's a big need to remain very generic.

The thoughts of filtering came up with issue #183 which definitely complicate the search "chain". In my instance, I currently pass the filters as where clauses to Searc

[2015-11-09 19:13] gpinkham commented on #179
funny thing.. just as your response came to my inbox I was experimenting with changing the dashboard manifest and the code in the routes to handle the names like as 'foo/bar'..     so my code that's in the repo does not have that.    I just started to switch because I also use papertrail and its hard to determine in paper_trail_versions which part is the namespace and which part is simply camelcas

[2015-11-09 19:23] leewaa opened #202 "Generating views creates wrong file paths"
I ran `rails g administrate:views` and I got:
[code]
The paths are wrong. It should be:
`app/views/administrate/application/index.html.erb` etc.

The docs state the correct paths:
http://administrate-docs.herokuapp.com/customizing_page_views

[2015-11-09 20:47] gpinkham opened #204 "Something I found useful using Pundit"
wasn't sure where to include this since there aren't any Wiki pages for the project..      I use Pundit and I have some special security for some Models..  especially my audit trail which I no one should be able to edit/delete..      so I copied the _collection.html.erb file from Administrate into my app/views/administrate/application/ folder..   I then wrapped the links in calls to Pundit and bin

[2015-11-09 21:18] graysonwright commented on #204
@gpinkham nice! Thanks for sharing.

It doesn't look like this is an actual issue, so I'm gonna go ahead and close this. I'd love to figure out how to customize the actions for a resource in a more flexible way, though (e.g. what if I want to add a "Reset Password" link to user resources?

I feel like we can figure something out so that this Pundit use case is supported. Thoughts?

[2015-11-09 21:18] #204 closed

[2015-11-09 21:20] picandocodigo commented on #159
@graysonwright I tried creating a field with the generator and am having the same issue:
[code]
I added some logic to `app/fields/paperclip_field.rb`, modified the views, but still getting:

[code]

Do we have to manually load the fields?

[2015-11-09 21:23] graysonwright commented on #159
@picandocodigo - it looks like in one of your dashboards' `ATTRIBUTE_TYPES` array, you've specified:

[code]

If you change that to:

[code]
then does it work? Also, if I misinterpreted the problem, let me know.

[2015-11-09 21:31] picandocodigo commented on #159
Indeed, that's exactly what was wrong, thank you very much! I have Paperclip integration working flawlessly with Administrate now :)

[2015-11-09 21:58] mcmire opened #205 "Tables should have an explicit link to each resource"
Currently, if you are writing a feature test that involves navigating to a specific resource by going to its table view and then clicking on a row within that table, you need to run that test using a JavaScript driver. This is because the whole row is clickable, and that behavior is added via JavaScript. I'd like to not always have to use a JavaScript driver, so what do you think about adding some

[2015-11-10 03:50] nickmjones commented on #195
+1 would be nice specifically to know how to integrate paperclip. And yes, this is a really excellent gem.

[2015-11-10 04:09] picandocodigo commented on #195
I managed to integrate Paperclip pretty easily. It was already working on my project so I just generated a new field.

[code]

The code for `app/fields/paperclip_field.rb`;
[code]

**VIEWS**

[code]

I have a User model with `avatar` as an attached file. So in my User dashboard, I added the new field to the ATTRIBUTE_TYPES hash (and removed the other `avatar` related fields):
[code]

I am using it

[2015-11-10 05:13] leehankyeol commented on #134
@graysonwright My app is based on [Rails-API](https://github.com/rails-api/rails-api). Thanks!

[2015-11-10 08:50] tomgatzgates opened #207 "Is there a reason permitted params is limited to `FORM_ATTRIBUTES`"
There has been a use case for me where I've wanted to include a hidden field but it's been rejected as it's not in the `FORM_ATTRIBUTES`. I've forked my own Administrate and have made changes specific to my use case but wondered if this was intentional or if others would find it useful. In which case I can pop it up here in a PR.

[2015-11-10 09:58] 5minpause commented on #205
Is this meant only for testing purposes or do you need this for actual using administrate as well?

[2015-11-10 11:12] 5minpause commented on #184
Batch editing is definitely a feature that seems necessary. Coming from ActiveAdmin it will be something our clients expect.

[2015-11-10 13:59] nickmjones commented on #195
@picandocodigo worked perfectly, thanks

[2015-11-10 14:08] nickmjones opened #209 "Using with Clearance"
I'm sure this is an easy thing to do, but I'm having trouble setting Administrate up with Clearance. Simply adding `before_action :require_login` to the admin controllers doesn't do the trick. Some documentation on setting up authentication would be welcomed.

[2015-11-10 15:04] fahidqbx opened #210 "uninitialized constant User::SharedAlbum (NameError)"
I want to create admin dashboard which showing me this error.

I Configured devise in my App with 2 modules [admins, users]

I think that makes some issues but not sure.

[code]

[2015-11-10 15:08] fahidqbx commented on #210
it was fixed by refactoring the model's relationships.
Apologies for that.

[2015-11-10 15:08] #210 closed

[2015-11-10 15:16] johnmeehan commented on #197
Yeah I seem to have originally installed it with an older version, ran the generator and then updated to 0.1.0 without changing my dashboard files contents. So thats where my confusion came from.  The generator in 0.1.0 creates the correct dashboard files needed.   Thanks for the response!

[2015-11-10 15:16] #197 closed

[2015-11-10 17:27] graysonwright commented on #195
@picandocodigo thanks, this looks great!

I'm working to extract the `image` field into a separate plugin. I might take your solution and package it up into an `administrate-paperclip` gem, if that's cool with you.

[2015-11-10 17:32] graysonwright commented on #197
No problem, glad it's working!

[2015-11-10 17:33] graysonwright commented on #210
@fahidqbx no problem!

[2015-11-10 17:39] picandocodigo commented on #195
@graysonwright of course, feel free to use it :+1:

[2015-11-10 17:44] graysonwright commented on #195
Great! I'll give you a shoutout in the README.

[2015-11-10 17:51] mcmire commented on #205
No, this is really only meant for testing purposes.

[2015-11-10 17:55] graysonwright commented on #205
@mcmire I'd rather not add user-facing changes for the sole reason of making tests easier. If people find the navigation model confusing, or would rather click on a link instead of the whole table row, then I'd be more willing to add it.

What do you think? What are the benefits of removing the `js` dependency from tests?

[2015-11-10 18:21] graysonwright commented on #209
@nickmjones, I think you also need to add `include Clearance::Controller` in your `Admin::ApplicationController`. In your main app, Clearance adds this for you automatically.

Give that a shot and let me know if it works.

[2015-11-10 18:22] graysonwright commented on #184
oh, interesting. I wasn't aware ActiveAdmin had this. Let me play with their implementation a bit and see what the best way forward is.

[2015-11-10 18:39] graysonwright commented on #181
@estiens yep! you can copy over the JS files. We're discussing how to support this more officially in #187.

Also, we do plan to have a generator for the page layouts - that's a likely 0.1.2 feature.

[2015-11-10 18:51] estiens commented on #181
Great. thanks!

[2015-11-10 19:32] graysonwright commented on #207
Hey, @tomgatzgates - you should be able to customize the permitted attributes list by overriding the method in your controller. For example:

[code]

Let me know if that works. We can add documentation around that.

[2015-11-10 19:36] graysonwright commented on #179
@gpinkham that sounds great, thanks! looking forward to seeing your solution.

[2015-11-10 20:18] mcmire commented on #205
@graysonwright The benefits of not using a JavaScript driver is that the tests run a lot faster and don't require a window environment to run.

[2015-11-10 20:32] alvarowolfx commented on #195
Thanks @picandocodigo, I will use your solution.

[2015-11-10 23:28] murdoch commented on #159
I was having the same problem with my CkEditor field, because I was doing `body: Field::CkEditorField` in my dashboard file. Your instructions helped me fix the problem... Thanks.

[2015-11-10 23:29] graysonwright commented on #159
ok - it seems like I should add a note to the documentation. Thanks for the feedback!

[2015-11-10 23:31] murdoch commented on #195
If anyone's interested, here's a similar setup for getting a CkEditor textarea:

`bin/rails g administrate:field ck_editor`

Then open up _app/fields/_form.html.erb_:

[2015-11-10 23:40] mcmire opened #212 "Generated forms aren't getting a 'form' class"
I used `rails g administrate:views:form` to generate a form and then add a class to that form, but was noticing that my class wasn't getting applied.

I believe this line in the `_form` partial:

[code]

needs to be replaced with this line:

[code]

[2015-11-10 23:53] nickmjones commented on #209
That _sort of_ worked. I have a welcome view in my dashboard, and a user will get an auth screen everywhere *except* for that screen. So, it does what I want (keeping users out of the important parts of the dashboard) but it's not quite there yet. I'll keep at it. Thanks!

[2015-11-10 23:54] graysonwright commented on #209
@nickmjones, how did you set up the welcome screen?

Does the controller behind that screen inherit from either `ApplicationController` or `Admin::ApplicationController`?

[2015-11-10 23:56] graysonwright commented on #212
Good catch, thanks!

[2015-11-11 03:20] nickmjones commented on #209
Ah ha. That did it! I now have
`include Clearance::Controller
  before_action :require_login`
in each controller I want to force authentication on, and it's working great. Thanks!

[2015-11-11 07:52] fahidqbx opened #215 "administrate:views generator is missing"
I am trying to customize the views. but when I run the command
`rails generate administrate:views User`
is shows the error
[code]

and running the `rails generate --help`
giving me only two generators of administrate
[code]

Anybody fixed or facing this issue.?

[2015-11-11 08:48] 5minpause commented on #202
I'd like to take a look at it.

[2015-11-11 09:12] itsSaad commented on #215
im getting this same issue as well

[2015-11-11 09:26] 5minpause commented on #215
Could you offer some insight into your setup? *What do I need to reproduce this?*
What's your Rails and Ruby versions?

[2015-11-11 09:30] leewaa commented on #215
Rails `4.2.4`
Ruby `2.1.5`

[2015-11-11 09:31] 5minpause commented on #192
@ismaGNU Do you have some sample code on Github for your implementation of nested form fields?

[2015-11-11 09:37] 5minpause commented on #187
Copying assets to `app/assets/javascripts/administrate` does sound like a good solution.

Another idea: Have an empty file at `app/assets/javascripts/administrate/extensions.js` that people can overwrite in their app and have it required in `app/assets/javascripts/administrate/application.js`. Could that work? A possible problem I see with that approach is load order. The files from `extensions.js

[2015-11-11 09:41] 5minpause commented on #123
@graysonwright this sounds like a good direction for plugins. We always have to provide multiple `<select>`'s and tend to include chosen.js for usability. I could imagine writing a plugin to have it available in every project.

[2015-11-11 09:52] 5minpause commented on #215
I can't seem to reproduce this problem:

[code]

I pushed my sample app to Github, perhaps that helps? https://github.com/5minpause/admin-test
I used `ruby 2.1.3p242 (2014-09-19 revision 47630) [x86_64-darwin14.0]` and Rails 4.2.4

[2015-11-11 09:53] 5minpause commented on #184
Sounds like a good idea. If you need some practical examples, let me know.

[2015-11-11 09:57] 5minpause commented on #157
Having the search bar support structured queries sounds like a good idea for developers. We use ActiveAdmin as a dashboard in our custom CMS. So it's user-facing for editing pages and resources. Our users like the filters/scopes that ActiveAdmin provides and which can be extended. How could a similar feature be integrated into Administrate?

![screen shot 2015-11-11 at 10 56 53](https://cloud.gith

[2015-11-11 10:09] rikkipitt commented on #123
I think we have two cases here...

1. Custom, one off fields for a particular project that might require the use of javascript/scss.
2. Plugins created by the community and packaged up as gems.

Packaged gems should be easier and have their own asset paths etc. But I assume that they'll all follow the same sort of build process so that custom fields can be easily extracted and released independent

[2015-11-11 11:19] Marthyn opened #218 "Enum field support"
Currently something goes wrong with my Enum field. It's an integer of course so that's why i think something goes wrong. Is anyone working on this? Otherwise i'd gladly work on it.

[code]

[2015-11-11 11:28] fahidqbx commented on #215
@5minpause I have
`ruby 2.1.5 p273`
`rails 4.2.0`

and I configured the devise with 2 modules [Admins, Users]

I am not getting the views generator for the administrate.

can I add the views generator manually.?

[2015-11-11 11:57] ismaGNU commented on #192
@5minpause no man, I am not be able to make it works like I expected. Do you have any ideas? I just make what I told before, but It doesn´t work.

[2015-11-11 17:12] johncblandii opened #219 "Install error"
We're hitting a problem installing Administrate. Any ideas would be helpful.

Steps:
- Add to `Gemfile`
- `bundle`

The error below is the output. I noticed there is a file named `app/dashboards/#<class:0x007fcf52bfe248>_dashboard.rb` it creates.

`dashboard_manifest.rb` has the following dashboards:
[code]

Error output:
[code]

[2015-11-11 17:36] graysonwright commented on #215
@fahidqbx @itsSaad what version of Administrate are you using? Can you try using

[code]

in your Gemfile and seeing if the generator becomes available?

[2015-11-11 17:40] graysonwright commented on #219
@johncblandii it looks like the same error that @astamm78 is seeing in https://github.com/thoughtbot/administrate/issues/145. Can you post the contents of your `Gemfile` and `Gemfile.lock`?

Also, if this repo's source code is available somewhere, it would be great if I could take a look at it. Thanks!

[2015-11-11 17:49] leewaa commented on #202
No no it should be `/administrate`, this is how to override the views from the gem, in any other directory you are simply adding new views and not overriding anything.

***also***

It is creating the views under `.../applications/...` which is totally wrong, should just be `.../application/...`.

[2015-11-11 17:56] leewaa commented on #202
Plus keep in mind these are the base views...

[2015-11-11 18:10] johncblandii commented on #219
I tried searching for another issue but didn't find one.

The repo is private on bitbucket. If that step is needed, I wouldn't mind.

Gemfile
[code]

Gemfile.lock
[code]

Descendants:
[code]

[2015-11-11 18:15] graysonwright commented on #219
Great. It'll probably be a little while before I can get to this, but I think #124 might take care of this problem. If you like, point your Gemfile to the master branch on github and try the installers from there.

[code]

[2015-11-11 18:16] tute commented on #201
Started work on it. Thanks for your work, @graysonwright! :tada:

https://github.com/thoughtbot/administrate/releases

[2015-11-11 18:16] #201 closed

[2015-11-11 18:17] graysonwright commented on #209
yep, no problem! Glad it's working.

[2015-11-11 18:17] #209 closed

[2015-11-11 18:21] johncblandii commented on #219
Same error using master.

[2015-11-11 18:22] graysonwright commented on #219
interesting. Can you do a couple things for me in your rails console?

- `ActiveRecord::Base.descendants`
- `ActiveRecord::Base.descendants.map(&:table_name)`

[2015-11-11 18:22] johncblandii commented on #219
See above.

[2015-11-11 18:23] graysonwright commented on #219
oh, thanks! I missed that. (=

[2015-11-11 18:23] johncblandii commented on #219
No prob. :)

[2015-11-11 21:34] mcmire commented on #192
Not sure if this is exactly what the OP had in mind, but I've been able to incorporate Cocoon into Administrate, but with some hacks. I'll swing back around and work on a way to create a PR (or several) out of this work, because I think this is pretty important to have.

[2015-11-11 21:40] mcmire opened #220 "Request: Custom-building a new record in controller"
I have a form that contains nested attributes for an association. In order to render the `new` page, I need a way to pre-populate the association on the record with an empty object. Right now, I can override the `new` method like so:

[code]

However, I'm wondering if it would be better if there were a `new_resource` method I could simply override:

[code]

Thoughts?

[2015-11-11 21:41] graysonwright commented on #220
@mcmire, that's a good idea. Also note that your solution won't work on the current version of Administrate, because we've moved away from instance variables in the controller.

[2015-11-11 21:42] tjlivesey commented on #218
If you change the field type in ATTRIBUTE_TYPES for that attribute to `Field::String`, it is displayed as the enum string.

[2015-11-11 21:42] mcmire commented on #220
Whoops! You're right. Well, you get the picture.

[2015-11-11 21:43] graysonwright commented on #218
@Marthyn if @tjlivesey's solution doesn't work, it looks like some other users got enums working in #150. Let me know if that helps.

[2015-11-11 21:44] graysonwright commented on #150
@pkrefta I like the idea, added to the to-do list.

[2015-11-11 21:46] 5minpause commented on #212
My pull request fixes this.

[2015-11-11 22:10] 5minpause commented on #202
@leewaa Yes, I believe you are right. I created a Pull Request for @graysonwright. The part with `applications` instead of `application` is curious. If run inside an test Rails app I can confirm your comment. When just running the Administrate tests, I get `application`. I fixed this as well in the PR. Hope this is the correct way to handle this?

[2015-11-11 22:28] graysonwright commented on #202
@leewaa and @5minpause - thanks for the contributions!

It turns out both `app/views/admin` and `app/views/administrate` both work fine. Rails looks up views based on the inheritance tree of your controllers. In this case, our inheritance tree looks like:

[code]

so Rails will look for views in:

`app/views/admin/customers`,
THEN `app/views/admin/application`,
THEN `app/views/administrate/applica

[2015-11-12 02:21] gjackson12 opened #222 "Adding actions to dashboard"
Is there a way to add custom actions to the dashboard view? Right now I just see edit, and destroy. Along those actions I would like to list a few other custom actions if possible.

[2015-11-12 02:26] graysonwright commented on #222
@gjackson12 this has been on my wishlist for a long time now. :smile:

At the moment, you need to do it all from scratch - run `rails generate administrate:views:index YourResourceName`, add a link, and add a custom controller action.

I have a few ideas in mind for how we could improve this process, but I'd love to hear your thoughts - what API would you want for this?

[2015-11-12 02:35] #135 closed

[2015-11-12 02:35] gjackson12 commented on #222
One other question. Let's say I added an action called "send_notification" to the Users resource. Do I need to create that route manually?

(thinking of some suggestions for the API)

[2015-11-12 02:36] graysonwright commented on #222
@gjackson12 yep - you'd need to create the route yourself to match your controller action.

[2015-11-12 02:41] graysonwright commented on #222
(that's how it works at the moment)

[2015-11-12 03:10] gjackson12 commented on #222
So I added the following route:
[code]
I also put the following in my controller:
[code]

Finally, I have the following in the view:

[code]
undefined method `send_notification_admin_user_path
[code]

[2015-11-12 03:12] graysonwright commented on #222
hm... I think you might need to include a `method: :post` argument in your `link_to` helper.

[2015-11-12 05:06] syafiqfaiz opened #225 "TypeError in Admin::UsersController#index Admin is not a module"
Hi, I am trying to install Administrate for my app, and  I got this error when accessing the admin page.

I did ```$ rails generate administrate:install```

Am I missing any step?

[2015-11-12 05:10] syafiqfaiz opened #226 "TypeError in Admin::UsersController#index, Admin is not a module"
Hi, I am trying to install Administrate for my app, and  I got this error when accessing the admin page.

I did ```$ rails generate administrate:install```

Am I missing any step?

[2015-11-12 05:12] graysonwright commented on #225
uh oh - looks like you have `Admin` defined somewhere else in your application - likely as a database model. Is that right?

[2015-11-12 05:13] syafiqfaiz commented on #225
Thats true, I have an Admin model.

[2015-11-12 05:17] graysonwright commented on #225
ah...

Right now Administrate's `admin/` namespace is hard-coded, so it'll be a bit difficult to get it working with your application. I think the best option would be renaming your `Admin` model to `AdminUser` or something similar. You can use `self.table_name = "admin"` in your model to avoid database migrations.

We're still pretty early on in Administrate's lifespan, so we'll definitely addres

[2015-11-12 05:18] syafiqfaiz commented on #225
ok!,

thanks for the fast feedback!!

[2015-11-12 05:18] graysonwright commented on #225
No problem! Sorry I can't help out more. /=

[2015-11-12 05:29] tute commented on #226
Closing as duplicate of https://github.com/thoughtbot/administrate/issues/225. Thanks for reporting!

[2015-11-12 05:29] #226 closed

[2015-11-12 05:36] tute opened #227 "Wire up i18n-spec"
As a maintainer, it's good to know that the changes to locales in PRs coming in, or our edits in our main locale file, are always kept in sync. `i18n-tasks` can help with that.

Adding this as a low-priority note to ourselves.

[2015-11-12 05:38] graysonwright commented on #227
A more appropriate title would be "Get i18n-tasks working again".

https://github.com/thoughtbot/administrate/blob/master/Gemfile#L14

[2015-11-12 05:42] tute commented on #227
Title updated. We might want to follow a similar setup as in https://github.com/doorkeeper-gem/doorkeeper-i18n.

Actually, we might want to consider separating a locales repo from the main one à la doorkeeper. I have observed that this cleaned up the main repo's issue tracker, while keeping the extracted repo very focused, easy to manage, and with blazing fast tests (`i18n-tasks`).

[2015-11-12 05:42] tute commented on #227
`i18n-spec`, I mean!

[2015-11-12 05:44] graysonwright commented on #227
wow, that's an interesting idea. Would definitely clean up these github issues a bit.

[2015-11-12 06:30] #173 closed

[2015-11-12 06:39] #212 closed

[2015-11-12 07:21] #129 closed

[2015-11-12 07:53] Marthyn commented on #218
Okay good to know. I see it's in the to-do list too. So I'll see if i can fix that myself in a PR.

[2015-11-12 07:53] #218 closed

[2015-11-12 07:59] calumhalcrow opened #230 "Show page: wrapped attribute-label combined with empty attribute-data breaks rendering."
When an attribute-label is long and wraps to a second line, and when the corresponding attribute-data element is empty, the next attribute-label doesn't clear to a new line, but bumps up against the previous label:

<img width="1474" alt="screen shot 2015-11-12 at 3 46 00 pm" src="https://cloud.githubusercontent.com/assets/277504/11113166/7f82ad94-8955-11e5-87bb-f26acfce34df.png">

Seen on Chrome

[2015-11-12 08:08] calumhalcrow commented on #230
Simplistic fix: https://github.com/thoughtbot/administrate/pull/231

[2015-11-12 08:25] #225 closed

[2015-11-12 08:40] 5minpause commented on #202
That makes sense. Thanks for clearing this up. What about the `application/applications` issue though, @graysonwright?

[2015-11-12 08:56] ariejan opened #232 "Generate is not idempotent for routes"
Running `rails generate administrate:install` more than once will add extra admin namespace blocks to `config/routes.rb`. Probably a low priority thing, but people using the generate command to just "reset" their work in progress might run into this.

[2015-11-12 10:50] tordans commented on #227
Maybe consider creating a public https://www.localeapp.com/ project. This way there are some basic validations that translations with %{values} are in sync across languages and you can also easily see and filter how far behind one translation is. At the end you just "localeapp pull" the new translations and commit them.

[2015-11-12 14:28] Marthyn commented on #232
Yeah same stuff here, whenever i run a migration i like to update my dashboard automatically too. But i have to remove this every time
[code]

[2015-11-12 14:32] picandocodigo commented on #195
@nickmjones @alvarowolfx Glad I could help :smiley:

@graysonwright Looking again at the code, the `thumbnail` method could be parameterized or have just one `url` method with a `style` parameter. Since Paperclip allows for multiple styles, I was thinking of a way to have different styles for different views. For example display full size in the show view and thumbnails in the index view. The only

[2015-11-12 18:24] graysonwright commented on #202
yeah, I think that should definitely be `app/views/application/...`.

[2015-11-12 19:20] graysonwright commented on #232
I think the easiest way to fix this would be checking to see if the routes are defined before generating them again. Thanks for the feedback!

[2015-11-12 19:25] graysonwright commented on #186
No problem! The docs repo is at https://github.com/thoughtbot/administrate-docs - feel free to add some notes there. The "Customizing Controller Actions" page might be a good place.

[2015-11-12 19:27] picandocodigo commented on #186
Looks like administrate-docs is set to private.

[2015-11-12 19:32] graysonwright commented on #186
Oops! You're right. should be open now.

[2015-11-12 19:36] gjackson12 opened #234 "Sign in Count, etc."
I know Rails Admin offers some pretty common features like: 'sign in count', last-sign-in, etc. Is that something that can be done in the context of administrate?

[2015-11-12 19:39] picandocodigo commented on #186
:+1:

[2015-11-12 19:43] picandocodigo commented on #234
I'm almost certain those features are offered by devise and not rails_admin. The app where I'm currently using administrate already had devise setup and I can show sign_in_count and other fields in the AdminUser dashboard with `sign_in_count: Field::Number` and these fields were automatically detected/generated.

[2015-11-12 19:44] graysonwright commented on #234
@gjackson12 It sounds like those stats would be tracked in the database by your app's authentication system - I think [Devise] and several other authentication gems track those metrics.

If you're using Devise, then running:
`rails generate administrate:dashboard User`
should automatically add those stats to Administrate.

In short, sign in count, last sign in, etc. are the responsibility of authe

[2015-11-12 19:45] graysonwright commented on #234
I'm going to close this because I don't think it's an issue with Administrate. If you have questions, feel free to keep posting here.

[2015-11-12 19:45] #234 closed

[2015-11-12 19:48] gjackson12 commented on #234
Thanks! Mea culpa.

[2015-11-12 20:20] gjackson12 opened #235 "Error after running install generator"
After running the install generator I am receiving the following error:

[code]

[2015-11-12 21:05] tomgatzgates commented on #207
I overwrote it in our fork of administrate, was generally just curious.

[2015-11-12 21:29] graysonwright commented on #207
Hey, @tomgatzgates - sorry for the confusion. You shouldn't need to fork administrate to add permitted attributes to the list.

The recommended way to add permitted attributes to, for example, the `Customer` model, is to open up `app/controllers/admin/customers_controller.rb` and add the `permitted_attributes` method from my above comment there.

This can be done entirely in your app, without need

[2015-11-12 23:00] mattgillooly commented on #135
Thanks!  Just deployed my app with the new version.  Picker looks good on my DateTimes!

[2015-11-12 23:01] graysonwright commented on #135
Great to hear!

[2015-11-12 23:32] Chadh13 opened #236 "Feature Idea: Out of The Box Metrics"
Hi @graysonwright, I'd like to know if you think that this feature concept is something that belongs in Administrate or not.

#### What
Out of the Box Metrics

#### Why
- Without fail, every single one of our clients (nontechnical startup founders) has wanted metrics.
- People rarely know what metrics are actually valuable indicators for a company early on.
- Inexperienced business people tend to

[2015-11-13 00:52] jcutrell commented on #135
👌

[2015-11-13 02:25] jasontwong commented on #235
You're getting this error because you have no dashboards in `app/dashboards/dashboard_manifest.rb`

[code]

[2015-11-13 08:19] Marthyn commented on #227
The locale app project is a great idea, but not free.

Maybe related, i was also wondering why there are two locations with locales?
https://github.com/thoughtbot/administrate/tree/master/administrate/config/locales
https://github.com/thoughtbot/administrate/tree/master/config/locales

[2015-11-13 10:11] ariejan commented on #222
@gjackson12 are you defining that in the `admin` namespace? Your url helper would need to be prefixed with `admin_` in that case. Check with `rake routes` if unsure.

[2015-11-13 13:33] fahidqbx commented on #215
@graysonwright
I updated the version to `~> 0.1.0`.
but views generator is still missing.

My configuration is:
`devise` with 2 models [User, Admin]
`devise_invitable`
and `administrate`

[2015-11-13 18:03] graysonwright commented on #227
@Marthyn oh, wow. good catch.

The correct location is in `/config/locales`. Before v0.1.1, we were storing the code in `/administrate`. We switched the repository structure up in #144, but I think there were a few I18n PRs merged afterwards that were still referencing the original `administrate/config/locales` location.

[2015-11-13 18:09] graysonwright commented on #227
I've opened up https://github.com/thoughtbot/administrate/pull/237 to move all locale files into the correct location.

[2015-11-13 22:11] tute commented on #227
I just tried it. I didn't like it. 4 years ago webtranslate.it felt better to me. Bare yaml files are very much ok for developers, I think.

[2015-11-14 13:54] Sajonara opened #238 "undefined method"
I have installed administrate on a system with ruby 2.2.3 and rails 4.2.5. I am using devise and will_paginate as gems but when I try to open the admin panel the webserver replys with a "NoMethodError".

[code]

[2015-11-14 15:05] picandocodigo commented on #238
I've seen this issue before (coincidentally using rails_admin). Administrate uses kaminari, and will_paginate and kaminari don't play well together yet it seems. What I did in my project was just switch to kaminari for pagination as a fast solution. If you want to stick with will_paginate, [this](https://github.com/activeadmin/activeadmin/blob/master/docs/0-installation.md#will_paginate) might hel

[2015-11-14 17:19] Sajonara commented on #238
@picandocodigo Thx a lot. As it's a new project I still can decide to switch and as you told told me kaminari won't inflict I implemented this gem instead and now everything seems fine. Thank you.

[2015-11-14 22:26] dmitrypol opened #240 "Mongoid support"
The gem looks really interesting and more flexible than RailsAdmin.  Any plans on adding Mongoid support?

[2015-11-15 02:06] graysonwright commented on #238
@Sajonara glad it worked out! For reference, this issue also came up in #158.

It sounds like you're good, so I'm going to close this. Feel free to re-open if you have other questions.

[2015-11-15 02:06] #238 closed

[2015-11-15 02:12] graysonwright commented on #240
@dmitrypol thanks for checking it out!

We'd love to add support for Mongoid and other ORMs. There's a bit of discussion around it in #143.

At the moment, we're focusing on ironing out some bugs and improving stability on a single database (ActiveRecord & postgres). Once we've gotten those issues out of the way, we'll work on improving the flexibility for other database adapters. Would love your

[2015-11-16 14:38] johnmeehan opened #241 "Buggy BelongsTo: Edit page for a resource shows old field data."
Dropdown boxes retain/displaying old data.

The demo app does this aswell!
http://administrate-prototype.herokuapp.com/admin

*STEPS*
1.  Go to any dashboard and view an Order (any item with dropdown selects).
2.  Press Edit and change any dropdown box (Customer).
3.  Press update.
4.  The show page show now has the new updated values. (DB values are also updated.)
5.  Click Edit again and the old

[2015-11-16 15:14] cjbell commented on #241
@johnmeehan a workaround is the following:

1) Run the generator for the views `rails generate administrate:views:field belongs_to`
2) In the `_form.html.erb` file just generated, add the `id` as the second option for `options_for_select`

I did the following:

[code]

[2015-11-16 20:35] monkbroc opened #244 "Has_many not populated with existing values in edit"
When opening the edit page for a resource with an has_many relation, none of the option tags generated for the select tag have the "selected" attribute set so existing values are lost on save.

You can reproduce this on the demo server:
1. Go to an order page with items https://administrate-prototype.herokuapp.com/admin/orders/331/
2. Click Edit
3. See that the line items ids field is blank
4. Cli

[2015-11-16 21:00] monkbroc commented on #244
@graysonwright I want to make sure I understand correctly: you are OK if I write a proper fix and you will include it in 0.1.2, right?

[2015-11-16 21:01] monkbroc opened #245 "Polymorphic field should override dashboard selection from Associative"
Currently [`Polymorphic`](https://github.com/thoughtbot/administrate/blob/04247d78196e692e668933390f8190ba1f4f8533/lib/administrate/fields/polymorphic.rb) is only an alias for `Associative`.

`Associative#associated_dashboard` uses the attribute name to select the correct dashboard.

In `Polymorphic` this leads to a `uninitialized constant` error when calling `field.display_associated_resource` du

[2015-11-16 21:04] graysonwright commented on #244
@monkbroc sorry about that.

yeah, if you want to submit a PR, I'll include it in the next release. It looks like the solution you posted above will work fine.

If you do submit a PR, can you add a test that fails without your fix, and passes with it? I gave an example on #242 .

[2015-11-16 21:08] monkbroc commented on #244
Yes, I'll include proper tests.

Nice work on the gem! The lack of DSL makes it really easy to jump in and understand the inner workings on the 1st day.

[2015-11-16 21:09] graysonwright commented on #244
Thanks! That's great to hear. :smile:

[2015-11-16 21:16] monkbroc opened #246 "Developer UX: better error for misspelled/missing attribute"
If a field in `COLLECTION_ATTRIBUTES` has no key in `ATTRIBUTE_TYPES` either because I misspelled it or I forget to add it to `ATTRIBUTE_TYPES` I will get a `undefined method new for nil:NilClass` in [`Page::Base`](https://github.com/thoughtbot/administrate/blob/04247d78196e692e668933390f8190ba1f4f8533/lib/administrate/page/base.rb#L21)

It would be nicer to see a custom exception `Attribute xyz n

[2015-11-16 21:17] graysonwright commented on #246
:+1: good call, I think this would be super useful.

[2015-11-16 23:53] DamirSvrtan commented on #143
:+1: for sequel

[2015-11-17 00:03] graysonwright commented on #143
@mrbrdo you're right, I was a bit ambitious on the timeline. :smile:

we released `0.1.1` with bug fixes, and we'll follow it up with more fixes and stability issues in `0.1.2`. If all goes well, I'd like to define a standard plugin structure ( #123 ) by `0.1.3`, so I'm tentatively scheduling this for `0.1.4`.

[2015-11-17 00:07] graysonwright commented on #236
@Chadh13 I like the idea. In my early concepts of Administrate, I had similar metrics displayed above the index page.

I think this would be better suited for a plugin of some kind, instead of in Administrate core. We're hoping to have official plugin support in `0.1.3`, which will be released sometime in December.

I'm going to close this because there's no way to move it forward until the plugin

[2015-11-17 00:07] #236 closed

[2015-11-17 00:09] graysonwright commented on #184
Yeah, I think this is something that we should approach from a design perspective - a great first step would be gathering examples of batch-editing flows that people enjoy.

If you know of a system that has good batch-editing support, post a link/screenshot/gif!

[2015-11-17 16:57] matthaliski commented on #145
Stopping the `rails server` from running fixed a similar problem I was having trying to generate a model. I would also get the `uninitialized constant DashboardManifest (NameError)`. All is good as long as that server isn't running.

[2015-11-17 17:11] 5minpause commented on #246
@graysonwright @monkbroc I gave a possible implementation a try.
https://github.com/ikuseiGmbH/administrate/commit/62570b673bd43964db8d9dfc09b6fddb1ec7b8be

Could you provide feedback, please? I wasn't sure how to add a test for that. Any hints would be appreciated.
Also I don't know how Thoughtbot deals with HEREDOCS? Do you use indentation?

[2015-11-17 17:57] monkbroc commented on #246
Thanks @5minpause. I commented on your commit.

[2015-11-17 17:57] graysonwright commented on #246
@5minpause can you open a PR for that commit, so we can leave comments on it more effectively?

For HEREDOCs, I usually go with this:

[code]

[2015-11-17 18:21] graysonwright commented on #130
@mcmire I agree about the hash.

All of the constants in that file are required by Administrate, so yes - `ATTRIBUTE_TYPES` is used by Administrate.

I think I'd prefer to spell out `SHOW_PAGE_ATTRIBUTES` as an array, similar to how `TABLE_ATTRIBUTES` and `FORM_ATTRIBUTES` are now.

Thoughts?

[2015-11-17 18:31] graysonwright commented on #202
#221 will fix this.

[2015-11-17 19:21] graysonwright commented on #195
@picandocodigo wow, great!

I'll try to extract this into a plugin this weekend, and let you know if I have any questions. Cheers!

[2015-11-17 19:21] tute commented on #195
@picandocodigo I just used your snippets, thanks for your comment!

[2015-11-18 03:30] ZeeAzmat-qbx opened #250 "Undefined method"
Hi I hit some errors while installing "administrate" but after doing few things i resolved them, and when all seems to be good and i tried to hit "localhost:3000/admin" I got this error.

**NoMethodError - undefined method `per' for #<Asset::ActiveRecord_Relation:0x007faef5b99820>:**

Can you please guide me here how can i get away with this.

[2015-11-18 03:31] ZeeAzmat-qbx commented on #250
Server logs are:

Started GET "/admin" for 127.0.0.1 at 2015-11-18 08:10:40 +0500
Processing by Admin::AssetsController#index as HTML
  Asset Load (0.3ms)  SELECT  `assets`.* FROM `assets` LIMIT 30 OFFSET 0
Completed 500 Internal Server Error in 5ms (ActiveRecord: 0.0ms)

NoMethodError - undefined method `per' for #<Asset::ActiveRecord_Relation:0x007faef5b99820>:
  activerecord (4.2.5) lib/active_

[2015-11-18 04:06] picandocodigo commented on #250
@ZeeAzmat-qbx Check these issues for a possible solution: #238 #158

[2015-11-18 04:44] picandocodigo commented on #195
Awesome! Glad I could give something back. As I said, I'm loving the gem and I'm using it in a branch in a production project, hopefully will completely move away from rails_admin this week, merge to master and deploy.

Wish I could do more, I'd love to give a coding issue a try if you need any help. And let me know if you have any questions on how I'm using this stuff. Looking forward to implemen

[2015-11-18 17:03] graysonwright commented on #250
@picandocodigo you're on top of this! Thanks!

@ZeeAzmat-qbx, let us know if that works!

[2015-11-18 17:11] #244 closed

[2015-11-18 17:11] #241 closed

[2015-11-18 17:11] graysonwright commented on #241
Fixed by #247.

[2015-11-18 17:12] graysonwright commented on #244
Fixed by #247.

[2015-11-18 19:48] graysonwright commented on #207
@tomgatzgates I'm going to assume you got this figured out - let me know if there's something I need to do.

[2015-11-18 19:48] #207 closed

[2015-11-18 19:50] graysonwright commented on #205
I don't think those benefits are compelling enough to add an explicit link. Sorry!

[2015-11-18 19:50] #205 closed

[2015-11-19 07:39] #246 closed

[2015-11-19 07:47] #245 closed

[2015-11-19 08:01] ACPK opened #252 "Limit admin interface to sub-net and localhost"
Use case: Limit admin via ip address for staging and production.

Example from: http://stackoverflow.com/questions/11636228/whitelisting-list-of-ips-with-some-subnets-in-rails-3-application

    before_filter :protect

    def protect
      @ips = ['127.0.0.1', '192.168.1.0/24'] #And so on ...]
      allowed = false
      # Convert remote IP to an integer.
      bremote_ip = request.remote_ip.spli

[2015-11-19 08:02] graysonwright commented on #252
Hey, @ACPK! You should be able to accomplish this in your app by putting that snippet in `app/controllers/admin/application_controller.rb`. Is that working for you?

[2015-11-19 08:42] ACPK commented on #252
@graysonwright - Yes, it works. Would love to see it out of the box though to support strong security standards since most admin area have somewhat confidential information.

[2015-11-19 14:48] tomgatzgates opened #254 "Paginate has_many collections."
Has anyone tackled paginating has_many fields. For example a customer having many order. Currently it is limited to 5 but it would be nice to enable pagination. I'm just wondering if anyone else has tried/done this before I give it a go

[2015-11-19 19:39] graysonwright commented on #252
@ACPK it's a good idea, but Administrate is explicitly avoiding authentication and security logic because they vary too much from app to app.

Our hope is that customizing `Admin::ApplicationController` gives you enough flexibility to implement any authentication strategy that you need in your app, without us needing to make decisions about how authentication should look for our users.

Also, I as

[2015-11-19 19:39] #252 closed

[2015-11-19 19:54] Sajonara opened #255 "automatic updating of admin controllers and views"
Hello everyone.

Is there a manual or automatic update function to administrate like there is an installation routine? Or do I have to manually create controllers and views for new databases and migration updates I do?

If not, I hope this will become a feature in some version. If so, perhaps some of you can enlighten me. I read the documentation on the homepage and did not find an info on how to

[2015-11-19 19:55] graysonwright commented on #255
@Sajonara if you've made changes to your database and want to re-generate the dashboard class for a single model, you can run:

[code]

Is that what you were looking for?

[2015-11-19 20:48] Sajonara commented on #255
In part yes.

I changed the dashboard by hand, added the fields and when I reload the dashboard it looks fine, but when I try to edit or add a "new" resource via the dashboard the edit/new view does not resemble the changes. Maybe I missed something.

I tried to create the according views with

```rails g administrate:views X```

But even when I restart the rails server the new field do not show u

[2015-11-19 20:50] graysonwright commented on #255
@Sajonara could you paste the contents of the `ModelDashboard` file in question? Also, which attributes did you add to the model that aren't showing up?

[2015-11-19 20:57] Sajonara commented on #255
@graysonwright As it turns out your tip helped.

Oh boy. I was still curious what I needed to change by hand to get to this, so I had a look into the game_dashboard.rb file which was created by administrate. As it seems, I only changed the attribute types array and the collection attributes array but forgot the form attributes array when I manually changed the file.

What I noticed though, the cha

[2015-11-19 20:59] graysonwright commented on #255
@Sajonara, glad it worked out!

The order of the `ATTRIBUTE_TYPES` hash isn't important - there's no rhyme or reason to where Administrate adds new attributes.

[2015-11-19 20:59] #255 closed

[2015-11-19 21:46] mcmire commented on #130
I think that's fine. I think that the attributes are going to end up getting customized anyway and in order to do so it's best to have it as an array.

[2015-11-20 00:11] graysonwright commented on #254
@tomgatzgates A possible way to treat this would be adding a link below the `has_many` table that takes the user to the index page for the associated resource class, filtered down to the records associated with the original object.

It might take a little time to set that up, because we'd probably want to build it off of the filtering functionality proposed in #157.

What are your thoughts on that

[2015-11-20 01:52] #230 closed

[2015-11-20 06:39] akrisanov opened #256 "`missing required keys: [:id]` in dashboard for a model with CamelCase name"
Hello,

I tried to create a dashboard for a model with `CancellationPolicy` name. But always got `ActionController::UrlGenerationError in Admin::Offers#index` where current model belongs to `Offer`.

After renaming model `CancellationPolicy` to `Policy` (and file policy.rb), admin starts work.

[2015-11-20 09:41] #256 closed

[2015-11-20 09:54] tomgatzgates commented on #254
That would definitely be an option, especially since in our particular implementation we've customised which dashboards appear in the side bar.

I'll have a go at linking to the index filtered by the associated object. I'll ignore #157 for the moment just to get it working in a very basic form then think about how it could fit in.

[2015-11-20 10:02] Marthyn opened #257 "Rubocop errors in arrays"
When i generate the dashboards and run rubocop i get the following errors in every dashboard file
[code]

[2015-11-20 10:34] tomgatzgates commented on #254
Currently a **very basic** 'hack' in my admin application controller. Pass in query params in the `link_to`.
i.e. for User with ID 122345,  `.../orders?query[][user_id]=12345`

[code]

[2015-11-20 11:22] tordans commented on #227
@Marthyn actually it is free for public projects https://www.localeapp.com/projects/public

[2015-11-20 16:24] johncblandii commented on #219
How's this looking?

[2015-11-20 17:32] mrbrdo commented on #143
No worries. How is it looking now time-wise?

[2015-11-20 19:06] nextekcarl opened #258 "Admin layout generation?"
I'm working on integrating the Cloudinary heroku addon and I need to get that gem to include the javascript files that it normally adds by adding:

//= require cloudinary

...to the application.js manifest, but it appears that's all ignored when I'm in the administrate Rails engine. Where does the layout live for Administrate? I don't see a way listed to generate that layout that Administrate uses

[2015-11-20 19:08] graysonwright commented on #258
Thanks, @nextekcarl! It looks like there's a bit of overlap with #187 here. We're hoping to add generators for SCSS and JS soon, but until then you should be able to overwrite a few files to get it working.

[2015-11-20 19:15] nextekcarl commented on #258
Thanks, I looked at that but I guess I'm just not sure how I'd translate the manifest require statement into this formt and actually expect it to work:

[2015-11-20 19:17] nextekcarl commented on #258
Sorry, comment was messed up there so I deleted to and I'll try again:

I guess I'm just not sure who I'd translate the work done by //= require cloudinary in the app manifest into a simple content for block and expect it to work wince this method doesn't add the SHAs:

<% content_for :javascript do %>
  <%= javascript_include_tag("jquery.ui.widget", "jquery.iframe-transport",

[2015-11-20 19:19] graysonwright commented on #258
Hm... you may be able to copy [this file](https://github.com/thoughtbot/administrate/blob/master/app/assets/javascripts/administrate/application.js) into your app at `app/assets/javascripts/administrate/application.js`, and then add the `//= require` statement in there.

Does that solve the problem?

[2015-11-20 19:23] nextekcarl commented on #258
Yes, I think that did, thanks!

[2015-11-20 19:23] #258 closed

[2015-11-20 19:23] graysonwright commented on #258
Great! I'll work on a generator to make that process easier.

[2015-11-20 21:03] graysonwright commented on #256
@akrisanov Did you fix this issue? Can you share what was going wrong?

[2015-11-20 21:14] graysonwright commented on #257
Hey, @Marthyn - thanks for pointing that out.

Our generated code follow's [thoughtbot's style guide](https://github.com/thoughtbot/guides/tree/master/style/ruby), which *prefers* trailing commas.

[Here's where we discussed](https://github.com/thoughtbot/guides/pull/167) adding the trailing comma guideline to our styleguide - support was essentially unanimous.

Because of that, I don't think we'r

[2015-11-20 21:16] graysonwright commented on #219
Good question! I finally have time to take a look at it today. :smile:
I'll let you know when I find something.

[2015-11-20 21:31] graysonwright commented on #219
@johncblandii can you do a search through your project for `has_and_belongs_to_many` and paste the results? Thanks!

[2015-11-20 21:37] Marthyn commented on #257
Ah makes perfect sense!

Sent from my iPhone

[2015-11-20 21:38] #257 closed

[2015-11-20 21:45] Rodrigora commented on #145
I'm getting this error too. Seems to be intermittent.

When it happens, I run the command again and it works!

[2015-11-20 21:46] graysonwright commented on #145
Cool - I'm working on a fix for it now! There's also discussion in #219.

@Rodrigora by any chance, do you have `has_and_belongs_to_many` relationships in your app?

[2015-11-20 21:53] Rodrigora commented on #145
@graysonwright thanks for the quick response.

Yes, I have a `has_and_belongs_to_many` relationship and it seems to be the problem. I commented it and the error stopped.

[2015-11-20 22:13] graysonwright commented on #145
@sgrif looks like it is caused by `HABTM`:

[code]

I'm trying to re-create the error in my test suite, but I can't nail it down. The un-constantized models only show up intermittently.

So far, both Gemfiles have `spring` in there, so it may be related to that. :confused:

[2015-11-20 22:51] Rodrigora commented on #145
@graysonwright maybe it can help:

inside `rails console`, calling the `reload!` method always raises the error

[2015-11-20 22:52] graysonwright commented on #145
cool, thanks!

I figured out what's causing this, and I'm opening up a PR now. :smile:

[2015-11-20 23:00] graysonwright commented on #145
@Rodrigora, check out https://github.com/thoughtbot/administrate/pull/259.

[2015-11-20 23:00] graysonwright commented on #219
Should be fixed by https://github.com/thoughtbot/administrate/pull/259 !

[2015-11-21 01:29] #145 closed

[2015-11-21 01:30] #219 closed

[2015-11-21 01:40] graysonwright commented on #222
@gjackson12 ping. Any updates here?

[2015-11-21 13:31] agnel opened #260 "Cancel Search Issue"
After searching, say in Customers, there is no 'x' button in the search bar to cancel the search. The user has to again click on the Customers link in the left side bar to listing the customers or cancel the search.

Can the 'x' button be added ?

[2015-11-21 18:18] johncblandii commented on #219
Awesome! I was away so didn't get to send the last details. We'll test this out.

[2015-11-21 18:19] johncblandii commented on #219
FYI @warrenbrown. Test this out again.

[2015-11-21 18:20] graysonwright commented on #260
Yep! We're working on this in #127.

I'm going to close this, because we already have an issue for it at #121. Feel free to join the conversation on the other thread!

[2015-11-21 18:20] #260 closed

[2015-11-21 18:51] heri opened #261 "Submenu for less important models?"
Hi

I am looking to use administrate for a healthcare site. There are many models, and I am looking to have a main right menu, clicking on a main model would expand on additional models.

For example:

[code]

When the user clicks on `conversations` then it would show :

[code]

Same for transactions which would then show `transactions_processes` `transitions` `shipping addresses` `payments` `chec

[2015-11-21 19:59] heri commented on #261
I have an array in `DashboardManifest`
[code]
and have added padding for those "minor" models (see [commit](https://github.com/heri/administrate) )
![screen shot 2015-11-21 at 2 56 35 pm](https://cloud.githubusercontent.com/assets/5634/11320245/43996e50-9060-11e5-8780-d8a1e5184b2e.png)

But still wondering if someone had done something more elegant

Thank you

[2015-11-22 00:50] swrobel opened #265 "[Prototype] Sort by customer orders & lifetime value don't work"
https://administrate-prototype.herokuapp.com/admin/customers?direction=asc&order=orders
https://administrate-prototype.herokuapp.com/admin/customers?direction=asc&order=lifetime_value

[2015-11-22 04:13] agnel commented on #260
Sure. Thanks
On 21-Nov-2015 11:50 pm, "Grayson Wright" <notifications@github.com> wrote:

[2015-11-22 15:21] Tensho opened #267 "Model object in the field"
I've found that resource (record) disappears, while administrate converts show page attributes to the fields.

[code]

In some cases it’s really necessary to take reference to the object, some helpers require model. For example, Administrate::Page::Show instance looses such public reference during the rendering. That’s why I have to use some hack, when I want to provide Refile attachment url (whic

[2015-11-23 12:27] graysonwright commented on #181
Should be fixed by #269!

[2015-11-23 12:29] graysonwright commented on #250
I'm closing this due to inactivity - if you have more questions, let us know!

[2015-11-23 12:41] graysonwright commented on #267
@Tensho - let me make sure I understand:

You're creating a custom field type called `FileField`, and the `show.html.erb` partial for the field needs a reference to the resource itself, and not just the attribute value. Is that right?

If that's the case, there's a workaround:

First, run `rails generate administrate:views:show`. This will generate a file at `app/views/admin/application/show.html.

[2015-11-23 13:15] graysonwright commented on #261
Hello, Heri!

I think the best way for you to do this would be to copy [the sidebar template](https://github.com/thoughtbot/administrate/blob/master/app/views/administrate/application/_sidebar.html.erb) into your host application, at `app/views/admin/application/_sidebar.html.erb`, and make the customizations in your host application instead of in your fork of Administrate.

You can also copy over

[2015-11-23 13:16] graysonwright commented on #192
@mcmire - any updates?

[2015-11-23 13:34] graysonwright commented on #215
@fahidqbx can you share your project's code on github?

Also, can you run this command and paste the output?

[code]

[2015-11-23 13:39] graysonwright commented on #143
@mrbrdo I'm hoping that we can make strides on this by mid-December.

[2015-11-23 14:59] Tensho commented on #267
Yeah, you're right. Actually, I've already found this solution by myself for `index` partial:
[code]
My main question is related to design concerns. Are you going to hide resource/record/model further and substitute it with the field object during the rendering process intentionally?
I can provide PR with the resource bubbling to the view layer, something similar we're talking about here. However,

[2015-11-23 15:01] Tensho commented on #267
I also can take care about my proposal in the form of PR ^_^ if you accept it and advice the best approach.

[2015-11-23 18:10] mcmire commented on #192
@graysonwright Not yet unfortunately, I haven't had much time lately.

[2015-11-24 04:50] BenMorganIO opened #271 "Feature Request: Add Top Nav"
While I was cruising about, I noticed that I wanted to return to the app, but that link wasn't in the admin. Also, sometimes when you're running a job, you get a dashboard to look at jobs. There's no link anywhere to find them. You're also logged in (most of the time) and there's no conventional logout button.

What I'm asking:

Basically add a nav to the top right near the search to logout if `us

[2015-11-25 20:09] tute commented on #167
I have an issue which might be related: a `Feedback` model (with an inflection rule so that the pluralized version looks the same) breaks the route generation for the link to index in the dashboard. It tries to go to `/admin/feedback/5`, and neither that nor without that weird 5 work.

[2015-11-26 08:06] keichan34 opened #274 "Model titles and attributes not translatable"
Right now, model titles and attributes are not translatable (`attr_name.to_s.titleize`, etc). I did some digging and it looks like the presenter is responsible for this -- what is the best way to make them use the ActiveModel/Record i18n scope?

[2015-11-26 17:24] nando commented on #183
Hi there,

i've just pushed this little change in my fork that lets me filter using current model scopes. Tests still missing though :-1:

https://github.com/nando/administrate/commit/df6e8cb0a205aadc24e56a96d582c6dd7f6a0213

I'm trying to follow the CONTRIBUTING.md guide to make a PR right, but let you know now. As soon as I make the PR (hopefully tomorrow morning) i'll comment about it in #157.

[2015-11-26 19:50] jshow commented on #179
great to hear that I'm not the only (present) person needing namespaced support - @gpinkham how is your branch looking ?

thanks.

[2015-11-27 11:55] nando commented on #157
Hi,

i've just made this PR of a feature that lets you specify a model scope ending the search text with a colon (e.g. "sent:"):

https://github.com/thoughtbot/administrate/pull/276

Have a nice weekend!!!
-- nando

[2015-11-27 17:41] nando commented on #157
https://github.com/thoughtbot/administrate/pull/276

[2015-11-27 17:44] nando commented on #183
Finally I did the PR to filter through scopes this morning: https://github.com/thoughtbot/administrate/pull/276

[2015-11-28 21:50] brandondrew commented on #240
Thanks for starting with Postgres!  If you're taking votes on non-ActiveRecord DBs to support, please add RethinkDB to the list.

[2015-11-30 05:55] wolfieorama opened #277 "Filters : feature request"
Hi,

This is an awesome and super simplified admin dashboard gem, when do we expect filters to be integrated, apologies if this feature request is a repetition

[2015-11-30 18:51] gpinkham commented on #179
@jshow sorry..  I have been off on other work.   One of the guys on my team has been trying to get our activeadmin code ported over to administrate..    I'll admit neither of us are happy with some of the "hacks" we had to do to get things to work..   the namespace thing was easy compared to dealing with an engine..    Once I can wrap my head around everything I will see what I can do to contribut

[2015-11-30 18:52] jshow commented on #179
thanks @gpinkham - I've decided that Administrate is too raw at this juncture - I'll be starting with activeadmin until it evolves. cheers

[2015-11-30 22:27] Rodrigora opened #278 "How to sort by relationship field"
Hi all!

I searched through documentation and code and didn't find a way to sort the records by a relation field.

This is related to #265.

There is someone working on it? If not, I'd be happy to provide PR.

[2015-11-30 22:35] acrogenesis opened #279 "ActiveResource Support"
I'm trying to make administrate work with an ActiveResource model but it isn't working. Are you planning on supporting it?

[2015-11-30 23:45] tanaylakhani commented on #179
I am trying to achieve the same. I am using pow have an api endpoint set as (following http://apionrails.icalialabs.com/book/frontmatter):
[code]
I can navigate to /admin/users/1/edit and it displays the form correctly, but when I hit save it gives the error "No route matches [POST] "/admin/users/1"

Any suggestions?

[2015-11-30 23:49] Rodrigora opened #280 "Raise error for incorrect use of `Field::` namespace for custom fields"
Hi all,

after creating a custom field using this command:

[code]

I started to get this error only in production environment while initializing the app:

[code]

Any ideia?

[2015-11-30 23:57] graysonwright commented on #280
@Rodrigora Can you paste the contents of the Dashboard class that's using the `BelongsToWithBlankOption` field? I suspect that you're using:

[code]

when you should be using:

[code]

[2015-12-01 00:02] graysonwright commented on #179
@tanaylakhani I think you're seeing something different than the rest of this thread... Would you mind creating a new issue for it?

Thanks!

[2015-12-01 00:04] graysonwright commented on #278
Hey, @Rodrigora! Thanks for the suggestion!

Right now this isn't supported. I'm a bit curious about how you'd sort by a relationship - it seems like it would vary depending on whether the relation is a `has_many`, `belongs_to`, `has_one`, or `polymorphic` relationship.

Can you elaborate on what behavior you'd like to see?

[2015-12-01 00:06] graysonwright commented on #265
@swrobel Thanks for pointing this out!

`lifetime_value` doesn't work because it's a computed value. I think we'd be able to support this without much difficulty.

`orders` is a `has_many` relationship, which is a bit trickier. Perhaps the behavior that makes the most sense would be to sort by the number of associated records?

[2015-12-01 00:08] graysonwright commented on #279
@acrogenesis it looks like this is similar to #143. We'll need to rework a bit of the internals to support this, but I expect it'll be fairly straightforward after that. I'll add this as a desired backend on that issue.

[2015-12-01 00:08] graysonwright commented on #143
From #279: request for ActiveResource support.

[2015-12-01 00:08] #279 closed

[2015-12-01 00:09] graysonwright commented on #240
Great! I'll add these as notes on #143 - once that's in, this should be pretty straightforward.

[2015-12-01 00:09] #240 closed

[2015-12-01 00:09] graysonwright commented on #143
From #240: requests for Mongoid and RethinkDB.

[2015-12-01 00:09] Rodrigora commented on #280
@graysonwright you're right!!

Thanks a lot! :+1:

But i'm a little confused on why it worked on development

[2015-12-01 00:12] Rodrigora commented on #278
My models are:

[code]

I'd like to sort products by category name, since my products page has the columns **id** and **category** (Category column displays the category name).

[2015-12-01 00:39] aaronrenner opened #281 "Allow administrate to be installed somewhere other than /admin"
I have a project that already has an /admin namespace and I'd like to install administrate as a secondary admin interface (maybe at /administrate).This would allow me to manage CRUD operations on models that don't have a UI yet. When I run `rails g administrate:install` it would be nice if there was an option to change the namespace of where I want it installed, so it doesn't conflict with my exis

[2015-12-01 05:11] ZeeAzmat-qbx commented on #250
I was away so i couldn't check on with notifications.
Thanks for your reply, I had the same error as this https://github.com/thoughtbot/administrate/issues/158, and tried everything what is been told, but nothing worked. Can you please look into the issue.

[2015-12-01 10:50] sebbean commented on #278
I've used this before with spree:
https://github.com/activerecord-hackery/ransack

Could be an easy win.

[2015-12-02 04:17] nextekcarl commented on #280
I'm adding this note because this fixed a problem I was having where using Field::CloudinaryField (the custom field I added) was working just fine in development and staging, until I used it on a second model. Then I started getting fairly random uninitialized constant Administrate::Field::CloudinaryField (NameError) errors. About 1 in 5 reloads would work in development; the rest had that error.

[2015-12-02 05:45] erickreutz opened #283 "Allows controllers to be defined and work properly without declaring them in the manifest"
We have some models that we only want to be accessed through other models and not listed in the menu on the side. The only way for the routes to be defined, etc is to list the model in the dashboard manifest. Any plans to not require listing the model in the manifest in order for the routes and everything else to be defined?

[2015-12-02 06:13] hamzaiftikhar opened #284 "Undefined method 'per'"
Hi I hit some errors while installing "administrate" but after doing few things i resolved them, and when all seems to be good and i tried to hit "localhost:3000/admin" I got this error.

NoMethodError - undefined method `per' for #Asset::ActiveRecord_Relation:0x007faef5b99820:
Can you please guide me here how can i get away with this.

Server logs are:
Started GET "/admin" for 127.0.0.1 at 2015-1

[2015-12-02 10:39] Ahmedalthani opened #286 "authenticate_admin method ?"
I am trying to add an authentication method to only allow me to be the Admin in the app. I looked at the docs but couldn't find the code to do that ? Did anyone had this issue ?

[2015-12-02 12:29] akrisanov commented on #150
**Enum field with humanized text**

*enum_field*:
[code]

*_form.html.erb:*
[code]

[2015-12-02 15:31] djordje47 opened #287 "Views, little problem for all of you, big for me"
Hi,
I am new to rails and I am learning all the time. So I need help with editing my form of my new Categories. I do not know how to connect _form.html & edit.html which I generated through terminal and this command: " rails generate administrate:views:edit Category "  with my dashboard. I do not need any special edditing just few forms and that's it.

Thanks in advance,
Best regards

[2015-12-02 15:41] johnmeehan commented on #222
Just change the order of the link_to attributes to  ` [Administrate::NAMESPACE, : send_notification, resource]`
[code]
This will generate your link route correctly.

In my routes.rb  I added a 'clone' action by adding
[code]

This gives me the additional route I need:
` admin_clone_palladio_style POST     /admin/palladio_styles/:id/clone(.:format)                                       admin/pallad

[2015-12-02 15:46] johnmeehan commented on #286
Here is what I did (I am using Devise with enum roles)
[code]

[2015-12-02 15:48] johnmeehan commented on #284
If you have both kaminari and will_paginate this will happen.

[2015-12-02 17:32] hamzaiftikhar commented on #284
No i only have will_paginate.

[2015-12-02 19:15] sockmonk opened #288 "Search by the ID field"
I'd like to a basic search by the actual ID primary key of some of my tables, but there doesn't seem to be an easy way to do that. The best I can do is click on a random record to get its 'show' view, and overwrite the URL.

Maybe the search could be by ID if it's all numeric, or there could be separate "search by id" field? The latter's probably better, especially if people use GUID keys.

[2015-12-02 19:23] calrrox opened #289 "Set ruby version for CircleCI"
Hi, excuse me for return to discuss this.

On the issue #253 it was concluded that it was not necessary to add to "circle.yml" the version of ruby.

But I think so, because the ".ruby-version" file is used by "RVM" to declare "gemset" for example, and the name of this "gemset" is user preference.

So I think it is best set to "circle.yml" version of ruby and add to ".gitignore" the file ".ruby ver

[2015-12-02 23:12] Ahmedalthani commented on #286
Thanks for your help. After Adding that method how can you set the user (me or anyone else that i choose) to be an admin ?

[2015-12-03 01:38] Sajonara commented on #286
@Ahmedalthani I would add a field to the Users table in the database.

You could use a boolean field, so either a user is admin or not. Then you can use this data with an if statement and the user object, like

[code]

Or you could add a new string-field to your database, to put in a special "role", and then use either an if or case statement and show or hide pages and features from particular use

[2015-12-03 03:09] hamzaiftikhar commented on #284
can you provide me the solution? how can i get rid of this error.

[2015-12-03 03:27] hamzaiftikhar commented on #284
@johnmeehan @bernerdschaefer @croaky @mjankowski @dctanner please can any of you give me some solution? I am on a tight deadline now.

[2015-12-03 06:03] ascendbruce commented on #284
hi @hamzaiftikhar could you provide your `Gemfile.lock` in a [gist](https://gist.github.com/)?

[2015-12-03 07:38] hamzaiftikhar commented on #284
Here is the Gemfile.lock

https://gist.github.com/hamzaiftikhar/579af90f0682cc21a00e

[2015-12-03 08:58] johnmeehan commented on #284
administrate has kamainari as a dependency.

make an initialiser in `app/config/initializers/kaminari.rb`
[code]
and now both will_paginate and kaminari play nice.

[2015-12-03 12:17] graysonwright commented on #167
@tute - can you give me a sample app to work with? I haven't used model inflections or acronyms before, so I'm not quite sure what the errors look like.

Thanks!

[2015-12-03 12:25] graysonwright commented on #274
It looks like this is being taken care of in #180. Let's move the discussion over there.

[2015-12-03 12:25] #274 closed

[2015-12-04 04:37] taylorscollon commented on #195
Just wanted to say thanks for the nice solution. This was helpful for me.

[2015-12-04 05:04] schneidmaster opened #290 "ActiveRecord enum types incorrectly interpreted by generator"
[ActiveRecord enums](http://edgeapi.rubyonrails.org/classes/ActiveRecord/Enum.html) are integers in the database, but ActiveRecord translates them into the associated string value before returning them to Rails application code. The problem is that the administrate generator interprets them as integers by default, which means that any generated dashboards with enums error unless you manually chang

[2015-12-04 16:18] michaelimstepf opened #291 "Search crashing with uuids, any way to override search?"
Thanks for creating this awesome gem,

I have this table:

[code]

And when I search I get this error:

[code]

Rather than overriding the index method with my own search implementation, is there a way I can override the search method so it ignores the ID field?

[2015-12-04 17:25] tomgatzgates commented on #291
This is what i've done `id: Field::String.with_options(searchable: false)`

[2015-12-04 20:07] alexkrolick opened #292 "with_options(title: '...') not setting field titles in dashboards"
It seems like the default stringifier cuts off anything that ends with `_id` when it generates the labels for fields. I tried making a custom title for the fields like this:

[code]

But the labels throughout the dashboard are still the same.

[2015-12-04 21:23] michaelimstepf commented on #291
Thanks! Upgrading to v0.1.1 and re running the installer fixed it.

[2015-12-04 21:23] #291 closed

[2015-12-05 21:12] latortuga opened #296 "Environment setup issues"
I'm on Ubuntu 14.04 LTS and running `bin/setup` gives me issues with the default configuration:

[code]

...with a bunch more output. I commented out the `host` portion in `database.yml` and all works perfectly. Would you be amenable to accepting a PR where I modify the setup script to copy a `database.yml.example` to `database.yml` and add `database.yml` to `.gitignore`?

[2015-12-06 11:32] nando commented on #277
Hi John,

we've been talking about this in this issue: https://github.com/thoughtbot/administrate/issues/183

This is in the context of Smart Searching https://github.com/thoughtbot/administrate/issues/157

Using my fork's branch search_scopes is possible to filter using the model scopes just adding "name_of_the_scope:" at the beggining of the search query.

Let me know if it is helpful for you to

[2015-12-06 16:03] graysonwright commented on #267
@Tensho that looks great!

I'm open to making this change, but I want to gauge interest first. If other people run into this problem as well, we can definitely add it in. I'll leave this issue open for now so people can comment on it.

[2015-12-06 20:55] graysonwright commented on #287
Hello, @djordje47!

If you only want to add new form fields, you should be able to edit `_form.html.erb` and ignore `edit.html.erb`.

To make sure it's working, add `<h1>Test</h1>` to `_edit.html.erb`, and make sure you see it show up at http://localhost:3000/admin/categories/new .

You can find a good overview of how Rails views work here: http://guides.rubyonrails.org/layouts_and_rendering.html

[2015-12-06 21:04] graysonwright commented on #284
@hamzaiftikhar, sorry I haven't responded sooner.

This issue has come up in #158 - you should be able to find a solution there.

If that doesn't work, feel free to re-open this issue. Cheers!

[2015-12-06 21:15] graysonwright commented on #281
@aaronrenner thanks! We definitely want to allow custom namespaces. Rails Admin's install generators should be a good reference for implementing this ourselves.

[2015-12-07 04:21] graysonwright commented on #289
I took a look at:

- <https://github.com/rails/rails>
- <https://github.com/sferik/rails_admin>
- <https://github.com/activeadmin/activeamin>

and they all have `.ruby-version` in their `.gitignore`. It seems that the best practice in this case is to ignore the `.ruby-version` file, and let the developer customize that.

Perhaps we can generate a default `.ruby-version` file through our `bin/setup

[2015-12-07 10:26] AlexBeznos commented on #267
:+1:

[2015-12-07 13:39] masciugo opened #300 "Hierarchy and custom fields"
I'd like to create a custom field inheriting from `Administrate::Field::HasMany`. Where can I set the options? For example to increase the number of items to show for an HasMany like field I tried the following without success:

[code]

My workaround was:

[code]

Also I expected not to be forced to create views when using inheritance. Instead I had to copy original HasMany views in my HasManyPict

[2015-12-07 15:20] hamzaiftikhar commented on #284
I have also seen #158 but that didn't work as well. And neither did @johnmeehan's. Can you guys tell me any other way around?

[2015-12-07 18:12] graysonwright commented on #289
This is now being discussed on #299. I'll close this so we can keep the conversation on that thread.

[2015-12-07 18:12] #289 closed

[2015-12-07 18:15] graysonwright commented on #284
@hamzaiftikhar you might have already tried this, but what happens when you add the following method to `app/controllers/admin/application_controller.rb`?

[code]

[2015-12-07 19:06] graysonwright commented on #283
@erickreutz, great question! Sorry it took me a while to get back to you.

There are a couple ways to do this:

One way is to remove the models from your `DashboardManifewt`, and replace the generated routes with custom ones for your application. You're under no obligation to use the routes that administrate defined for you - those are merely a suggestion.

Another way to accomplish this would be

[2015-12-07 19:08] graysonwright commented on #280
@nextekcarl you're right, this seems to be something that's throwing a lot of people off. Documentation could definitely be improved here.

I'm really curious about why this is working sporadically in development - it seems like it should just fail outright. I'll try to investigate a bit on this.

[2015-12-07 19:20] nextekcarl commented on #280
I wonder if it depends upon the initialize order? I'm not sure how that's
handled, but it it isn't a determinate order maybe?

On Monday, December 7, 2015, Grayson Wright <notifications@github.com>
wrote:

[2015-12-07 19:33] graysonwright commented on #288
@sockmonk it looks like this is related to #157, #277, and #183.

It probably makes sense to treat the id the same as any other number field, and not have special behavior for it. I'm planning to support searching number fields by `=`, `>`, and `<`, as in:

- `price < 20`,
- `id = 4`,
- `lifetime_value > 200`

At the moment we're focusing on stability and documentation. This will be one of the fir

[2015-12-07 19:49] graysonwright commented on #286
@Ahmedalthani there's a good overview of how to set up authentication in your app at http://railscasts.com/episodes/270-authentication-in-rails-3-1. It may have the solution you're looking for.

Perhaps the easiest way to get this working would be with HTTP basic authentication:

[code]

## Security Note

If you use the `http_basic` authentication approach, make sure you aren't storing the usernam

[2015-12-07 21:20] graysonwright commented on #291
@tomgatzgates thanks for your solution!

@michaelimstepf glad it's working for you. Let us know if you have any other issues!

[2015-12-07 21:23] graysonwright commented on #292
@whokilledtheelectricmonk, thanks for pointing this out.

We'd absolutely like to support custom labels, but this feature isn't in place yet. I'm going to assign this to the `0.1.3` milestone, and we'll take a look at it as soon as we've ironed out more pressing bug fixes.

[2015-12-07 22:48] michaelimstepf opened #302 "Passing in arguments from dashboard to custom field"
I like the way how we can add custom fields, very useful. What is the proper way of passing in arguments to a custom field? I hacked it by calling a protected method but there must be a better way...

[code]

[2015-12-08 00:20] coneybeare opened #303 "Allow Easier Editing of Labels For HasMany Field"
I have a user with many Roles, and on the edit page, I see a label saying `Role ids` when I would rather see the label say `Roles` instead. The only way I see to make this minor edit is by creating my own custom field which would duplicate most of Field::HasMany. Is there an easier way, am I missing something?

[2015-12-08 10:41] graysonwright commented on #277
@wolfieorama Thanks for your interest! We're still trying to figure out the best way to support filtering. Let's move this conversation over to #183 - I'd love to hear your ideas.

[2015-12-08 10:41] #277 closed

[2015-12-08 16:24] hamzaiftikhar commented on #284
Thanks guys it worked finally

[2015-12-08 16:24] #284 closed

[2015-12-08 17:21] warrenbrown opened #308 "After running install generator I get this error `source_reflection': undefined method `klass' for nil:NilClass (NoMethodError)"

[2015-12-08 18:09] sockmonk commented on #288
Thanks for your response, and thanks for a great tool. I tried replacing or adding to the line with Administrate::Search, but couldn't get it to work right. I solved it for now by adding a second search parameter in the view and controller, and in one case a third param, and searching by the new parameter with a straight ActiveRecord call. The CSS is a little off, but it mostly works, and is ok fo

[2015-12-08 18:09] #288 closed

[2015-12-08 21:43] seanpdoyle commented on #290
It would also be nice if the outgoing `String` value had `#titleize` invoked on it.

[2015-12-09 03:43] graysonwright commented on #296
@latortuga interesting. Does Ubuntu not recognize `localhost`?

I wonder if we can remove the `host` argument altogether. It looks like doing so still works on OS X.

@croaky & @geoffharcourt, thoughts?

[2015-12-09 04:06] graysonwright commented on #300
@masciugo thanks for bringing this up.

I was a bit surprised that the `DEFAULT_LIMIT = 100` approach doesn't work. After looking into it, it turns out that Ruby's inheritance doesn't work the same way for constants as it does for methods.

At the moment, you're doing everything the right way. It would be nice to improve the workflow in a couple ways, by letting people overwrite the default attrib

[2015-12-09 05:11] erickreutz commented on #179
Is this still on track for v0.1.3?

[2015-12-09 11:16] masciugo opened #310 "destroy administrate:views not working"
it seems that `generate` and `destroy` do the same thing:
[code]

[2015-12-09 12:53] jrnk commented on #189
For other people running into this, or `flash` related problems when using the `administrate` gem with `rails-api`. Add the following two middleware in `application.rb`

[code]

[2015-12-09 14:08] geoffharcourt commented on #296
I've always avoided declaring the `host` parameter, but I assumed it was needed for folks on *nix/BSD systems. If it works across both OS categories I'm happy to drop it.

I'm a little nervous about moving to a `database.yml.example` world just because it's one more subtle thing a user could miss when they are tweaking their application setup.

[2015-12-09 16:02] latortuga commented on #296
I don't really have a horse in either race. I will say that the `bin/setup` script was very straightforward and a pleasant surprise as most projects do not have a similar setup script. Adding a copy command along with a helpful message could be the ticket. However, it does work fine without the `host` argument so that way is fine with me too.

[2015-12-09 19:28] latortuga opened #314 "Search is ambiguously displayed when nothing is searchable"
Example: https://administrate-prototype.herokuapp.com/admin/line_items

None of the fields are searchable yet there is a search box. What do you think about removing it in this case? The problem is that using the search _appears_ to do something but really does nothing.

[2015-12-09 19:53] sockmonk commented on #303
In the role_dashboard.rb at the bottom, overwrite the "display_resource" method. It will override what's displayed on the User page, too.

[2015-12-09 19:57] graysonwright commented on #303
@sockmonk I'm not sure that solves @coneybeare's problem - maybe I'm misunderstanding though.

@coneybeare, I'd like to support custom labels by passing in an argument in the dashboard, like:

[code]

Passing in the `label` option would change the table heading on the `index` page, as well as the left-side labels on the `show`, `edit`, and `new` pages.

Would that solve your problem?

[2015-12-09 20:01] coneybeare commented on #303
The solution by @sockmonk does not solve the problem. That method is for when a Role is displayed on another form or field.

@graysonwright has the right approach here of editing it as part of the dashboard data. I actually tried doing that first by passing in `:name`, `:label` and other values, but could't find any documentation on it and the code wasn't clear, at least to me.

[2015-12-09 20:03] graysonwright commented on #303
@coneybeare yeah, at the moment it's not supported.

It's a bit strange though - I thought we were already removing `_ids` from `has_many` fields. I may be getting it mixed up with the `_id` suffix on `belongs_to` relationships.

Let me dig in a little bit and see if I can remove the `_ids` suffix - I think we'll want to do that for all `HasMany` relationships. After that we can break out the cust

[2015-12-09 20:10] graysonwright commented on #303
@coneybeare #315 should take care of this. Thanks for pointing it out!

[2015-12-09 20:52] #303 closed

[2015-12-09 21:29] graysonwright commented on #303
@coneybeare If you set your administrate version to `~> 0.1.2`, this should be fixed.

[2015-12-09 21:39] graysonwright commented on #310
@masciugo interesting. I haven't used the `destroy` command before. I assume it's intended to delete the same views that the `generate` command creates?

[2015-12-09 21:40] graysonwright commented on #189
@tomgatzgates is that the same workaround you used? If not, can you post your solution as well for others who might run into it?

Thanks!

[2015-12-09 21:41] graysonwright commented on #296
I'm :+1: on dropping the `host` key. Will create a PR before 0.1.3.

[2015-12-10 08:15] masciugo commented on #310
ya. It magically works for the other adminstrate generators

[2015-12-10 12:06] marcog commented on #195
Uploading with Carrierwave is pretty strait forward too, following @picandocodigo path:

[code]

[2015-12-11 01:42] coneybeare opened #318 "Alias _requested_resource to appropriately named model"
I'd like to see the `assigns['_requested_resource']` aliased as the named model, i.e. `assigns['user']`

If we know the model type for the dashboard, this seem like a no brainer. Is there a design reason why this was not implemented?

[2015-12-11 04:34] mhelmetag commented on #308
Can you possibly post the stacktrace? That should help with debugging...

[2015-12-11 08:41] nastia-shaternik opened #319 "Translations of the resources used in Administrate"
Hi there,

I would like to use translations for resources that used in Administrate.
So, where should I place them?
Thank you in advance for the answer.

P.S.
I've tried to place them in my local `config/locales/administrate.ru.yml`, kinda:

[code]

Also I tried to add this into `ru.yml`:
[code]

But this doesn't help :(.

[2015-12-11 10:48] nastia-shaternik commented on #319
sorry, i missed feature with loclizations was released in v.0.1.2, so I just update the gem I used.

[2015-12-11 10:48] #319 closed

[2015-12-11 15:09] tylrd opened #320 "Overriding the index method on a controller"
I'm trying to display all the users that aren't administrators in my users dashboard.

[code]

This is essentially from the boilerplate provided. The collections partial is rendering first and then the index method is being hit - it doesn't pass my `@resources` into the partial. Anything I am missing?

[2015-12-11 19:00] graysonwright commented on #319
@nastia-shaternik glad you got it working! For reference, we discussed and added that feature in #298 and #180.

[2015-12-11 19:50] graysonwright commented on #290
Merged in #295.

[2015-12-11 19:50] #290 closed

[2015-12-11 20:25] graysonwright commented on #318
@coneybeare, a quick note on usage:

`assigns['_requested_resource']` is a private variable used for memoization, and we don't expect you to use it. It's possible that it will change in future versions, so you shouldn't rely on it. Instead, in the `show`, `edit`, and `new` views, you can use `page.resource` to get the resource.

- - -

As for aliasing to the name of the model, we used to do that e

[2015-12-11 20:50] coneybeare commented on #318
I am sure others have other reasons to use it, but for me right now it's for controller specs.

[code]

According to my `puts` statement in this test, the only assigns I have are `_resource_resolver`,
`_dashboard`, and `_requested_resource`.

[2015-12-11 23:41] michaelimstepf opened #323 "belongs_to with class_name not working"
I have the following column and relationship, which works fine in AR:

[code]

When editing an `Organization` record, I get the attached error. How can I fix this? Thx

<img width="1337" alt="screen shot 2015-12-12 at 10 41 19 am" src="https://cloud.githubusercontent.com/assets/430682/11758249/ea9e7b52-a0bc-11e5-8ab8-d3ebfa7592c6.png">

[2015-12-12 04:58] nextekcarl commented on #258
We can generate the files used for views, but not for the layout. How do do we modify the favicon, or change the actual layout outside of the specific content_for blocks included already? I guess you could include content for blocks for each section, but that feels kind of clunky over just generating the layouts the same way we generate the views for resources, but I don't see a way to do that.

[2015-12-12 15:47] graysonwright commented on #318
Since we're passing variables to views in a non-standard way, I wrote a helper function that can be used in place of `assigns`. I'm using it now in an internal controller spec:

- [Helper method](https://github.com/thoughtbot/administrate/blob/master/spec/controllers/admin/customers_controller_spec.rb#L180-L191)
- [Usage](https://github.com/thoughtbot/administrate/blob/master/spec/controllers/admi

[2015-12-12 16:24] coneybeare commented on #318
Indeed this will work

[2015-12-12 17:55] graysonwright commented on #323
Hey, @michaelimstepf! In `organization_dashboard.rb`, try changing:

[code]

to:

[code]

Let me know if that solves your problem.

[2015-12-12 18:23] graysonwright commented on #320
Hey, @taylor-d.

[Here's the default code for the `index` action][index]. As you can see, the resources are populated by the `Administrate::Search` object, and are passed to the views through local variables.

If you want to override the resources that are passed to the views, you'll have to overwrite the entire method - try copying the entire `index` action into your controller, and editing line

[2015-12-12 20:00] #181 closed

[2015-12-12 20:01] graysonwright commented on #181
The fix will go out in `0.1.3`.

[2015-12-12 20:02] graysonwright commented on #258
@nextekcarl I just merged in #269, which adds `rails generate administrate:views:layout`. It'll go out in version `0.1.3`, and until then you can get it by using `gem "administrate", github: "thoughtbot/administrate"`.

Cheers!

[2015-12-12 20:38] nextekcarl commented on #258
Woohoo!

[2015-12-13 02:00] michaelimstepf commented on #323
@graysonwright Awesome, thanks, that worked.

Another question that I couldn't find an answer for in the documentation.
Is there any way to pass in `allow_blank: true` to a belongs_to field so users can make no selection when saving the record?
And for a has_many (through) field, is there a way to pass in the already saved associated records to the multiple select field? Let's say I have an `Organ

[2015-12-13 03:08] graysonwright commented on #215
@fahidqbx It looks like this issue is going a bit stale. Can you give a status update?

[2015-12-13 03:11] graysonwright commented on #323
@michaelimstepf what version of Administrate are you using? I think we may have fixed the `HasMany` bug you mentioned in #247 (discussion in #244).

As for the `allow_blank: true` question, that might have been addressed in #312. If you're using Administrate `~> 0.1.2`, that should be the default behavior.

[2015-12-13 03:18] graysonwright commented on #318
Based on discussion in #320, I think the local variable approach might have some drawbacks to look at. We need to make sure it's easy to override the variables passed to the views.

I'll close this issue for now and leave #320 open. If anyone has thoughts, feel free to reopen this or comment on #320.

[2015-12-13 03:18] #318 closed

[2015-12-13 03:33] michaelimstepf commented on #323
@graysonwright You're a legend, upgrading from 0.1.1 to 0.1.2 fixed both issues.

Is there any way I can pass in an HTML class to a field? I saw in the Ruby docs that there's an html_class method but it doesn't accept any argument. I'm basically trying to add some custom styling (I have a verified checkbox/boolean for some attributes that I want to float left to the field it applies to).

[2015-12-13 03:53] michaelimstepf opened #327 "uninitialized constant when using custom field more than 1 time"
I ran into a strange error when using a same custom field more than 1 time in a dashboard.

This works fine:

[code]

This returns an `uninitialized constant Administrate::Field::Select` error:

[code]

[2015-12-13 21:56] erickreutz commented on #291
What is we are wanting to search by UUIDs though?

[2015-12-13 21:59] graysonwright commented on #291
@erickreutz we're planning to do a big overhaul of search, as discussed in #157 and #322. When we do that, it will add support for UUID columns.

[2015-12-14 03:21] tute commented on #167
If it's in administrate better, I hope! Check out my `tc-inflections` branch. If you boot up the app, you'll see:

[code]

Thank you, Grayson!

[2015-12-14 03:22] tute commented on #167
https://github.com/thoughtbot/administrate/tree/tc-inflections

[2015-12-14 05:05] nextekcarl opened #329 "#to_s on models not working reliably"
I've updated to 1.2.0 and to_s doesn't seem to be reliably working to display titles/names for models:

![to_s](https://monosnap.com/file/q0R2xKqV9DCU3YWrjkkr5YdE2osbRU.png)

There was talking about changing this in another issue, but I don't see anything saying the method changed, and I can't find anything documented anywhere, plus it is still working in at least one area shown.

[2015-12-14 16:15] zamith commented on #182
What about for projects that start using administrate pretty late in the game, when they already have dozens of models, but only want dashboards for some? Is that a solution as well?

[2015-12-14 16:18] graysonwright commented on #182
@zamith - you could take a couple approaches there.

1. Run `rails generate administrate:install`, and delete the dashboards you don't want
2. Run `rails generate administrate:dashboard ModelName` for each dashboard you do want.

If you go with option 2, you'll also need to define a `DashboardManifest` class [that follows this structure][manifest].

[manifest]: https://github.com/thoughtbot/admini

[2015-12-14 16:24] zamith commented on #182
@graysonwright Right, I was wondering about the manifest. I think I'll take number 2. Any interest/ideas to improve the flow in this situation, or is this not a regular use case at all?

[2015-12-14 16:25] graysonwright commented on #182
At the moment we don't have a generator for creating only a blank manifest - we could add that in as part of our generator push.

Thanks for the suggestion!

[2015-12-14 16:27] zamith commented on #182
That would be cool. Thanks.

[2015-12-14 16:29] zamith commented on #182
@graysonwright Btw, is there a way to specify the directory administrate uses? I already have an `admin` directory for other things, I would like to change it.

[2015-12-14 16:32] zamith commented on #182
It seems you also need an `Admin::ApplicationController`, or to change the inheritance to something else.

[2015-12-14 16:34] graysonwright commented on #182
@zamith at the moment, `admin` is hard-coded. We'd like to change that, but haven't gotten to it yet. There's discussion in https://github.com/thoughtbot/administrate/issues/281.

[2015-12-14 16:36] zamith commented on #281
What about having it as a config? It could be defined once per project, instead of every time you want to generate one.

[2015-12-14 16:51] zamith commented on #281
@graysonwright What do you think of #330?

[2015-12-14 18:25] zamith opened #331 "Customizing `candidate_resources` per Dashboard"
Is it possible to define in a per dashboard basis, the queries to be done to get the `candidate_resources`, instead of using `all` all the time.

Example: A user can have multiple roles, and depending on the role we might (or not) want to show that user in the list of users to select from.

[2015-12-14 18:45] zamith commented on #331
What about something like:

[code]

[2015-12-14 20:11] coneybeare opened #334 "Best way to include main app helper modules in administrate?"
In making a custom field, I have the need to reuse an `image_srcset_tag` I created outside of the app inside a helper. Administrate does not seem to know about my main app's helpers, so it appears that I would either have to duplicate the methods, or find someway to easily import the modules into administrate. What would you recommend?

[2015-12-15 02:02] #187 closed

[2015-12-15 04:38] graysonwright commented on #334
Interesting question. I don't know an easy way to do this off the top of my head, but I'll ask my teammates and see if anyone knows a way.

[2015-12-15 04:51] coneybeare commented on #334
I think the only way is for you to load it into the engine: http://stackoverflow.com/a/21792041/69634

It makes sense because you expect the fields to be defined in the same place as the main app views, so they should have access to the main app helpers as well. With routing you can use `main_app.xxxx`, but nothing like that exists for the helpers.

[2015-12-15 04:59] graysonwright commented on #140
The interim solution should hold until we have a solution for #143.

[2015-12-15 04:59] #140 closed

[2015-12-15 05:00] graysonwright commented on #334
@coneybeare did that solve the problem for you?

[2015-12-15 05:10] coneybeare commented on #334
I haven't tried yet, but I am also researching the best way, and trying to wrap my head around potential pitfalls. It appears as though the library purposely tries to be as isolated as possible, and this would add a major hook into the main app. It would be better if a solution could be found in a line to add to the main app instead.

[2015-12-15 05:18] graysonwright commented on #334
Alright, let me know if you find anything that works well. Thanks for your help!

[2015-12-15 07:18] graysonwright commented on #182
follow-up to the `admin` namespace discussion in #339, #332.

[2015-12-15 07:21] graysonwright commented on #281
Commented on that issue. Also opened up #339 as an alternative solution.

[2015-12-15 07:24] graysonwright commented on #327
@michaelimstepf - I think you should change `Field::Select` to `Select` in both places.

It looks like this is a duplicate of #280, but feel free to re-open if that doesn't solve your problem.

[2015-12-15 07:24] #327 closed

[2015-12-15 07:33] graysonwright commented on #323
@michaelimstepf The `html_class` method is part of the private API - it's not used for customizing the generated HTML.

The best way to do that right now would be to generate the view and override the HTML.

I think we could add better support for this by accepting a `html_class` option, like:

[code]

If we take that approach, the question comes up of how this is handled on the different pages. W

[2015-12-15 07:47] #215 closed

[2015-12-15 07:50] graysonwright commented on #329
@nextekcarl, we changed up the rendering behavior in #191 - that change went out in version `0.1.1`.

You can fix the behavior by adding this to your `ProductDashboard`:

[code]

As for the "Show Shampoo" button that is using `#to_s`, that was an oversight that was fixed up in #243. If you update to version `~> 0.1.2`, that fix should be in place.

If that solves your problem, feel free to close t

[2015-12-15 08:20] graysonwright commented on #327
Also, btw - [the changelog](https://github.com/thoughtbot/administrate/blob/master/CHANGELOG.md) is a good place to check if you see unexpected behavior after updating.

[2015-12-15 08:38] michaelimstepf commented on #323
@graysonwright Thx. They syntax you posted looks very good to me.

Given that all three pages (index, show, edit) use different html attributes, I would just apply the same class to all of the three pages and then it's up to the user to limit the scope to a specific html element.

The other option you suggested (HTML class by default to all of the fields) would work but I think is inferior for the

[2015-12-15 08:50] michaelimstepf commented on #327
Fixed, thanks, my bad. I'll definitely keep checking the changelog.

[2015-12-15 10:24] michaelimstepf opened #341 "Suggestion: Allowing ordering to accept more options"
I have to order the index page by default by an attribute `quality`, which can be `NULL` or any value from 0 to 10.

[code]

If I order with `desc` (highest quality first), `NULL`'s will come first. Postgres has a nice syntax to control whether `NULL`'s should come first or not: `Organization.all.order('quality DESC NULLS last')`.

However, I can't use the code posted above because AR is not aware

[2015-12-15 14:21] coneybeare commented on #334
I haven't found anything that works yet unfortunately, but still hope to keep this DRY

[2015-12-15 17:22] masciugo opened #342 "custom field and ckeditor"
thanks to #326 (wonderful) I was able to add [ckeditor](https://github.com/galetahub/ckeditor) in a custom field this way:
[code]
I was not able to find a way to prevent the editor from overlapping the label:
![screen shot 2015-12-15 at 18 16 52](https://cloud.githubusercontent.com/assets/454321/11818001/149c02d8-a358-11e5-8b24-ef17dfe20865.png)
I know it's not very related to administrate which i

[2015-12-15 17:51] kzazarashvili opened #343 "Custom JavaScript problem"
I tried to add custom JavaScript to the view that the gem generated for me, but it didn't work. The gem didn't load the assets from my application. Is there any solution for such situation?

[2015-12-15 19:07] nextekcarl commented on #329
Thanks, though I'm already updated to 0.1.2 in that screenshot, so I think that button code must still be using the old code. I had just updated Administrate to 0.1.2 about 20 mins before posting that screenshot.

[2015-12-15 19:42] nextekcarl commented on #329
And just to verify that I tried to update the gem again (already updated) and then changed the new display_resource method to reverse the text as shown here:

![edit oopmahs](https://cloud.githubusercontent.com/assets/16820/11821921/c92e6f84-a320-11e5-9ddc-cc9eb101f0ac.png)

The button must still be using the model's #to_s method.

[2015-12-15 20:07] graysonwright commented on #329
Interesting. @nextekcarl, do you have `app/views/admin/application/edit.html.erb` or `app/views/admin/products/edit.html.erb` in your application?

[2015-12-15 20:11] graysonwright commented on #343
@kzazarashvili, which file did you try to add your javascript to?

We just added a new generator, `rails generate administrate:assets:javascripts`, in #326. If you update your Gemfile to use:

[code]

...then you should have access to that generator. After you run it, Administrate should pick up any javascript you add to `app/assets/javascripts/administrate/application.js`.

[2015-12-15 20:15] graysonwright commented on #342
hm... that's interesting. I'm not able to look into this yet, but let me know if you figure out the problem! A CKEditor plugin would be a great addition after we figure out #123.

[2015-12-15 22:45] nextekcarl commented on #329
D'Oh! That was it, thanks.

[2015-12-15 22:45] #329 closed

[2015-12-15 22:52] kzazarashvili commented on #343
Thank you very much! it worked.

[2015-12-15 22:52] #343 closed

[2015-12-16 19:58] #281 closed

[2015-12-17 03:48] coneybeare opened #349 "Allow easier hooks to provide simple, custom stylesheet/javascript requires"
**Problem**

I made a custom Font-Awesome field that displays a stored icon name string ("fa-facebook") as its rendered icon rather than its name. After getting the appropriate gem, I need to add one line into the `application.css` file.

Generating the entire `administrate:assets:stylesheets` stack so I can plug this one value in seems a bit sledgehammerish.

**Ideas**

Not sure if any/all of the

[2015-12-17 16:30] graysonwright commented on #341
Nice idea! I think that would definitely make it easier for users to define custom ordering strategies.

[2015-12-17 16:38] graysonwright commented on #323
We've gotten a bit off-topic, and I think it would be good to move this into its own issue. I'm going to close this and add another issue for it.

[2015-12-17 16:38] #323 closed

[2015-12-17 16:42] graysonwright opened #351 "Pass custom HTML classes into fields"
This conversation is carried over from #323. Here are the relevant comments from that issue:

@michaelimstepf said:

@graysonwright said:

@michaelimstepf said:

[2015-12-17 16:42] graysonwright commented on #323
Moved to #351.

[2015-12-18 11:23] zamith commented on #351
@graysonwright Is this option passing preferable to overriding the view files?

[2015-12-18 15:17] Kendos-Kenlen opened #353 "Generator to update dashboard"
Hi,

A generator to update dashboards depending of new models or updated fields would be very useful.
It would avoid to write manually new dashboard configuration, and avoid to re-install everything.

[2015-12-18 19:21] rikkipitt commented on #342
I built a ckeditor plugin a long while ago and encountered this. I forget why it happens, but I can look into it soon.

[2015-12-18 22:36] rayfix commented on #173
Hello.  I am hitting the error during rake assets:precompile on heroku (can't reproduce in development)
InlineSvg::Configuration::Invalid: Asset Finder should implement the #find_asset method

I am using will_paginate and first ran into  the problem #158 and fixed that by customizing my index as that issue suggested.

rails 4.2.5 app, using 0.1.2 administrate.  (Project actually includes all the g

[2015-12-19 04:39] rayfix commented on #173
Sorry my bad.  In the process of trying to solve #158 I updated some gem dependencies.  (A newer version of sprockets is getting me I think.)  Anyway, that appears to have been the source of this problem and resemblance to this issue was just coincidence.  PS: Thank you for this great tool.

[2015-12-19 14:20] nando commented on #195
We're using Carrierwave in our project, thanks @marcog! And thanks @picandocodigo, @graysonwright and the rest of the people making possible to build this great tool :)

p.d.: @graysonwright you put a typo in the milestone version tag of this issue :(

[2015-12-19 18:05] coneybeare opened #354 "Belongs_to form NoMethodError when association uses different foreign_key"
**Setup**

[code]

**Problem**

Visiting `/admin/author_links/2/edit` results in

![NoMethodError](http://cloud.coneybeare.me/e8hy/Screen%20Shot%202015-12-18%20at%2010.34.17%20PM.jpg)

The `NoMethodError` stems from [`Field::BelongsTo.permitted_attribute`](https://github.com/thoughtbot/administrate/blob/master/lib/administrate/fields/belongs_to.rb#L6), where you assume a standard association and h

[2015-12-19 18:06] zamith commented on #353
What's your use case for this? Do you add so many fields to a model at once that it is a pain to add them also on the dashboard? Bare in mind that you don't have to add all fields to the dashboard, only those that are of interest to an admin.

[2015-12-20 16:09] akrisanov opened #355 "undefined method `display_resource_name' for..."
Hello,
just updated Administrate from 0.1.1. to 0.1.2 and got an exception:

[code]

[2015-12-20 18:44] Kendos-Kenlen commented on #353
I'm in the beginning of the development of my application so yes, I had a lot of fields and often. I use administrate to easily create data, in specifics cases and to edit them quickly.
Of course at the end, I plan to remote a part of the models in administrate but currently, all of my models are in the dashboard.

I use administrate not for the production, but for the development for the moment,

[2015-12-21 11:14] zamith commented on #355
That method should be there, it might be something else you've done or overwrote.

Can you go to your console (`bundle exec rails console`) and run `Administrate::ApplicationHelper.instance_methods(false)`? What's the output of that?

You should be seeing this: `[:render_field, :display_resource_name]`

[2015-12-21 11:28] zamith commented on #354
Since we are passing the `class_name` as an option, we can pass the `foreign_key` as well, no?

Or we can try to be a bit more clever and do something like:

[code]
which right now is not possible, since the field does not know about the `AuthorLink` class.

[2015-12-21 14:50] coneybeare commented on #354
I would prefer passing the option in the dashboard, but I know that the goal of administrate is to avoid DSL and keeping the `with_options` as limited as possible. This could be problematic because if you allow `foreign_key` in the options, then you also should allow the other options for associations like `:conditions`, `:through`, `:polymorphic` etc...

[2015-12-21 15:30] kesha-antonov opened #356 "inline_svg: Asset Finder should implement the #find_asset method (InlineSvg::Configuration::Invalid)"
Hello guys!

Thank you for this awesome gem!

I've encountered 1 big problem today. I can't precompile assets in production or start server.
Here's related issue on inline_svg tracker: https://github.com/jamesmartin/inline_svg/issues/25

[code]

Please advice or help.

[2015-12-21 16:05] graysonwright commented on #271
@BenMorganIO A top nav is something that will probably vary a lot between different implementations of Administrate. I'm not sure how to add a top nav that will be generally useful.

On `master`, we just added #269. This gives you the command `rails generate administrate:views:layout`. It'll go out in version 0.1.3, and until then you can get it by using:

[code]

If you (and others) want to share

[2015-12-21 16:09] graysonwright commented on #179
@erickreutz, most of the features for v0.1.3 got pushed back to v0.1.4 - we've changed up v0.1.3 to be mostly generator improvements.

We've started tracking development progress with GitHub's [milestones] - you can see this one is in v0.1.4.

[milestones]: https://github.com/thoughtbot/administrate/milestones

[2015-12-21 16:39] zamith commented on #271
I added a top navbar on my app by generating the layout and adding it to that layout. Here's the code in Slim, but it should be easily translated to ERb.

[code]

Hope it helps.

[2015-12-21 17:32] graysonwright commented on #271
Great, thanks! I'll leave this open to gauge interest - if anyone else wants to see this, let us know here.

[2015-12-21 17:47] graysonwright commented on #351
@zamith yeah, I'd definitely like to avoid getting into that level of customization through options.

@michaelimstepf, I just re-read the customization that you're trying to do, and realized that we may have fixed it in #206. If you're trying to get the checkboxes to be left-aligned instead of in the center of the field, that might solve your problem. That was also released in `0.1.2`.

Other than

[2015-12-21 17:47] #351 closed

[2015-12-21 18:08] #296 closed

[2015-12-21 18:33] masciugo commented on #342
@rikkipitt thank you!

[2015-12-21 19:19] akrisanov commented on #355
@zamith I see this:
[code]

[2015-12-21 19:21] james05 opened #360 "Date Time Select Layout Issue and Responsive Layout"
The layout when using Rails date_time_select looks terrible. The bigger issue this shows is the layout falls apart horribly on mobile devices. See the 2nd attached screenshot on a 5" smartphone screen.

![election_ui_bug](https://cloud.githubusercontent.com/assets/13721630/11939031/13504116-a7ed-11e5-8eea-c1d6041a8f50.jpeg)

![screenshot_2015-12-21-14-18-32](https://cloud.githubusercontent.com/ass

[2015-12-21 19:48] graysonwright commented on #232
Fixed by #282.

[2015-12-21 19:48] #232 closed

[2015-12-21 21:48] coneybeare commented on #334
It's not ideal, but I created my own `app/helpers/administrate/application_helper.rb` file which included a copy/paste of the 2 repo methods and `include ::ApplicationHelper`, `include ::ImagesHelper` and whatever other helpers I wanted to inject from the main app into the engine.

I have to monitor changes to the engines application helper and edit those as needed, but at least it works for the t

[2015-12-22 00:34] dmitrypol commented on #186
Is there a way to link to the home page from somewhere in the admin?

[2015-12-22 04:17] graysonwright commented on #182
This should be fixed by #362.

[2015-12-22 06:20] graysonwright commented on #360
@james05 that's interesting. The default look for `DateTime` fields is a bit different - you can see it in action at https://administrate-prototype.herokuapp.com/admin/orders/312/edit.

![edit_order__312___administrate_prototype](https://cloud.githubusercontent.com/assets/829576/11949127/d53f5d0a-a849-11e5-957c-132570c4ccbb.png)

Have you customized the `DateTime` fields in your application?

As f

[2015-12-22 11:53] zamith commented on #355
Right, so `display_resource_name` is really missing, but it shouldn't. Is you app code online and public?

[2015-12-22 18:30] james05 commented on #360
I changed the DateTime field intentionally as it's important for my application to work without JavaScript in text based browsers. The behaviour above is the behaviour for Rails form helper date_time_select.

[2015-12-22 22:33] coneybeare commented on #320
I came across this again today as well as in #318 with a scenario of having a logged in user only allowed to access certain elements in the collection. I can use the cancan gem on the front end to remove buttons and links and protect urls, but there should be an easier way to edit the finder for the collection than overriding the entire method.

Luckily, arel was made for this kind of thing. Why n

[2015-12-23 07:50] akrisanov commented on #355
**fields/history_field.rb**:
[code]

**fields/history_field/_show.html.erb**:
[code]
**fields/history_field/_offer.html.erb**:
[code]

[2015-12-23 09:21] zamith commented on #355
Do you have the code where you defined your helper? It would be easier if the entire repo was public, so I could debug in my machine, but I understand if that is not a possibility.

[2015-12-24 16:38] QuintinAdam commented on #173
@rayfix I am also getting this error when pushing to heroku. Did you get this fixed?

sprockets version 3.5.2

[2015-12-25 00:55] mariochavez commented on #356
Hi!,

I have a PR that will fix this issue. By fixing I mean droping inline_svg dependency and use a simpler solution inside administrate.

https://github.com/thoughtbot/administrate/pull/365

[2015-12-25 13:06] nicovak opened #366 "[SCSS] FIX - appearence none"
There is an issue with select and `appearance` css property. The dropdown 'icon' is displayed twice (tested on chrome).
A mixin should be used (It's SASS), Bourbon is imported, you could used it like this:

Eg: administrate/app/assets/stylesheets/administrate/base/_forms.scss

[code]

It will generates all browser's prefix for the property.

IE is the bad kid but Opera seems to be also : [W3C](htt

[2015-12-25 14:15] kesha-antonov commented on #356
@mariochavez thank you!

[2015-12-29 18:53] cameronbarker opened #367 "Change has_many or belongs_to display title"
Is there currently a way to choose which attribute will be displayed in a has many and belongs to  relationship form field?

Be happy to take a crack at it if not.

i.e. Change the text "Line Item #1001" to the Line Item's product attribute (see photo below).

![product](https://cloud.githubusercontent.com/assets/6642141/12039968/e38ea552-ae32-11e5-950c-141457e4e1a1.jpg)

[2015-12-29 20:09] zamith commented on #173
This also fails for me on the same sprockets version.

[2015-12-30 05:06] BillyParadise commented on #173
confirmed. I had sprockets-rails 3.0.0 in my gemfile.lock. Rolling it back to 2.3.3 solved the issue for me in production.

[2015-12-30 17:58] tquill commented on #173
Changing to 2.3.3 worked for me too.  Thanks.

[2016-01-03 16:46] janklimo commented on #286
@graysonwright you, Sir, made my day :beer:

[2016-01-04 12:32] introvert opened #373 "admin authentication"
Hello,

Very nice gem, but is there a tutorial - a nice way to set up authentication / login for the admin? Would be great to see how to do it elegantly..

thanks

[2016-01-04 20:18] ACPK opened #374 ""Rails generate administrate:install" interferes with the existing app/controllers/admin" folder."
How can I mount / install administrative in a different folder, so it doesn't conflict with a custom admin dashboard? We'd like to gently launch a new administrative dashboard, rather than completely remove the old one.

[2016-01-04 20:44] ACPK opened #375 "undefined method `class_name' for nil:NilClass"
/Users/andrewcharleskelley/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/activerecord-4.2.5/lib/active_record/reflection.rb:883:in `derive_class_name': undefined method `class_name' for nil:NilClass (NoMethodError)
        from /Users/andrewcharleskelley/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/activerecord-4.2.5/lib/active_record/reflection.rb:157:in `class_name'
        from /Users/andrew

[2016-01-04 23:05] coneybeare commented on #367
You just need to change the value returned for the `display_resource` method in your `LineItemDashboard`

[2016-01-05 01:02] hayesr commented on #373
Are you using authentication elsewhere in your app? I haven't tried this, but because Administrate is a Rails Engine I'm guessing you could override Adminstrate::ApplicationController to add authentication the same way you would in the rest of your app.

[2016-01-05 11:54] tomgatzgates commented on #278
I've just implemented a very hacky version. This class sits at the bottom of the user controller.
I'm not suggesting it asa fix but might help in your case :)

[code]

[2016-01-05 14:28] coneybeare commented on #373
Put your authentication in your `Admin::ApplicationController`, which is a subclass of `Adminstrate::ApplicationController`. I use [clearance](https://github.com/thoughtbot/clearance) and [cancancan](https://github.com/CanCanCommunity/cancancan) there to seamlessly protect all dashboard controllers.

[2016-01-05 15:19] #375 closed

[2016-01-05 16:14] ACPK opened #377 "NameError uninitialized constant class"
When I run `rails generate administrate:install`, it is incorrectly creating the dashboard name for zip_cache.  It's taking the plural (zip_caches) and removing the "es" and thus making it "zip_cach" which doesn't exist.

[2016-01-05 16:20] ACPK commented on #377
All set.

[2016-01-05 16:20] #377 closed

[2016-01-05 16:56] mdkirby commented on #167
This has to do with the most terse rails path helpers not handling singular and plural model names being the same, a potential fix is to use the more verbose index path helper for the sidebar
this isn't pretty, but if line 15 looked like below, I think it would work:
`Rails.application.routes.url_helpers.send("#{Administrate::NAMESPACE}_#{resource}_index_path")`

[2016-01-06 06:37] brigneld commented on #308
create  app/controllers/admin/application_controller.rb
      create  app/dashboards/dashboard_manifest.rb
       route  namespace :admin do
    DashboardManifest::DASHBOARDS.each do |dashboard_resource|
      resources dashboard_resource
    end

    root controller: DashboardManifest::ROOT_DASHBOARD, action: :index
  end
      create  app/dashboards/role_dashboard.rb
      create  app/controller

[2016-01-06 06:41] brigneld commented on #308
I also have this problem. Here is the stack trace:
      create  app/controllers/admin/application_controller.rb
      create  app/dashboards/dashboard_manifest.rb
       route  namespace :admin do
    DashboardManifest::DASHBOARDS.each do |dashboard_resource|
      resources dashboard_resource
    end

    root controller: DashboardManifest::ROOT_DASHBOARD, action: :index
  end
      create  app/

[2016-01-06 07:32] johncblandii commented on #308
Same thing here:

[code]

[2016-01-06 17:06] tysongach commented on #366
Definitely an issue many people are seeing. There’s some chatter and a possible fix over on #372, but Autoprefixer _should_ be running and take care of this for us (using Bourbon for prefixing is no longer the best solution). So if this is a prefixing issue, maybe it’s a bug with Autoprefixer.

[2016-01-06 19:12] IanMitchell opened #378 "Missing Required Key"
Generated the admin controllers and dashboards, and made some minimal changes - getting this error when I try to open the default path, though.

[code]

This originates from the `_sidebar` file. Would this be a configuration error on my part?

Of note, I do have the following line in my `inflections.rb` file:

[code]

Would this perhaps be causing some disconnect?

[2016-01-06 19:29] tysongach commented on #366
I’ve confirmed that Autoprefixer is not actually running and outputting any prefixes, including the ones required here for these styles.

[2016-01-06 21:30] IanMitchell commented on #378
Some updates - visiting a specific user, such as http://localhost:3000/admin/users/1 works; it appears to be only on the User index action.

Staff belongs_to user, which has_many staff.

[2016-01-07 20:41] sikachu commented on #378
I tried to replicate this and created a simple app: https://github.com/sikachu/route-inflection

One thing I notice right away is that `rake routes` gives a different path name when `show` and `index` action both have the same name:

[code]

Looking at the [`_sidebar`](https://github.com/thoughtbot/administrate/blob/4eede3b15df668e3913e7edd3a018eb97dc28aa8/app/views/administrate/application/_sideb

[2016-01-07 21:18] IanMitchell commented on #378
Sure thing!

[code]

[2016-01-08 02:33] taylorscollon commented on #342
@masciugo did you have to do anything else to get your ckeditor working? I got a paperclip field, and combined how I did that with your _form.html.erb partial but no luck. I end up with a div with a class of 'form-field--ck-editor-field' but no toolbar.

[2016-01-08 05:22] joshnolan commented on #342
It has to do with the CKEditor generated HTML code.
If you wrap the CKEditor in a DIV and do the following the layout will be fixed (same issue occurred when using ActiveAdmin)

[code]

[2016-01-08 05:33] graysonwright commented on #286
Glad to hear it! :smile:

[2016-01-08 05:33] #286 closed

[2016-01-08 05:59] #130 closed

[2016-01-08 06:04] #182 closed

[2016-01-08 09:28] samnang opened #388 "Always go to show page"
When I tried to add another column in index page to show links which contain thumbnail like:

[code]

So whenever users click on thumbnail, it opens the url and as well as go to show page. We don't want to user go to show page. I notice it's always go to show page if event's target is not a link:
https://github.com/thoughtbot/administrate/blob/5f444611164a0b0494ee76fa30e6b577b93decef/app/assets/ja

[2016-01-08 11:33] masciugo commented on #342
@joshnolan thank you, it works. I had tried to wrap it in a DIV  but without applying the `display:table;` style which actually does the trick. Does it have an easy explanation? thanks again

[2016-01-08 11:33] #342 closed

[2016-01-08 11:49] naps62 opened #391 "Record context within a field"
Is it possible to have a custom field whose presentation logic depends on the record that holds it?

I was going through the documentation and the code, but from what I could see, the field has no knowledge of the record it's in

To clarify, I have a model where each record has a different monetary value & currency. I want to do two things:

1. Show the currency symbol alongside the value (this co

[2016-01-08 22:30] codemang commented on #320
I was just trying to solve this very same problem. To me this is an absolutely critical feature to support if I am to adopt Administrate for my needs, do you know if this will be addressed in any upcoming releases?

[2016-01-09 00:15] jersingh opened #393 "Inflection Issues on non-standard model names."
We've got a model called DocumentData. Yes, it should be DocumentDatum but that just doesn't feel right.

Anyway, running the administrate generator throws this error:
uninitialized constant DocumentDatum (NameError)

Even with this inflection rule:
inflect.uncountable %w( DocumentData )
and adding --force-plural at the end of the administrate generator call.

We'd love to start using this on our

[2016-01-09 07:18] whoop opened #394 "Location of Source Code for Demo App"
I can't seem to find the models/controllers/other source code for the demo hosted at https://administrate-prototype.herokuapp.com/admin. The readme says

Where exactly is this?

[2016-01-09 16:02] whoop commented on #394
This has been answered in [#190](https://github.com/thoughtbot/administrate/issues/190)! It's in the in the `spec/example_app` subdirectory: https://github.com/thoughtbot/administrate/tree/master/spec/example_app

[2016-01-09 16:02] #394 closed

[2016-01-10 03:03] pastuxso commented on #356
@mariochavez Your PR worked for me,

`gem "administrate", github: "mariochavez/administrate", branch: "remove-inline_svg"`

[2016-01-10 08:11] DropsOfSerenity commented on #123
@graysonwright A common use case may (one that i'm coming up against right now) is creating a text field that is a markdown entry and previewer with javascript. Much like Ghosts markdown previewer, or even github's write/preview paradigm for a text field.

Just throwing in here since I noticed activity taper off, I'm digging through the source right now and i'll see what I can come up with.

[2016-01-10 19:59] Tensho commented on #123
Just to remind, that this discussion is related to #267, particularly about image/file field.

[2016-01-11 04:16] rhysdavies1994 opened #400 "Sidebar link being generated incorrectly, No route matches"
In my app, my associations are set up so each User can have many Equipments, and each Equipment belongs to one User.

When running administrate, going to the admin index page which is admin/users it comes up with the following error:
ActionController::UrlGenerationError in Admin::Equipment#index
No route matches {:action=>"show", :controller=>"admin/equipment"} missing required keys: [:id]

Same e

[2016-01-11 04:32] BillyParadise opened #401 "Prefilling forms?"
Hello, I love the simplicity and flexibility of this gem - great work!

I am trying to create a workflow which prefills/prepopulates various form elements, without success so far

I was expecting the following to work:
In the view:
<%= link_to "Add", new_admin_tracking_number_path(machine_id: @machine.id) %>

In controllers/admin/tracking_numbers_controller.erb

def new
    super
    @resources =

[2016-01-11 07:27] BillyParadise commented on #401
OK, helping myself out through the comments
I'm overriding controllers/admin/tracking_numbers_controller.erb

def new
    super
    @resources = TrackingNumber.new(machine: params[:machine_id])
  end

... but still nothing gets populated.

[2016-01-12 01:55] hayesgm commented on #356
+1 this worked for me. Can someone ping when this patch (or something similar) makes it into master?

[2016-01-12 03:02] ACPK commented on #286
@graysonwright - When I tried the code above, why does it make http://localhost:3000 redirect to http://localhost:3000/admin? I'm able to any page except for the root_path now.

[2016-01-12 04:18] alejandropereira opened #403 "undefined local variable or method `namespace'"
Hello, I'm trying to override the sidebar template, i copied [this template](https://raw.githubusercontent.com/thoughtbot/administrate/master/app/views/administrate/application/_sidebar.html.erb) into "app/views/admin/application/_sidebar.html.erb" and i'm getting this error.

![captura de pantalla 2016-01-11 a las 10 14 03 pm](https://cloud.githubusercontent.com/assets/3091982/12254686/f5c835fc-b

[2016-01-13 00:38] Johnsalzarulo commented on #173
Changing to 2.3.3 solved this same issue for me as well.

[2016-01-13 11:55] pauldavis opened #404 "How to add to a rails-api Rails 5 app?"
With a rails-api Rails 5 app work with the standard installation procedure?

[2016-01-13 14:34] sivicencio opened #405 "Routes without namespace"
Is there a way to use no namespace at all? Couldn't find documentation related to this. For example, ActiveAdmin let you set `config.default_namespace = false` if you don't want to use a namespace for admin routes, so they are mounted at "root" namespace (if `Foo` is a resource, then the corresponding index is `/foo`, not `/admin/foo`)

Thanks.

[2016-01-13 16:06] ACPK commented on #354
Any update or monkey patch for this so we can use Administrative?

[2016-01-13 22:48] kenlane33 commented on #375
I'm having this problem as well. Any findings?

[2016-01-14 04:22] dongli commented on #353
What about add a bunch of new models? Use `install` task is not appropriate.

[2016-01-14 05:56] sebbean commented on #349
having this same issue right now. trying to just get something to work. curious how you accomplished injecting css

[2016-01-14 11:11] j-dexx opened #406 "Controller Generator Pagination"
In the controller generator you have the following example.

[code]

Paginate is a method for `will_paginate` though and administrate uses kaminari, so this should be

`@resources = <%= class_name %>.all.page(params[:page]).per(10)`

I don't know if this is because you're planning on switching to `will_paginate`?

Happy to submit a PR if it helps.

[2016-01-14 12:48] j-dexx commented on #367
Thanks @coneybeare been trying to find out how to do that.

[2016-01-14 13:17] robinvdijk commented on #367
@j-dexx

I think you can do the following to display a `LineItem name`
[code]

[2016-01-14 13:22] robinvdijk opened #407 "Working with friendly_id"
Hello,

I am using the `friendly_id` gem to generate my URLs. In my application this works fine, but within administrate I get errors like `Couldn't find User with 'id'=testuser`.

Is there a way I can change the URL so it redirects to its corresponding `id`? Or any help getting `friendly_id` to work within administate?

Thanks in advance.

[2016-01-14 17:08] Shwetakale commented on #405
@sivicencio Currently namespace ```admin``` is hardcoded in all generators so what you are trying to achieve is not possible and we also can't change namespace.

@graysonwright Would like to take namespace from config option let me know your opinion on this.

I will send PR if you think it's useful.

[2016-01-14 17:56] sivicencio commented on #405
@Shwetakale I was looking at the commits (after v0.1.2 release) and I saw that now the namespace is evaluated dynamically from the URL, but it assumes, though, the gem routes are mounted inside a namespace.

Also, namespace is basically used for generating resource URLs. Maybe a helper method that evaluates the presence of a namespace and generates an URL based on that would allow the ability to l

[2016-01-14 18:40] warrenbrown commented on #308
update in this issue?

[2016-01-14 20:40] hajpoj commented on #173
related to https://github.com/jamesmartin/inline_svg/issues/25 . which is still open (right now). Quick fix of 2.3.3 works for me too. Thanks!

[2016-01-14 21:32] beydogan commented on #400
Having the same issue on a model named 'PatientData' probably its because of pluralization.

[2016-01-15 11:25] robinvdijk commented on #407
I already found it. It turns out you need to uncomment the following within `users_controller`

[code]

[2016-01-15 11:25] #407 closed

[2016-01-16 14:09] mjankowski commented on #393
I believe that the generator is trying to pluralize a filename, but not going through Rails inflections for model names.  Can you provide the exact command you ran and exact output you see?

[2016-01-16 22:40] michaelimstepf opened #412 "Override single method of a field"
On the show action of a resource, where there is a has many relationship with more than 5 associated records, I want to show all associated records (not just the first 5).

Instead of creating a custom field and copy / paste everything from the default has many field, I just want to change one method. Is this possible? I tried the following, which didn't work:

[code]

[2016-01-17 00:56] ACPK opened #413 "uninitialized constant Administrate::NAMESPACE"
The latest update, which I'm using to have access to the sidebar, has a breaking change which causes "uninitialized constant Administrate::NAMESPACE".

The issue is with:       [:new, Administrate::NAMESPACE, page.resource_name],

[2016-01-17 01:24] tmecklem commented on #400
I submitted a PR for this: https://github.com/thoughtbot/administrate/pull/414

[2016-01-17 01:24] tmecklem commented on #393
I submitted a PR for this: https://github.com/thoughtbot/administrate/pull/414

[2016-01-17 01:26] tmecklem commented on #378
I submitted a PR for this: https://github.com/thoughtbot/administrate/pull/414

[2016-01-17 01:32] tmecklem commented on #167
It's possible this is similar to #400 and might be fixed by PR #414

[2016-01-17 04:10] jersingh commented on #393
Here's my command and output:

rails generate administrate:install

Running via Spring preloader in process 27312
      create  app/controllers/admin/application_controller.rb
      create  app/dashboards/dashboard_manifest.rb
       route  namespace :admin do
    DashboardManifest::DASHBOARDS.each do |dashboard_resource|
      resources dashboard_resource
    end

    root controller: DashboardMa

[2016-01-17 19:52] tysongach opened #415 "[Accessibility] Form elements must have labels"
The search input is missing a label.

I ran the [aXe](https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US) Chrome extension, and it suggests to fix any of the following:

- `aria-label` attribute does not exist or is empty
- `aria-labelledby` attribute does not exist, references elements that do not exist or references elements that are empty or not visible
- Fo

[2016-01-18 08:44] johncblandii commented on #308
Still not working for me on any project.

[2016-01-18 14:17] akrisanov commented on #355
@zamith thanks for `Administrate::ApplicationHelper.instance_methods(false)`. It's very useful.
I've figured out what the problem was. I overrode `ApplicationHelper` but I forgot to upgrade it for 0.1.2 :anguished:

[2016-01-18 14:17] #355 closed

[2016-01-18 14:20] zamith commented on #355
@akrisanov Ha! That makes sense. Glad that you were able to fix it. ;)

[2016-01-18 14:38] kuboon opened #417 "'permitted_attributes' method collides with pundit"
if I include Pundit on my Administrate controller, it raises ArgumentError on create / update.

[code]

The problem is calling `permitted_attributes` actually calls the method in Pundit.
https://github.com/elabs/pundit/blob/master/lib/pundit.rb#L248
What is a better way to avoid this collision rather than monkey-patching on either of gems?

[2016-01-18 22:20] trostli commented on #179
I'm also interested in seeing a workaround for using namespace models, specifically for use with acts_as_taggable_on gem.

Did you end up making it work @gpinkham ?

[2016-01-18 23:16] MaxPleaner commented on #173
me, too.

[2016-01-18 23:18] ChrisCPO opened #419 "clicking on resource results in wrong id lookup AR error"
I have a password's resets resource with a id, user_id and a token. Clicking on the individual resource on the dashboard results in the following active record error:
`Couldn't find PasswordReset with 'id'=23932o9sdd`
It's trying to look up the resource by the token?

I'm thinking about removing this for a custom reset action, bc this could be a security issue, but should still be working.

Auth G

[2016-01-19 00:11] ChrisCPO opened #420 "Feature request/ Way to do dropdown/select boxes for enums...etc?"
Maybe its possible to do dropdowns though I was digging though the docs and I did not see a possible way to do them?

Is this a thing?