[2020-10-23 15:55] nicolas-brousse opened #1810 "Proposal for themes"
First thanks for this pretty light gem.

I'm opening this issue for a proposal about themes.

We plan for a project to make a full custom theme/template for `administrate`. This seems not a problem since `administrate` views seems easily overwritable.
But the fact that we will still install gem that install jquery, momentjs, sass, etc, for nothing (since we plan to use webpacker and other librarie

[2020-10-26 11:26] nickcharlton commented on #1806
I think we should lose the one in the README and point towards the main documentation.

[2020-10-26 11:30] nickcharlton commented on #1778
The [prototype Heroku app][1] will be the last release (`v0.14.0`), so if we've made changes since they won't be visible.

_But_, I created a [_prerelease_ which should be current `master`][2].

[1]: https://administrate-prototype.herokuapp.com
[2]: https://administrate-demo-prerelease.herokuapp.com/

[2020-10-26 11:31] nickcharlton commented on #1778
fwiw, I'm keen on calling it "Guides" too, but it's not something I feel particularly strongly about.

[2020-10-26 11:40] nickcharlton commented on #1774
Thanks for taking the time to look into this.

I'm not really sure how we can progress with this one as it's a difficult one to debug, might be caused by Appraisal, but might also be caused with Circle.

I'd really like to fix this, but I think it'll become such a time sink trying to track down what is going on to the cost of having slower CI build times. I'm going to close this for now, but if so

[2020-10-26 11:40] #1774 closed

[2020-10-26 12:58] nickcharlton commented on #1810
There's been some ongoing discussion around how we handle Sprockets vs. Webpacker, which is documented in #1617, broadly the answer here is that I'd expect new projects to be using Webpacker, but we need to continue to support Sprockets (basically until a version or two after it's removed from Rails, as we do with everything). I'd expect that the solution to this problem involves an extra hook/met

[2020-10-26 12:58] #1810 closed

[2020-10-26 13:03] nickcharlton commented on #1617
I think @sfcgeorge's idea of going ahead and removing it is a good idea, all things considered. Would anyone be able to open a PR for that?

I would like to see some sort of hook/full support for either Sprockets or Webpacker long-term, but prior to that, reducing the surface area we need to care about is valuable on it's own.

[2020-10-26 14:44] dgmstuart commented on #1774
That's fair - thanks for taking the time to have a look.

[2020-10-27 10:03] aksharj commented on #626
Hi @pablobm, i am using 0.14.0 version of the gem and you suggested solution does not work for me. I need to hide a menu item but adding the `except: :index` does not hide it.

[2020-10-27 19:03] #1597 closed

[2020-10-28 13:43] jmeinerz commented on #1799
@pablobm this should be solved by #1808 (which you could argue open a new issue...)

[2020-10-29 09:49] pablobm commented on #1807
So I understand that you want a multiselector for genres in the Movie dashboard. Is this correct?

From looking at these associations, I would expect the multiselector to be for genre resources instead. You can't just select a genre for a movie because there will be several genre resources that can make it happen. Choosing the right ones would require additional logic (and perhaps even interface e

[2020-10-29 09:49] #1807 closed

[2020-10-29 11:08] pablobm commented on #1448
The issue is that `sanitized_order_params` now takes two arguments. This is what the official `_collection` template looks like now around this section:

https://github.com/thoughtbot/administrate/blob/64aaa98a79b3108fb1442025eb818d3aea8e7b3d/app/views/administrate/application/_collection.html.erb#L28-L34

To fix this you'll have to adapt your custom template to incorporate these changes. One way

[2020-10-29 11:35] pablobm commented on #1809
Both look correct to me. It looks like you are using custom views in both cases, am I correct? In general, when you upgrade Administrate, you should regenerate the custom views with `rails generate administrate:views`, and see what's changed and needs to be integrated with your custom changes.

I'm going to close this as I don't think it's a bug, but feel free to comment if you have more relevant

[2020-10-29 11:35] #1809 closed

[2020-10-29 12:07] pablobm commented on #1778
Uh, thank you for that prerelease app. What do you think about linking to it from the README? In the past I've had issues with other libraries where their readme documented master, which differed from the latest version. In this case it's the opposite, but I think it would be useful to those who use master instead of the gem.

[2020-10-29 12:21] pablobm commented on #626
@aksharj - That might be a bug. However: in other issues you mention having custom templates. Perhaps you have a custom `_navigation.html.erb` that performs outdated behaviour? Could you re-generate it from the original (using `rails g administrate:views:navigation`) and see if it needs changes?

[2020-10-29 12:25] pablobm commented on #1799
Fixed by https://github.com/thoughtbot/administrate/pull/1808

[2020-10-29 12:25] #1799 closed

[2020-10-29 16:20] nickcharlton commented on #1778
Hmm, yeah, I seem to have done it in a few places but not consistently. I've opened #1813 to do this.

[2020-10-29 16:55] frostmark commented on #1807
I mean that Genre can be bind with any :resource (for example Movie, Game etc)

[2020-10-29 16:56] frostmark commented on #1807
But okay, I think that I can resolve this problem outside the Administrate gem

[2020-10-29 17:05] pablobm commented on #1807
@frostmark - Sure it can, but which one?

Say you are looking at the Movies dashboard. There's a selector for genres. What does it look like? When you select a genre, how does it know which GenreResource to select with it?

[2020-10-29 17:23] frostmark commented on #1807
That should look like the usual `has many` selector.

`GenreResource` depends on the resource wich which you bind it. If we are selecting genres for `Game`, then `GenreResource` will have `resource_type — Game`, or if we are selecting for `Movie`, then relations `GenreResoruce` is created with `resource_type — Movie`

PS.
GenreResoruce has the following structure:

[code]

We can have one genre in

[2020-10-29 17:38] #1806 closed

[2020-10-29 20:59] niedfelj opened #1814 "Docs sites do not load"
* What were you trying to do?
* What did you end up with (logs, or, even better, example apps are great!)?
* What versions are you running?
  - Rails
  - administrate

[2020-10-29 21:13] nickcharlton commented on #1814
Which doc sites? What error are you getting?

[2020-10-29 21:51] niedfelj opened #1816 "Sprockets 4 and Webpacker Config/Wiki"
* What were you trying to do?

Install administrate with webpacker/sprockets 4 using the wiki

* What did you end up with (logs, or, even better, example apps are great!)?

And error message about variables not being defined and about assets not being precompiled

* What versions are you running?
  - Rails 6.0.3.4
  - administrate 0.14.0

It seems that the latest rails uses sass-rails 6 and sprock

[2020-10-29 21:52] niedfelj commented on #1814
Looks like @pablobm updated the readme to point https://administrate-demo.herokuapp.com/docs, but I get an error saying it doesn't exist.

<img width="820" alt="Captura de Tela 2020-10-29 às 18 51 42" src="https://user-images.githubusercontent.com/294487/97636452-e72d2e80-1a17-11eb-9f4d-788799cdc42d.png">

[2020-10-29 21:53] niedfelj commented on #1814
@nickcharlton 🤞

[2020-10-30 11:45] nickcharlton commented on #1814
Oh I see! That's because there isn't a `/docs`, the pages in the directory `/docs/` render relative to the root.

There was a change I made to the README which introduce them, it seems. I'll push up a fix.

[2020-10-30 11:46] #1814 closed

[2020-10-31 02:24] mmalivuk opened #1817 "Error on running "generate administrate:install""
Hello,

Upon running the "rails generate administrate:install" command I'm presented with the following:

[code]

I've tried re bundling, reinstalling the gem, trying spring stop, with no luck. Appreciate any help.

[2020-10-31 19:04] pablobm commented on #1817
There appears to be a problem in the order in which things are loaded. The module raising the error depends on the library `find`, but sometimes it's not loaded when the code gets there.

This should now be fixed in `master`, after merging https://github.com/thoughtbot/administrate/pull/1782

From your backtrace, it looks like you may be using a forked version of Administrate. Is this correct? If

[2020-10-31 19:04] #1817 closed

[2020-11-01 09:46] springwq commented on #1816
Thank you @niedfelj

Your solution saves me tons of time to figure out the below issue when I am deploying to production.

ActionView::Template::Error (The asset "administrate/application.css" is not present in the asset pipeline

[2020-11-02 07:55] rajahafify opened #1818 "Webpacker issue when using database replicas as read source."
I'm trying to hook administrate with write: primary <> read: replica database.
I was following the guide here:
https://guides.rubyonrails.org/active_record_multiple_databases.html

When we deploy to our staging server. We run into 500 error.

[code]

More info here: https://sentry.io/share/issue/0589c522604340ff97d17abddf95b60c/

The problem doesn't happen to our main deployment (non-admin). Once

[2020-11-02 13:54] smgnworld commented on #899
Hey @nickcharlton,

Still getting this error.
In my case I have following routes:

![Screenshot from 2020-11-02 15-51-19](https://user-images.githubusercontent.com/29263710/97875740-86596b00-1d23-11eb-87ac-95db8218e79c.png)

[2020-11-02 21:17] halkichi0308 commented on #1793
Thanks your tips
Each way can't solve my Issue.
However your third mind reminded me that more easier workaround for this issue.

My solution:
[code]
That problem has plagued me for a long time.
Thanks a lot.

[2020-11-04 00:17] orenyk opened #1819 "Resource name in flash messages is in camel case"
* What were you trying to do?
  * Set up a dashboard with a resource name that is two acronyms combined (e.g. `FOO BAR`), when both `FOO` and `BAR` are registered as acronyms with ActiveSupport (so that the path names work, e.g. `app/models/foo_bar.rb`). I expect that in flash messages that the name will be represented correctly (e.g. `FOO BAR was successfully created.`)
* What did you end up with

[2020-11-05 00:13] orenyk opened #1820 ""Un-deprecate"
* What would you like to be able to do? Can you provide some examples?
* How could we go about implementing that?
* Can you think of other approaches to the problem?

[2020-11-05 00:36] orenyk opened #1821 "Allow the specification of resource class names for associative fields"
* What would you like to be able to do? Can you provide some examples?
  * I would like to create a HasMany field for an association whose name is not the same as the associated class name, e.g.
[code]
    If I add a field `pubs: Field::HasMany` without specifying `class_name: Bar` in the `FooDashboard`, Administrate will look for a `PubDashboard` instead of the `BarDashboard`. As per #1633 `class

[2020-11-05 09:05] nickcharlton commented on #1820
Did you mean to open this? Could you add some more detail?

[2020-11-05 10:22] pablobm commented on #1818
Uh, this is weird. In theory Webpacker should not know anything about databases. In practice... who knows what's going on.

Are you able to explain a bit more about what the exact change was? Is it possible to provide a diff? I wonder if there's more to it than just DB-related changes.

[2020-11-05 10:36] pablobm commented on #1793
I'm glad you fixed it. A couple of notes:

1. I don't think that `before_action :configure_permitted_parameters, :permitted_attributes, if: :devise_controller?` is doing anything there. The controller is not a Devise controller (I think?) so the condition will always be `false`.
2. You shouldn't need to `user.id=User.maximum(:id)+1`. It should be automatically handled by Rails or the underlying da

[2020-11-05 10:36] #1793 closed

[2020-11-05 10:38] rajahafify commented on #1818
<img width="966" alt="Screenshot 2020-11-05 at 6 34 51 PM" src="https://user-images.githubusercontent.com/924488/98230181-d50e3b80-1f95-11eb-8c45-8f72efe6d252.png">
<img width="964" alt="Screenshot 2020-11-05 at 6 35 06 PM" src="https://user-images.githubusercontent.com/924488/98230192-d8092c00-1f95-11eb-9090-869c9117fe33.png">
<img width="724" alt="Screenshot 2020-11-05 at 6 35 45 PM" src="https:

[2020-11-05 11:07] pablobm commented on #1819
Thank you for filing this issue. In general the resolver is due an revision, and this is the sort of behaviour that we need to keep in mind.

[2020-11-05 11:18] pablobm commented on #1821
Thank you for reporting this issue. In theory, the correct class should be detected through reflection at `Administrate::Field::Associative`, specifically here:

https://github.com/thoughtbot/administrate/blob/84084235463a6761f25108382cb81c13632d2052/lib/administrate/field/associative.rb#L14-L16

Would you be able to have a look there and see what's going on?

[2020-11-05 13:30] orenyk commented on #1819
No problem! If I have some time I'll see if I can take a stab at a PR for at least this issue - it feels like it must be possible to leverage the same ActiveSupport mechanisms that allow acronyms to be registered to begin with. Thanks!

[2020-11-05 14:09] niedfelj opened #1822 "Pundit authorization doesn't authorize index view"
* What were you trying to do?
Secure the admin dashboard using Pundit with include Administrate::Punditize

* What did you end up with (logs, or, even better, example apps are great!)?
It seems that the index action does not call authorize_resource

* What versions are you running?
  - Rails 6.0.3.4
  - administrate 0.14.0

I'm confused why administrate is not attempting to call authorize_resource

[2020-11-05 14:19] orenyk commented on #1820
Huh, there was a weird bug with GitHub when I submitted #1821 so I think it somehow submitted this at the same time? Sorry about the noise!

[2020-11-05 14:19] #1820 closed

[2020-11-05 14:22] orenyk commented on #1821
Yeah let me do a little more digging and follow up. Thanks!

[2020-11-05 14:25] pablobm commented on #1818
Hm... all I can think of is perhaps it's a problem with loading order, or something like that.

Here's a totally random idea. Your original code had that default value for database URL, which used `Rails.application.credentials.database.fetch(:url)`. Was this being triggered in your staging environment? I wonder if running this line activated some magic that ended up loading things in a different

[2020-11-05 18:50] orenyk commented on #1819
Just as a follow-up, I was incorrect in my assumption that this was specific to acronyms; I'm seeing the same behavior with regular camel-cased resources (`FooBar`). I'll still try to take a look and investigate further.

[2020-11-05 19:01] orenyk commented on #1819
A little bit more info - I'm able to replicate this issue in the console and it's kinda weird:

[code]

[2020-11-05 21:29] andrewdang17 opened #1823 "Resources doesn't generate edit/create routes unless passing it into only:"
* **What were you trying to do?**
After running the `rails generate administrate:install` command and seeing `resources: :some_model` in my `routes.rb` file, I expected the new/edit routes to show up as expected from the [rails docs] (https://guides.rubyonrails.org/routing.html#crud-verbs-and-actions) and also since there's nothing in the documentation saying I need to generate these views/routes.

[2020-11-06 06:23] rajahafify commented on #1818
Loading order seems to be the problem @pablobm. The issue dissapper when i use Rails Credentials to get the database urls.
I guess its because we have this in our initializers:

[code]

I don't have time yet to check what webpacker are doing, but I assume, using Rails Credentials in `database.yml` force rails to autoload the initializers.

[2020-11-06 16:29] la-ruby opened #1825 "Can I use actiontext/trix editor for e.g. a blog post body field?"
![image](https://user-images.githubusercontent.com/55279023/98390310-07598080-200a-11eb-8c5c-a74821b938b9.png)

If it's not something administrate provides out of the box, how would one go about adding this "feature"

[2020-11-06 18:32] pablobm commented on #1822
Thank you for raising this. It does sound like incorrect behaviour: it should be possible to block access to index pages altogether, just limit the listings with a scope.

Do you think you could contribute a PR to fix this?

[2020-11-06 20:06] nickcharlton commented on #1469
I learned this week that [`<input type="date">` is in the current Safari Technology Preview][1] and so that's likely going to be out soon. When @AFlowOfCode made their last comment, I didn't quite realise that this was what they'd meant: will we be able to just drop the `datetime_picker_rails` completely?

It seems like [once the new version of Safari is out we could do that][2]. By the time we do

[2020-11-07 17:34] pablobm commented on #1819
Good news! It looks like this is fixed in master. Not sure when, but I suspect it's due to #1633. Here's an illustration of 0.14 vs. master:

![Before: "FooBar was successfully created". After: "Foo bar was successfully created".](https://user-images.githubusercontent.com/36066/98447731-0c5c2400-211f-11eb-90f4-387ddbcc08c3.png).

I'm going to close this as I think that's it, but feel free to comme

[2020-11-07 17:34] #1819 closed

[2020-11-07 17:57] pablobm commented on #1823
Thank you for raising this. This behaviour is indeed incorrect so it could be a bug, but it's strange. What do you exactly see when you are not using `only`? Is it a `Routing Error` with message "No route matches..."? Could you please paste it here? Can you paste an example routes files that has this problem? The one from your example Rails app would be enough.

I also noticed that your code has a

[2020-11-07 17:59] pablobm commented on #1818
Thank you for reporting back. That's useful to know :+1:

[2020-11-07 18:43] andrewdang17 commented on #1823
@pablobm Thanks for getting back quickly! Turns out I still had ` config.api_only` set to true still which doesn't generate the view routes as expected so this bug can be closed. Although it is odd they get generated when passing in the `only: [:new, :edit]`

[2020-11-07 18:43] #1823 closed

[2020-11-07 19:20] pablobm commented on #1825
It should be possible to do this. You'll need to provide JavaScript code that activates the rich text editor, and perhaps a custom field instead of the default `Field::Text`, depending on whether you need changes to the markup of this one.

To add custom JS, check out the documentation on [how to customize views](http://administrate-prototype.herokuapp.com/customizing_page_views). Pay special atte

[2020-11-07 19:20] #1825 closed

[2020-11-07 19:47] pablobm commented on #1823
That's odd indeed. Thank you for letting us know. I may dig into it if I get a moment.

[2020-11-09 11:52] nickcharlton commented on #1816
Thanks for finding this out! Do you think you'd be able to update the wiki entry with your findings?

Unfortunately, until we have a better solution that's our best approach so far.

[2020-11-11 18:57] naps62 opened #1827 "Support for extra whitelisted params"
I'm building an app based on both [suspenders](https://github.com/thoughtbot/suspenders) and administrate.
This means I have `config.action_controller.action_on_unpermitted_parameters = :raise`, and I'd like to keep it that way

Another thing I have is the administrate panel under a subdomain:

[code]

This creates an unfortunate combination, where `subdomain: "admin"` is automatically added to th

[2020-11-12 10:10] nickcharlton commented on #1827
Oh, interesting! I don't think I've tried a subdomain for many years.

I wonder if a configurable list is the best option here. Would you be able to provide an example of what that might look like? It'd be easier to think about with a sample.

[2020-11-12 10:14] nickcharlton commented on #1822
There's an existing issue here, that's been around a little while on this: #1233 and a PR too: #1234.

[2020-11-12 11:31] naps62 commented on #1827
@nickcharlton  I actually had a 2nd possible solution that I came up with in the meantime. So I'll leave both here

## 1 configurable list

My thinking would be something along these lines:

[code]

naming up for debate of course

This would be the default implemented by the gem, which would give me the ability to override that method to return `[:subdomain]`
That array would have to be excluded v

[2020-11-12 18:06] niedfelj commented on #1822
@nickcharlton @pablobm That PR is exactly what I did to solve it.

[2020-11-13 14:30] nickcharlton commented on #1822
Ah great, thanks! I'll find some time to take a look at that today. It's been on my short-list of issues, but I wasn't quite sure if it was still a problem.

[2020-11-13 15:46] #1233 closed

[2020-11-13 15:47] nickcharlton commented on #1822
Thanks for reporting this! I've updated and merged #1234.

[2020-11-13 15:47] #1822 closed

[2020-11-23 17:12] elliotlarson commented on #1342
I think having scopes for belongs to and has many fields is important.  It's a bit confusing that you can scope the resource being used for the index action of the controller, but not for the field types.  Adding further confusion, these field types take a scope option, but, of course, the `current_user` isn't available in the context of the dashboard classes.  Currently, it looks like the way to

[2020-11-23 17:25] WWGate opened #1830 "undefined method `klass' for nil:NilClass (NoMethodError)`"
* What were you trying to do?
Installing administrate gem
* What did you end up with (logs, or, even better, example apps are great!)?

[code]

* What versions are you running?
  - Rails 6.0.3
  - administrate 0.14

when I run my app and trying to access admin, I get the following error:

[code]

so I tried to generate assets manually
and same error is presented

Any idea to solve this please?

[2020-11-25 06:00] liang3404814 commented on #1764
Thanks for all the work on Administrate! I have enjoyed using it.

Same question here, but I want to share my thoughts after reading the above discussions.

Based on my understanding (correct me if I'm wrong), the `include Administrate::Punditize` feature is sufficient in an environment where one person's permission is mostly "vertically-separated" from another. As an example of such, imagine an o

[2020-11-25 16:36] aksharj opened #1833 "Order fields on the nested attributes edit form by id"
Hi All,

I have a dashboard which loads a nested attributes form and `ATTRIBUTE_TYPES` is defined as
[code]

But this seems to sort the view on show page, how do I sort the nested forms records on the edit form. Any help on this would be really great.

Thanks.

[2020-11-25 19:10] RaeRachael commented on #1830
Hi, not sure how much help I can be.

It seems like the issue might be how administrate is trying to read the relationships you have in you DB. Perhaps it is trying to read a table that isn't appropriate (not sure if we should be worried about seeing `active_record/reflection` near the end of the stack trace.

Were any files created?

The '`Error: Undefined variable: "$bold-font-weight".
on line 9

[2020-11-26 09:14] such opened #1834 "HasMany field used for a relation (but not an association)"
* What were you trying to do?

I've updated administrate to master and following #1633 some of my dashboards are broken.
We are (ab)using the HashMany field for displaying relations that are not associations:

[code]

[code]

* What did you end up with (logs, or, even better, example apps are great!)?

[code]

* What versions are you running?
  - Rails: 6.0.3.2
  - administrate: master

This patte

[2020-11-26 09:24] pablobm commented on #1823
OK, after re-reading, all makes sense.

As you say, `api_only` apps do not generate `new` and `edit` routes. That makes sense as these are non-essential routes that only provide an HTML form.

Adding `only: [:new, :edit]` to the `resources` line appears to add these routes. I would have thought it it acts as a filter applied to the list of routes, but the internal implementation in Rails must be d

[2020-11-26 10:17] pablobm commented on #1827
Removing strong parameters does have some merit here, after looking at the code. I'm not seeing any obvious security issues if done correctly, and I'd prefer it over adding new interfaces. If only strong parameters had `#weak_permit` (or something) method that didn't raise exceptions...

[2020-11-26 10:20] pablobm opened #1835 "Should Administrate handle request parameters differently?"
(Bringing here a comment that I left at https://github.com/thoughtbot/administrate/pull/1773#discussion_r510007829, for visibility and discussion.)

Search params are sanitized at the bottom (templates/helpers), with information about what's allowed flowing top-to-bottom
  1. Dashboard/template figures out which params it allows.
  2. It renders partial and tells it "please allow these params alon

[2020-11-26 15:12] pablobm commented on #1833
This appears to be an issue with https://github.com/nickcharlton/administrate-field-nested_has_many, rather than Administrate proper. I think you should file it there.

[2020-11-26 15:12] #1833 closed

[2020-11-26 20:05] pablobm commented on #1834
Uh, that's an interesting use case; thank you for letting us know. My initial thought is that it could be solved with a new field type, although I'm not 100% sure. Would you be able to give it a go?

[2020-12-01 18:01] c4lliope commented on #1764
I imagine if your administrate namespace is `RegionalManager`,
you'd like your `RegionalManager::ApplicationController` to add support for:

[code]

Each controller in that namespace would then its dashboard models are
`RegionalManager::StockDashboard`, `RegionalManager::OrderDashboard`, and so on.

Since this would be an opt-in feature, it would cause no breaks. Seems like a mild change, combinin

[2020-12-02 11:04] sedubois opened #1837 "Search yields "error: column thoughts.quote does not exist""
* What were you trying to do?

Basically all of our app's content is stored in DB and translated using [Mobility](https://github.com/shioyama/mobility). For instance the `Thought` model has `translates :quote` and `ThoughtDashboard` has `quote: Field::Text`. Listing, showing and editing the thoughts' quotes in the different languages from the admin dashboard works as expected (as in the main app,

[2020-12-03 15:46] dvodvo opened #1838 "disassociation between 'admin' and 'administrate' in paths and relative objects"
* What were you trying to do?

Getting started.  After `rails generate administrate:install` I re-started the server and went straight to `http://localhost:3000/admin`

* What did you end up with (logs, or, even better, example apps are great!)?
[code]
Now the stack trace, which follows, has one line (the second) which is bothersome:
`administrate (0.14.0) app/controllers/administrate/application_

[2020-12-03 16:24] pablobm commented on #1838
Worry not: `app/controllers/administrate/application_controller.rb` is not expected to be in your application. Instead it's provided by Administrate. It's ok that you don't see it.

The error about `per` suggests that the problem is with pagination. Is your app using a pagination gem? Administrate uses [Kaminari](https://github.com/amatsuda/kaminari), and this is known to cause incompatibilities w

[2020-12-03 16:28] dvodvo commented on #1838
Yes, I do not use Kaminari, but `will_paginate`

[2020-12-03 16:38] pablobm commented on #1838
OK. I'm afraid this is a known bug that we need to look into, and see how we can incorporate pagination in a way that doesn't interfere with other people's gem choices. I did some surface research some time ago and it didn't look simple. We may need to try again.

Of course, ideas, feedback, and contributions are welcome on this front.

[2020-12-03 16:46] pablobm commented on #1837
This is going to be a tricky one. Administrate's search currently makes some assumptions that don't hold well here. Ideally we would want to create a custom field type (eg: `Field::MobilityI18nText`) that described how to search it. However this is not currently supported, and it's not trivial to add.

An alternative would be creating your own search, instead of using Administrate's default one. R

[2020-12-03 16:50] dvodvo commented on #1838
Announce the colours on the getting started page for starters ( ;-) ).
At present, this means adopting `Kaminari` to be able to run `Administrate`; this is not necessarily a big hurdle, but needs to be stated (if the adminsitration functions are required, odds are the application may be big enough (il calsses and records) that pagination is *de facto*.

The only thing that comes to mind is seperat

[2020-12-03 16:53] pablobm commented on #1838
Let's leave this open. It's actually a bug, and we should address it at some point. Your suggestion does have merit. I'll bear it in mind when I try again.

[2020-12-03 17:51] dvodvo commented on #1838
OK.  I have updated the title to better reflect the issue, for readers's sake.

[2020-12-03 22:55] tannerwelsh commented on #1816
I am running into a similar issue (getting `Sprockets::rails::Helper::AssetNotPrecompiled` errors) and found the solution above to work.

In my debugging research I also ran across this section from the Rails Guides on Getting Started with Engines > [6.5 Separate Assets & Precompiling](https://guides.rubyonrails.org/engines.html#separate-assets-precompiling): when dealing with situations "where yo

[2020-12-05 09:07] cernivec commented on #1045
If you have a browser open on a show page that has Field::HasMany collection table and you change the limit, it is possible that the url params point to the page that doesn't exist anymore due to the collection now having less pages.

We added a [test](https://github.com/thoughtbot/administrate/pull/1840) that shows it’s not a bug, but most likely only appears when you change the limit and refresh

[2020-12-09 18:04] sedubois commented on #1837
@pablobm OK below is a custom solution to get ILIKE search working for translated models.

[code]
[code]

Actually the method is called `i18n_search()`, but except for the scope `.i18n` coming from Mobility it is quite generic (and I already apply it using a `default_scope`). I just don't know how to replace that scope to perform the Arel query on the class' default scope, so that it would also wo

[2020-12-10 16:34] pablobm commented on #1045
@sedubois - Do you think that could be the issue, changing the limit and then refreshing the page without resetting the query string?

[2020-12-11 11:39] sedubois commented on #1837
@shioyama any idea about this question above?

[2020-12-11 13:35] shioyama commented on #1837
Hmm I don't know administrate at all, so it's going to be hard to say very much. Under the hood the `i18n` scope in Mobility is doing two things, creating an Arel node for each translated attribute:

[code]

You can do things like `node.eq('foo')` etc like any other Arel node.

Once you have the node, you the build a relation by applying the backend scope to a relation (like `Post.all`):

[code]

[2020-12-11 15:16] sedubois commented on #1837
Thanks @shioyama, my question wasn't clear. I was wondering how to change `Post.i18n` to something generic, in the case when `Post` already has `default_scope { i18n }`. I thought the answer could be to replace `i18n` with `default_scoped`:

[code]

However that doesn't work, it skips the `default_scope { i18n }` defined in `Post`. I just don't know how to navigate the ActiveRecord/Mobility codeba

[2020-12-12 02:06] shioyama commented on #1837
Hmm, so actually you made me realize that some things in the query plugin that are currently private should actually be exposed.

But to answer your question, there is no `???` which will work AFAIK in Rails, since Rails does not support block-format query. Mobility custom implements it using a class called `Mobility::Plugins::ActiveRecord::Query::VirtualRow`, which is actually private but I will

[2020-12-12 02:34] shioyama commented on #1837
Ok I created https://github.com/shioyama/mobility/pull/471 which will make it slightly easier to do this:

[code]

[2020-12-12 07:56] sedubois commented on #1837
Do you think a case could be made to request adding this in Rails? If there is a reason to refuse it, then the flip-side of that question would be, how to make queries in Mobility which match "the Rails way"? Or would you recommend I just give up on this idea of having the same API in both?

[2020-12-17 09:56] pablobm commented on #1342
I've been thinking of this scenario for a while. I would like to introduce something to provide more context to fields, but I haven't had much time to think what shape it would have. I don't want to rush it and end up not having added enough (or potentially, having added too much). Perhaps in the new year I'll have time for this... :-/

[2020-12-18 13:15] inem opened #1847 "Possibility to have two or more instances of administrate in same rails app"
I have several roles in my app. And instead of implementing permissions system I am considering to simply add multiple instances of administrate with different sets of functionality. For repeating logic I'd just reuse some service layer logic.

Currently [documentation for generators looks](https://administrate-demo-prerelease.herokuapp.com/customizing_page_views) like only one instance of adminis

[2020-12-18 16:49] steffansluis commented on #1037
Ran into this today, changing the inflection makes no sense for us as the namespace corresponds to an module `Things`, not a module `Thing`. I found the following works as a workaround:

[code]

[2020-12-19 01:23] liang3404814 commented on #1847
potential duplicate https://github.com/thoughtbot/administrate/issues/1764

[2020-12-19 06:44] shioyama commented on #1837
This is basically what [Wharel](https://github.com/shioyama/wharel) does, and I believe there is a PR somewhere to make Rails do it as well (might have been merged actually).

[2020-12-19 08:16] sedubois commented on #1837
You are possibly referring to [this PR](https://github.com/rails/rails/pull/39445), but it seems far from ready for merge, and anyway would take a long time before being available in all supported Rails versions.

[2020-12-24 10:42] sedubois commented on #1045
Thanks @pablobm, indeed I can't reproduce this now, suggest to close!

[2020-12-31 10:49] sedubois opened #1856 "ul/ol symbols are missing for Field::RichText"
* What were you trying to do?

I want to render rich text with Field::RichText, which contains ordered and unordered lists.

* What did you end up with (logs, or, even better, example apps are great!)?

Administrate is [configured](https://github.com/thoughtbot/administrate/blob/33a46ffce8a3f42047ce0ac4980699a659c52f40/app/assets/stylesheets/administrate/base/_lists.scss#L3) with a default `list-s

[2021-01-07 06:17] helmiItsavirus opened #1860 "Administrate doesn't read context on Model when load form for mandatory field"
* What were you trying to do?

When I define validation inside of the context on my Model, Administrate doesn't read the context. So, Mandatory appears on the form that should not appear because of the mandatory inside of the context.

* What did you end up with (logs, or, even better, example apps are great!)?

[code]

* What versions are you running?

- ruby "2.6.6"
- gem "rails", "~> 6.0.3", ">

[2021-01-07 12:24] pablobm opened #1861 "Check if an associated model's route exists before trying to link it"
Over at StackOverflow, a user had an issue: https://stackoverflow.com/questions/65538115/administrate-gem-does-not-allow-to-view-user

I was able to reproduce it on the example app as follows:

1. Remove `resources :orders` from the routes file.
2. Visit the "show" page of a customer.

The page breaks because Administrate is trying to link to the orders of the customer. However orders do not have

[2021-01-09 11:29] sedubois opened #1862 "Restricting specific fields visible in show/edit"
* What were you trying to do?

The authorization/pundit system allows to restrict which resources an admin can view/edit, but how to authorize them to only view/edit specific fields within specific records? The [authorization doc](https://administrate-demo.herokuapp.com/authorization) does not seem to cover this.

* What did you end up with (logs, or, even better, example apps are great!)?

I did

[2021-01-11 22:37] caljess599 opened #1865 "fix syntax error in getting started documentation"
[code]
 commas between lines not correct here

[2021-01-14 14:50] pablobm commented on #1847
I agree that this is a duplicate of https://github.com/thoughtbot/administrate/issues/1764. I'm closing, but please let us know if you think otherwise.

[2021-01-14 14:50] #1847 closed

[2021-01-14 14:51] pablobm commented on #1045
Thank you!

[2021-01-14 14:51] #1045 closed

[2021-01-14 15:35] pablobm commented on #1856
That's good point. I just had a look and it appears that we only have lists in two places:

* Flash messages.
* Sidebar of documentation pages.

I can't say I'm a CSS expert, but those styles at `administrate/base/_lists.scss` do look a bit heavy-handed. I feel that they could be moved into `administrate/components/_flashes.scss` and `docs.scss`, with more specific selectors.

I wonder if any expe

[2021-01-14 16:22] pablobm commented on #1860
Thank you for your report. I don't entirely understand what your code block represents. Is it:

* A workaround?
* An example of code that doesn't work?

I'm trying to reproduce, but I'm not sure of what to do.

[2021-01-14 16:40] pablobm commented on #1862
Have a look at the documentation for [Pundit](https://github.com/varvet/pundit). A policy object typically includes the current user and the resource to be authorized. In Administrate, we have an `ApplicationPolicy` superclass, which stores both as `@user` and `@record`:

https://github.com/thoughtbot/administrate/blob/c40c317678ca3e0b140d09deb81842948e498443/spec/example_app/app/policies/applicat

[2021-01-14 16:41] pablobm commented on #1862
Oh, wait. You say fields, not records! Apologies, I see now...

I don't think there's a way to do it at the moment, no :thinking:

[2021-01-14 16:41] glenpike commented on #1830
As an FYI, I ran into this error trying to generate a dashboard for my model:

[code]

I had not added the association for the 'through' table.

This sorted it:

[code]
(https://guides.rubyonrails.org/association_basics.html#the-has-many-through-association)

[2021-01-14 16:42] pablobm commented on #1865
Thank you. Would you be able to provide a PR for this?

[2021-01-15 18:07] caljess599 commented on #1865
Duh, of course the documentation is in the repo! Submitted.

[2021-01-16 05:19] helmiItsavirus commented on #1860
Hi, @pablobm

Thanks for your response. Actually, I had a problem when the validation e.g "validates_precense_of" inside the context.

Administrate make the field that has validation inside the context become mandatory when I see it in the form.

I think Administrate should not make the field become mandatory in form because of the validation inside the context.

[2021-01-17 22:46] eclectic-coding opened #1871 "Incomplete install script or directions"
* What were you trying to do?
Install administrate into a Rails app.

* What versions are you running?
  - Rails v. 6.1
  - Ruby v. 3.0.0
  - administrate v. 0.14.0

I following the direction to install `administrate`, and used the generator as specified on the [Getting Started](https://administrate-demo.herokuapp.com/getting_started) page. However, when I migrate to the `admin` path, I get an err

[2021-01-21 10:09] pablobm commented on #1862
Thinking a bit about this, perhaps a way to achieve it would be to use different dashboards for different users. Say that you have a `User` model, and only admins can access some information. The `UserDashboard` could have limited fields, whereas another ActiveRecord model, `AdministrableUser` (or something like that) would inherit from `User` and have its own dashboard, while only accessible by a

[2021-01-21 10:16] pablobm commented on #1830
Thank you for that hint, @glenpike! That should help others who encounter this issue. As to a proper fix, the code that raises the exception has changed in `master`, so there's a good chance that this won't be a problem starting with the next version of Administrate (or that we have different problems, of course). Therefore I'm going to close this issue. But do let us know if you have more informa

[2021-01-21 10:16] #1830 closed

[2021-01-21 10:29] pablobm commented on #1865
Fixed now :-) Thank you!

[2021-01-21 10:29] #1865 closed

[2021-01-21 14:34] pablobm commented on #1860
I see now. You are right, this is a bug. A fix is not entirely obvious as there are several ways to go about this. I have created a PR at https://github.com/thoughtbot/administrate/pull/1872. This will need a bit of discussion, and hopefully we'll be able to fix this.

[2021-01-21 14:38] pablobm commented on #1860
By the way @helmiItsavirus: I'm not sure if you are aware, so I'll explain here. In your code, the problem is not the `with_options` (which I think is what you mean as "context"). Your code is equivalent to the following:

[code]

It is actually the `:on` option that Administrate has an issue with. The way you asked confused me a bit, so I thought I'd explain.

[2021-01-21 14:59] pablobm commented on #1871
Oops. You are correct that this info is missing.

Fortunately, this problem is already "fixed", and you can see it in the prerelease documentation at https://administrate-demo-prerelease.herokuapp.com/getting_started. Now we need to publish a new version of the gem, and the documentation will be more clearly available. The root of the problem is that we have been slow to do so... :disappointed:

[2021-01-22 23:28] glenpike commented on #1802
This is still potentially an issue as I was looking at the 'Getting Started' page in the Doc's and had not realised that there was a shorter version of Getting Started on the 'Home Page' - the information about the CSS is missing from the former...

[2021-01-24 21:49] aguynamedben opened #1873 "Could not find generator 'administrate:install'. Maybe you meant "administrate:field"?"
I'm trying administrate out for the first time and getting an error when running `rails generate administrate:install` (see below). I'm a pretty experienced Rails engineer, and this is a pretty vanilla app, so I'm not sure what's wrong. This is my first experience with administrate so I'm not sure where to look.

Thanks for making this project and supporting it. I'm looking forward to using this i

[2021-01-24 21:54] aguynamedben commented on #1873
List of administrate generators in my environment:
![image](https://user-images.githubusercontent.com/107841/105644681-aba1d500-5e4b-11eb-9853-2130d5193972.png)

[2021-01-24 21:56] aguynamedben commented on #1873
As far as I know, I don't use spring. But it does seem to be installed.
[code]

[2021-01-25 00:50] helmiItsavirus commented on #1860
@pablobm thanks for your correction with simple code, actually I'm using with_options to use the context even though too long looks like.

[2021-01-25 08:47] sedubois commented on #1873
It seems related to `clientconfig_controller.rb` (`Error: superclass must be a class (module given)`). How is it defined?

[2021-01-26 09:40] aguynamedben commented on #1873
Ahhh, I think this fixes it... we had some bad controller definitions 🤦‍♂️

This must be it... I'll give it a go again soon. Thanks @sedubois I was digging through the backtrace but missed the error at the top and the fact that it was related to the line under it. 🙏

![image](https://user-images.githubusercontent.com/107841/105827866-595dd280-5f77-11eb-8163-bae4a58717a1.png)

[2021-01-26 09:40] #1873 closed

[2021-01-27 16:15] caljess599 commented on #1092
I have no idea why, but I have this issue as well... it _could_ be a function of having an API ruby app? (Thus this login constitutes a separate authentication from the normal "front end" site that accesses the API.)

All I can say is, the suggestion works--and without using self.class, I get the method undefined error...

[code]

[2021-01-27 20:34] DavidGeismarLtd commented on #1807
@frostmark Im interested in the way you solved this if you did !

[2021-01-28 16:48] pablobm commented on #1092
@caljess599 - Would you be able to provide a backtrace?

I had a look at your theory that this could be related to the app being API-only. Initially it makes sense, since it looks like `ActionController::API` does not load the HTTP authentication mixins, whereas `ActionController::Base` does.

However, your admin controllers inherit from `Administrate::ApplicationController`, which in turn does in

[2021-01-28 17:37] pablobm commented on #1807
Let's say we have the following records in the DB:
[code]

We want to create a movie called "Toy Story", with this structure:

[code]

Let's say we go on our Administrate dashboard and create a movie "Toy Story". Next we want to replicate the above.

We edit "Toy Story" and select a genre. The genres available are "Western" and "Sci-Fi".

If I select "Western", what genre resources will "Toy Story

[2021-01-29 07:44] DavidGeismarLtd opened #1877 "Pass option to Field::HasOne to only display specific columns"
* What would you like to be able to do? Can you provide some examples?

Let's say I have a `Program has_one Product  as: :item` where Product handles polymorphic association with `item_type` and `item_id` column.

In my Program dashboard, I want to make product editable :
[code]

In the administrate UI you end up with  on program#show :

<img width="1303" alt="Screenshot 2021-01-29 at 08 33 04" sr

[2021-01-29 08:40] dvodvo opened #1878 "masquerade works on localhost but not on VPS (development mode)"
On localhost, searching for a user, then calling up the show view and invoking the masquerading function, the application returns and routes to the root_path:
[code]
and the view shown clearly indicates that one is masquerading:
![Screen Shot 2021-01-29 at 9 28 04](https://user-images.githubusercontent.com/716130/106250757-5cc1ba00-6214-11eb-9d51-c48ac4a7409f.png)

However, deploying to a VPS, goi

[2021-01-29 08:44] sedubois commented on #1878
How is this related to administrate?

[2021-01-29 08:46] dvodvo commented on #1878
Sorry, wrong gem.  `devise-masquerade` is the target.

[2021-01-29 08:46] #1878 closed

[2021-01-31 17:33] dmc2015 commented on #308
I am still getting this.

Assuming this is accurate, I don't think this should be considered a misconfiguration if the models involved have no issues with CRUD functionality. In the very least it should communicate what the configuration is.

[2021-01-31 18:43] dmc2015 opened #1881 "source_reflection: undefined method `klass' for nil:NilClass (NoMethodError)"
* What were you trying to do?
 `rails generate administrate:install`

* What did you end up with (logs, or, even better, example apps are great!)?
Below

* What versions are you running?
  - Rails
  6.0.3
 - administrate
administrate (0.14.0)

#308

[code]

[2021-02-01 11:19] sedubois commented on #1862
Thanks @pablobm for sharing your thoughts on this. In practice I probably would not be willing to make several copies of the same dashboard as it likely would quickly get out of hand and lead to more issues than it solves.

Here are some use cases I had in mind:
- an editor should be able to view/modify most fields in a blog post, but only an admin should be able to change its publication status
-

[2021-02-04 14:28] cristianriano opened #1885 "Models with relationships through join tables not supported"
* What were you trying to do?

I have a relationship many-to-many (HABTM) in my code (cocktails..ingredients). I used the ActiveRecord method [create_join_table](https://apidock.com/rails/ActiveRecord/ConnectionAdapters/SchemaStatements/create_join_table) to create the join table (portions), which means **it has no ID field** on it's own.
For the model I declared the relationship both with `has_an

[2021-02-04 15:03] pablobm commented on #1807
Thank you for the explanation @DavidGeismarLtd. It helps seeing some real use cases to understand the problems that users of Administrate want to solve.

One thing I'm missing: where exactly is the polymorphism in your example? It looks like `Program` is an `Argumentable`, but I'm not sure. Or perhaps there isn't polymorphism (as exactly defined by Rails) and yours is simply a similar example.

In

[2021-02-04 15:23] pablobm commented on #1877
Unfortunately, this is not possible at present.

For this to work, the `HasMany` field would have to link to a different version of the `Product` dashboard. One under `/admin/programs/:id/products`, as opposed `/admin/products`. This way, it would be able to use the URL to identify that a different dashboard (or dashboar configuration) should be used.

This falls under the category of changes to n

[2021-02-04 16:20] pablobm commented on #1881
Hello @dmc2015, thank you for your report. I've been tracing down the error you show, but I've hit a dead end. From the backtrace and the fact that you link issue #308, I gather you have a `through` relationship going. Can you show something about it? For example, is it "has_many through has_many", "has_many through belongs_to", etc?

[2021-02-04 17:17] pablobm commented on #1862
Good thinking. To add to the use cases, here's a generalisation of your second one:

* Some fields should only be editable only when the application is in a certain state. This could be the same model being edited, a different one, or even external factors like the day of the week.

The third one is probably the trickiest, due to the reasons I explained at #1877. However there may be a way to tack

[2021-02-04 17:56] pablobm commented on #1885
Associations of type `has_and_belongs_to_many`, using a  join table like the one you describe, do work with Administrate. I just had a quick check and could get it working.

Your error mentions a different dashboard "portions". Could it be this is the one causing trouble? What does your dashboard look like? What models are involved? What are their associations?

[2021-02-04 19:34] ghn commented on #1600
I would love to see this too, instead of crawling google..

[2021-02-05 07:23] sedubois commented on #1862
Thank you @pablobm, that is helpful. About point 2, I guess there needs to be access to the field, which itself knows about the attribute name, data, page, and resource, to which could be added the action. So we could define a method `show_field?(field, action)` in `Administrate::ApplicationController` similar to the existing `show_action?` which would always return true but could be overwritten w

[2021-02-05 14:35] cristianriano commented on #1885
I added an `id` field to the join table and then it works. But if I use the helper `create_join_table` it does not add an id to the join table (because it doesn't need one on it's own)

I have 3 models
`cocktail` - `portions` - `ingredients`

Portions have both a `cocktail_id` and `ingredient_id`

[2021-02-05 15:02] gustavothecoder opened #1887 "Scope a belongs_to field based on the value of the previous field"
Hi,

I have a dashboard with these attributes:

[code]

And in the forms of this dashboard (`new` and `edit`), i would like to list the properties based on the selected farmer. For example, if the selected farmer is John, I would like to list all of John's properties and not all the properties of all the farmers.

Is there any way I can do that?

Thanks in advance.

[2021-02-05 15:43] #860 closed

[2021-02-06 08:10] edimossilva opened #1888 "Add translations to kaminari pagination labels"
* What would you like to be able to do? Can you provide some examples?
  I would like to have labels from kaminari like "first",  "last", "previous" and others translated to other languages.

* How could we go about implementing that?
 As previously discussed in #1622, I could create a file named `kaminari.pt-BR.yml` with the translations.

* Can you think of other approaches to the problem?
No

C

[2021-02-09 16:26] webdev36 opened #1890 "How to use a modal form?"
Hi guys, I'm so happy to use this gem so I want to say thanks.
Just I'd like to use the CSV import button on the index page as a modal form for selecting a CSV file.
But here is no way to use the modal form.
Could you please help me?

[2021-02-11 14:44] pablobm commented on #1600
An even better list is this one: https://rubygems.org/gems/administrate/reverse_dependencies. It will capture also some plugins that do not have the words "administrate-field" in them :-)

[2021-02-11 15:14] pablobm commented on #1600
I had a first stab at this at https://github.com/thoughtbot/administrate/pull/1899

[2021-02-11 15:35] pablobm commented on #1885
OK, cool. I'm going to close the issue for now then.

If anyone else has the same issue, please let us know on this thread. If you can provide detail as to what your tables look like, which relationships you use, which Administrate fields you use, etc, that would be great.

[2021-02-11 16:17] pablobm commented on #1887
Unfortunately, Administrate doesn't support this at the moment. Adding explicit support would also be quite tricky at the moment, as this feature would involve dynamic behaviour: the options for `property` would change immediately as `farmer` changes. Currently Administrate doesn't have any such dynamic features, and all JS is merely enhancing existing HTML markup.

Having said that, I think you m

[2021-02-11 16:17] #1887 closed

[2021-02-11 16:32] pablobm commented on #794
Actually, I'm interested on this one. I think this should be fixed. It's not going to happen today or tomorrow, but we should see to it. In the past I've thought a bit about how this table could be improved for accessibility, and I didn't know this ticket was here. The mention to the aXe tool was useful and I have added it to my browser.

I'm going to reopen this if it's ok. And hopefully we'll lo

[2021-02-11 16:36] pablobm commented on #1888
Yeah, go for it :+1:

[2021-02-11 16:44] pablobm commented on #1890
Hello @webdev36. I don't understand what you are asking. At the moment, there isn't any functionality in Administrate to import from CSV files, and there aren't any modals.

If you are asking how to implement such functionality, I think you can do the following:

1. Copy the template https://github.com/thoughtbot/administrate/blob/master/app/views/administrate/application/index.html.erb into your

[2021-02-11 16:44] #1890 closed

[2021-02-11 20:28] edimossilva commented on #1888
Ops, it was fixed by https://github.com/thoughtbot/administrate/pull/1777 I think you should close it

[2021-02-11 20:30] edimossilva opened #1903 "Missing translations for finnish locale"
* What were you trying to do?
  use administrate with Finnish locale.
* What did you end up with (logs, or, even better, example apps are great!)?
  error for missing translations

[2021-02-12 02:55] archonic commented on #1332
I just hit this issue upgrading from 0.11 to 0.14 and I think @bhtabor's solution works perfectly. There's unreleased pundit stuff in the master branch but I think it would make sense to sort out all pundit stuff before releasing 0.15.

[2021-02-12 06:34] sedubois commented on #1332
@archonic you'll find a proposed solution in #1663, feel free to take over that one if you'd like to help it get merged!

[2021-02-13 00:56] caljess599 opened #1906 "valid_action? where edit is excluded doesn't remove edit link on show page where index appears"
* What were you trying to do?
Suppress editing functionality on a model
* What did you end up with (logs, or, even better, example apps are great!)?
The edit button on the show page of model was in fact suppressed, but, on a show page of a different object where that model was present in a HasMany relationship, the edit link remained in the index. This did not seem to be the case for destroy, inte

[2021-02-13 01:03] caljess599 opened #1907 "`--namespace` option ignored when generating custom view"
* What were you trying to do?
Generate a custom view for a model.
* What did you end up with (logs, or, even better, example apps are great!)?
The relevant files generated as expected, but they were placed in `views/admin/<model_name>`, rather than views/<my_namespace>/<model_name>. I moved them, and the files worked just fine.
* What versions are you running?
  - Rails 5.1.7
  - administrate 0.14

[2021-02-15 16:38] tysongach commented on #794
@pablobm Sounds lovely - I agree we should care about and focus on improving accessibility. I closed because this issue has been open with no movement for so long and I do not have the bandwidth to move it forward I’m also guessing that my list above is now out-of-date (and was non-exhaustive).

[2021-02-16 01:37] G-Rath commented on #1240
The downside however is that we can't do

[code]

since there will be the two blank values.

Open to tips on how to go about this (ideally for a single model), as I can't find a lot about it elsewhere.

[2021-02-16 11:11] nickcharlton opened #1911 "Trying to render a collection field with a PaperTrail versions key throws an exception"
If you have something like this:

[code]

You'll get an exception early on like:

[code]

thrown from: `owner = owners_by_key[convert_key(record[association_key_name])].first` in `activerecord (6.0.3.2) lib/active_record/associations/preloader/association.rb:105:in `block in records_for'`

My feeling is that you'd likely not _want_ `versions` on your collection attributes in the first place but it

[2021-02-16 21:19] wflanagan opened #1912 "associated_dashboard selects the wrong Class and raises NameError"
Rails 6.1.1 and most recent version of Administrate (gem).
My app has join tables in it between two classes that are in administrate.

Mentions & Segments (with dashboards)
MentionSegment (join table without a Administrate dashboard)

My "index" listings work fine. But, when I attempt to "show" a mention table, I get the following error:

NameError in Admin::Mentions#show
`uninitialized constant M

[2021-02-18 15:07] pablobm commented on #1888
Cool. Let's see if we can get a new version published soon that includes this :crossed_fingers:

[2021-02-18 15:07] #1888 closed

[2021-02-18 15:11] pablobm commented on #1903
Would you be able to provide an `administrate.fi.yml` file in a PR? See the existing ones: https://github.com/thoughtbot/administrate/tree/master/config/locales

[2021-02-18 15:26] pablobm commented on #1907
This is current on the works: https://github.com/thoughtbot/administrate/pull/1812

[2021-02-22 18:38] wflanagan commented on #1838
I'd add to this. I am in the middle of trying to solve this same bug. We use Pagy and we implemented Administrate. AFTER being somewhat committed, and gotten some data in our system.. only now do we realize that we can't paginate. Had we known from the get-go that Kaminari to the exclusion of others was a hard requirement, we'd likely have gone a different way.

[2021-02-22 19:32] wflanagan commented on #1912
I'll close this for now.

The problem is that I had join tables references in the definition. Don't do that, and it works.

[2021-02-22 19:32] #1912 closed

[2021-02-22 19:33] wflanagan commented on #1885
FYI, I ran into this as another ticket. You use the AR resources and don't mention the join tables in Administrate and it seems to work.

[2021-02-23 08:20] sedubois commented on #1838
We use pagy in our main app and Administrate still works fine with Kaminari for the admin dashboards. I can't remember if something was configured somewhere for this to work. Using Administrate 0.14.0.

[2021-02-23 08:43] dvodvo opened #1917 "customize edit and destroy links"
* What were you trying to do?

  Present an index without an edit or destroy link for a specific class

   administrate/app/views/administrate/application/_collection.html.erb

is the partial that generates these links, however the manual provides no indication
    https://administrate-demo.herokuapp.com/customizing_page_views
as to how to generates a customized views *without* such links

Is ther

[2021-02-23 08:47] cristianriano commented on #1885
Sorry @pablobm I didn't see your comment.

So for someone else checking this issue if you created a table like so using `create_join_table`
[code]

And in the models use
[code]
Or
[code]

Administrate will not work. Administrate expects an `id` on every table and if using `create_join_table` Rails will not define an id column to the join table (technically is not needed)

PS: I created a dashboard

[2021-02-23 08:57] sedubois commented on #1917
This works in my app using Pundit policies and  [`Administrate::Punditize`](http://administrate-demo.herokuapp.com/authorization). I have a `destroy?` method, if it returns false then the destroy links are not present.

[2021-02-23 09:08] dvodvo commented on #1917
That can be helpful as pundit is already installed.
However:

[code]
still leaves the link present unless I_ve_got_something_wrong.

But that would only deal with the destroy link.  Is there any idea with the edit link?

[2021-02-23 10:11] sedubois commented on #1917
`Administrate::Punditize` has a method `authorize_resource`. You could set a breakpoint there and in your destroy? method to see if they are called properly. If you have trouble putting a breakpoint in a third-party lib you could copy the authorize_resource code in your own application controller.

For edit, the same should work using `edit?`.

[2021-02-24 12:00] dvodvo commented on #1917
I guess I did not  scan the documentation properly enough  [the customizable controller actions page] (https://administrate-prototype.herokuapp.com/customizing_controller_actions) has a perfect pointer. For a per class basis:
[code]
Having `def scope`already established in scope policies, there was conflict in using `Administrate::Punditize` inclusion. The one-liner definition addresses the issue

[2021-02-24 12:00] #1917 closed

[2021-02-25 01:22] df1228 opened #1918 "Field::Belongs_to not work as expected"
* What were you trying to do?

Use Field:Belongs_to field in `item_dashboard.rb` like this:

[code]

* What did you end up with (logs, or, even better, example apps are great!)?
<img width="1399" alt="Screen Shot 2021-02-25 at 9 21 06 AM" src="https://user-images.githubusercontent.com/40170414/109088658-ccab5d80-774a-11eb-96b6-1d7d39dad486.png">

* What versions are you running?
  - Rails: 6.1.1

[2021-02-25 02:50] df1228 opened #1919 "dashboard for namespaced model (eg. audited:audits)?"
* What would you like to be able to do? Can you provide some examples?

i'm using audited for tracking database changes, the model is audited:audit and the table is audits, how to add a dashboard model for this ?

* How could we go about implementing that?
* Can you think of other approaches to the problem?

[2021-02-25 07:34] df1228 opened #1920 "customize redirect_url after update a resource"
* What would you like to be able to do? Can you provide some examples?
redirect to index action after an resource

* How could we go about implementing that?

[code]

* Can you think of other approaches to the problem?

[2021-02-25 07:55] sedubois commented on #1920
If you need some special behaviour when updating a resource, I guess you could override the update method in your controller?

[2021-02-25 07:58] sedubois commented on #1919
You can normally generate namespaced dashboards with some workarounds which I described here:
http://gist.github.com/70955

I was able to use this system for dashboards such as PaperTrail::Version, ActiveStorage::Blob, etc.

There is also apparently a proper fix being worked on in https://github.com/thoughtbot/administrate/pull/1812.

[2021-02-25 08:04] dfang commented on #1919
thanks !

[2021-02-25 08:05] df1228 commented on #1919
thanks !

[2021-02-25 08:05] #1919 closed

[2021-02-25 08:09] df1228 commented on #1920
hi @sedubois, this is the update method from administrate gem

[code]

what is the path for index action ?

thanks !

[2021-02-25 10:35] df1228 commented on #1919
https://github.com/thoughtbot/administrate/issues/1291

[2021-02-25 10:50] sedubois commented on #1920
I guess it would be `[namespace, requested_resource.class]`.

[2021-02-25 14:43] #1920 closed

[2021-02-26 10:26] #1903 closed

[2021-02-26 12:28] #1816 closed

[2021-02-26 13:07] nickcharlton commented on #1600
I'm going to close this now I've merged #1899 — I don't think this is an issue that will really ever be done but if people would like to add theirs to docs I'd welcome a PR!

[2021-02-26 13:07] #1600 closed

[2021-02-26 14:31] #1645 closed

[2021-02-26 15:05] cyu commented on #1821
I'm seeing this too, on a `has_one` with a `class_name:` option.  When we test `reflection(resource_class, attr).class_name` from the console we do get the expected class name.

I believe the issue has to do something with class load order – since we're declaring those attributes as statics on the dashboard class, they're getting loaded before the AR models are completed initialized.  I'll try to

[2021-02-26 16:05] nickcharlton commented on #899
It's been a while since, but can you confirm which version of Administrate you're using?

[2021-02-26 16:09] nickcharlton commented on #1827
I'd support the idea of removing strong parameters as the right solution here. Is this something you might be able to take a look at, @naps62?

[2021-02-26 16:15] nickcharlton commented on #1861
Heh, I saw this problem recently myself. One helper would work well, I think: if you're allowed to view something that's sort of moot if it doesn't exist in the first place!

[2021-02-26 16:20] #1860 closed

[2021-02-26 16:21] nickcharlton commented on #1871
I'm going to close this now, but there will be a new release out today (2021-02-26) which will solve this properly.

[2021-02-26 16:21] #1871 closed

[2021-02-26 19:24] naps62 commented on #1827
I'm not actively using administrate anymore, but this is simple enough. I can give it a shot :+1:

[2021-02-26 20:27] naps62 commented on #1827
@nickcharlton After going a bit through the code, and the documentation for `ActionController::Parameters` I'm a bit less confident about how easy & ergonomic it would be to remove strong parameters

Taking one example:

[code]

We don't want to just revert to using raw `params`, as that would have the original security implications.
But we can't also do a simple `params.slice(:search_id, ...)` be

[2021-02-27 14:26] smgnworld commented on #899
Double-checked and now that works.
Thanks for your reply, going to close issue.

[2021-02-28 11:36] nickcharlton commented on #1827
Thanks for looking into this! Yeah, agreed. It does look a little weird.

I think my biggest concern here is opening up ourselves to a security vulnerability because we’re needing to work around something Rails does for us — which I’d expect an explicit allow list wouldn’t have (unless, I suppose, you allowed something you shouldn’t, but that’s on the user).

For your original problem, would setti

[2021-02-28 11:37] nickcharlton commented on #899
Great thanks for reporting back! I guess we solved it between now and the realise the other day.

[2021-02-28 11:37] #899 closed

[2021-02-28 20:51] JoeDupuis commented on #899
Do you know which commit fixed the issue? I still have it on `0.15.0`.

[2021-02-28 21:10] smgnworld commented on #899
@JoeDupuis

This way solved the problem in my case:

`resources :email_addresses`

`resources :users do`
 `resources :email_addresses`
 `end `

When I didn't specify **resources :email_addresses** separately(not only as nested resources) then it failed.

[2021-02-28 21:35] JoeDupuis commented on #899
This removes the error, but it is not the behavior I want. Here's a simplified version of my use case:
[code]
This makes the index nested, but the show not nested.

In your route example, it would expose a root email_addresses#index route (`/admin/email_addresses`). I am not exposing a root index route (only a nested one) on purpose. I do not want the resource to show in the navigation.

Currently

[2021-03-04 02:29] bino98 opened #1928 "Add the locale setting method of the table column."
Hi. Thank you for reading this.

I want to using Japanese locale in table header column. but I don't know how to change header columns locale.
I tried to set activerecord locales as follow.

[code]

Actually, It's displayed correctly in side menu labels.

<img width="815" alt="従業員_-_App" src="https://user-images.githubusercontent.com/353699/109901134-d9482c80-7cdb-11eb-916d-c1241fb00bde.png">

Is

[2021-03-04 13:48] pablobm commented on #1906
Related: https://github.com/thoughtbot/administrate/issues/1861 Both issue would be solved if we unified `valid_action?` and `show_action?`.

[2021-03-05 16:54] timobleeker opened #1931 "Administrate::ResourceResolver always singularizes namespace."
* What were you trying to do?
   Make a dashboard for a namespaced resource: `Users::Preference`
* What did you end up with (logs, or, even better, example apps are great!)?
   `uninitialized constant User::PreferenceDashboard`

* What versions are you running?
  - Rails 6.0.3
  - administrate 0.13.0

From reading the source of the `Administrate::ResourceResolver`, it's always going to singularize

[2021-03-08 23:03] haukot commented on #626
@pablobm There's one problem with this solution, at this time after you delete a relation administrate redirects to the relation's index page. And without an index page in routes it'll just fail with 500 error.

But it's probably a different problem, and the redirect should not be to an index page, but back. Like, if you delete line_item from the order's show page, you should be redirected back to

[2021-03-09 16:28] agnessa commented on #1931
I am hit by the same issue in 0.15.0, it seems only the last part of the path should be singularized.

[2021-03-09 19:54] DavidGeismarLtd opened #1939 "Enums - Select tag dont keep saved option selected on edit page"
* What were you trying to do?
create a select form an enum field.
In my model Program :
`enum publication_status: { 'publié' => 'published', 'a venir' => 'upcoming', 'brouillon' => 'draft'  }, _prefix: :publication_status
`
Keys are the "human" readable values, values are the value to be stored in db

In my administrate dashboard :

[code]
This generates the following html :

[code]

However when

[2021-03-10 19:11] naps62 commented on #1827
I think it would yes

[2021-03-11 16:37] pablobm commented on #1240
@G-Rath - Sorry, I don't quite get what you mean. Can you elaborate? Which situation would produce two blank values?

Are you referring to detecting it like @cabe56 describes (based on the original association's `optional` option), in addition to Administrate providing a `include_blank` option for the field? Or is it something else?

[2021-03-11 17:11] pablobm commented on #1911
I just tried with Rails 6.0.3.5 and it worked for me. What field type do you have in `ATTRIBUTE_TYPES`?

This is what I have:

[code]

And I get a count as it's a default with `HasMany` fields in the index page:

![Example index page with column value of "2 versions" for PaperTrail field](https://user-images.githubusercontent.com/36066/110826140-af1edd80-828c-11eb-9611-0d345681d11c.png).

I haven'

[2021-03-11 17:35] pablobm commented on #1918
Unfortunately, we need more information in order to know what's going on. From what you show, I see that there are two models involved: `Item` and `User`. What do they look like (DB schema)? What are the associations linking them? Can you paste the code for the dashboards? Can you paste the full exception trace?

Since we can't proceed without that information, I'm going to close this issue. I'll

[2021-03-11 17:35] #1918 closed

[2021-03-11 17:36] pablobm commented on #1920
Thank you @sedubois for helping out!

[2021-03-12 16:50] andreibondarev commented on #1520
Adding Excel support to this CSV exporting plugin should be relatively straight-forward: https://github.com/SourceLabsLLC/administrate_exportable

[2021-03-12 16:51] andreibondarev commented on #752
CSV exports available via this plugin: https://github.com/SourceLabsLLC/administrate_exportable

[2021-03-13 11:03] nickcharlton commented on #1911
Hmm, interesting. I'm going to close this for now on the assumption that it's a bit more complex than perhaps I found, but also that just having a record in an issue should be good enough to suggest what might be going wrong if someone else sees this.

If anyone else is able to reliably replicate this, feel free to comment!

[2021-03-13 11:03] #1911 closed

[2021-03-14 06:00] valcaro87 commented on #442
is there a way to order two data by 'last_name' and 'id' at the same time?
like example>

def order
      @order ||= Administrate::Order.new(
        params.fetch(resource_name, {}).fetch(:order, ['last_name'.'id']),
        params.fetch(resource_name, {}).fetch(:direction, 'asc')
      )
    end

[2021-03-15 14:29] khrisnagunanasurya-iav opened #1943 "Enum value is not searchable"
* What were you trying to do?
I have a model that has a CEFR level `{a1: 0, a2: 1, b1: 2, b2: 3, c1: 4, c2: 5}`, and I want to make it to be searchable from the dashboard.

Here is my model dashboard
[code]

* What did you end up with (logs, or, even better, example apps are great!)?
On the search bar, I tried using these
- level:a1
- level:0
- a1

but none of them are working, is this a bug or fe

[2021-03-15 19:27] banotraore commented on #958
Hi I'm facing the same issue.
I created a regular rails app and I got all the regular buttons (new, edit, destroys).
But if I created a rails api only I only got the destroy button.

Did someone faced the same issue(s) or did you found a solution @ianzitow ?

<img width="1428" alt="Capture d’écran 2021-03-15 à 20 19 30" src="https://user-images.githubusercontent.com/47910631/111209679-9edc6a80-85c

[2021-03-20 23:54] AliRodri1992 opened #1946 "Nested resources in admin namespace"
I get  uninitialized constant Admin::AddressesController: with the below setup

[code]

[2021-03-21 15:56] sedubois commented on #1946
In your routes, `addresses` is defined within the `admin`namespace, which I guess is why you get that error.

[2021-03-25 11:09] helmiItsavirus opened #1947 "Field::Select using hash as a collection (can use key and value)"
I have a problem when I try to implement **Field::Select** using hash as a collection.

## Current Feature
Field::Select.with_options(collection: [:name1, :name2]),

## Request Feature
Field::Select.with_options(collection: [{key1: :product1},{key2: :product2}]),

## Expectation
[code]

[2021-03-25 12:11] sedubois commented on #1947
PR #1603 might help, configured using `text_method` and `value_method`.

[2021-03-25 16:32] pablobm commented on #1862
Sorry for the delay. This is a difficult problem that requires some dedicated thinking...

Starting with your _notate bene_:

1. I agree that `page.fields` would be more descriptive. I have been confused at that before.
2. For the difference between `valid_action?` and `show_action?`, see my ongoing work to clarify them: https://github.com/thoughtbot/administrate/pull/1941

As for where that hypot

[2021-03-25 16:33] pablobm commented on #1906
Ongoing work to fix this issue properly: https://github.com/thoughtbot/administrate/pull/1941

[2021-03-25 17:00] pablobm commented on #1928
I think that the problem here is about the difference between models and attributes. In your app, `Company` is a model, but it is also an attribute of `Employee` (as a belongs_to association). Models and attributes are translated separately.

Following the [Rails guides on this topic][rails guides], I believe you need to do the following:

[code]

Does that fix the issue?

[rails guides]: https://

[2021-03-25 17:11] pablobm commented on #626
Uh, that's a good point @haukot. Do you think you could provide a PR to fix that behaviour?

[2021-03-25 17:13] pablobm commented on #1931
I agree. I can't think of a reason why namespaces should be singularized. Would someone be up for a PR?

[2021-03-25 17:22] pablobm commented on #1939
Hm, this might be a bug, but I'm not sure. I wonder if it's something that we specifically do not support, for some reason.

I noticed that there's a plugin to support enums: https://github.com/Valiot/administrate-field-enum, however I haven't tried it, so I don't know if it would solve your problem.

Perhaps this should be supported by Administrate? I'm not sure. It might be tricky for some reaso

[2021-03-25 17:27] pablobm commented on #1827
Sounds good to me. Want to provide a PR?

[2021-03-25 17:45] pablobm commented on #1943
Do you have SQL logs, to see what the search is actually trying to do?

[2021-03-25 17:48] pablobm commented on #958
I think that API apps don't provide `:new` and `:edit` routes by default. I'm not 100% sure but, if this is the case, then it may be solved by explicitly saying `resources :foos, only: [:index, :show, :new, :create, :edit, :update, :destroy]` for each separate route under the `:admin` namespace. See that I'm explicitly adding `:new` and `:edit`.

[2021-03-25 17:52] pablobm commented on #1946
There are two problems here. The first one is that, currently, Administrate doesn't deal will with namespaced resources. This is a known problem.

The second thing is that you are providing your own `index` route. The `index` template supplied by Administrate is going to miss several variables that it will normally expect.

[2021-03-25 17:57] pablobm commented on #1947
Does it work if you do the following instead?

[code]

[2021-03-25 19:17] cguess commented on #1697
I would like to voice my need for this fix. Specifically in my use case I have *a lot* of associated records (~19000 associated with just one object). Loading all of these just for a `count` is completely breaking all of my RAM and forcing reloads on Heroku. Obviously, this is an edge case, but it seems reasonable for the index page to be able to display this.

Thanks for the excellent project, an

[2021-03-26 10:05] bino98 commented on #1928
Thank you for comment. I will try it soon.

[2021-03-26 22:27] AFlowOfCode commented on #1939
There's nothing special about an enum from the perspective of a select element. The enum values are simply the options available to choose from.

The thing is enums are usually stored in the database as integers, so @DavidGeismarLtd's enum definition appears to be atypical and either incorrect or possibly using a gem that allows string-based enums. I'd expect to see this instead:

`{ 'publié': 0,

[2021-03-28 13:57] DavidGeismarLtd opened #1949 "How to render dashboard fields based on condition"
* What were you trying to do?
I am building a multitenant app with administrate dashboard field displayed based on the kind of account you subscribed to. I use act as tenant for multitenancy and administrate for dashboard. Each tenant has access to his own dashboard and based on the plan type has more or less fields displayed. Here was my solution to that problem :

I define a yml file with my das

[2021-03-30 04:22] helmiItsavirus commented on #1947
@pablobm yeah it works!

[2021-03-30 04:23] #1947 closed

[2021-03-31 14:29] trushkevich commented on #1599
would it be an option not to preload instance dependent scopes ? it's possible to determine e.g. via
[code]

[2021-04-01 08:48] dvodvo opened #1954 "updating to 0.15.0 leads to segmentation fault"
ruby 2.6.1p33 (2019-01-30 revision 66950) [x86_64-linux]
Rails 6.0.3.6

What changed?  I updated a gem version, administrate 0.14.0 to 0.15.0
When deploying to server the following error is constantly appearing.
*Note: when reverting to version 0.14.0 the deployment process completes  (I also reporting this to the bugs.ruby-lang.org)*

The same occurs if I log into the server, find the current rel

[2021-04-01 13:22] paulRbr commented on #1238
Should this be the default of [Administrate's ApplicationController](https://github.com/thoughtbot/administrate/blob/master/app/controllers/administrate/application_controller.rb)?

I got bitten by this today thinking I would be able to use my Rails app helpers directly in custom administrate fields views.

Do you see any issue of making this a default in Administrate?

[2021-04-06 04:05] atinder commented on #442
found a better way in documentations
[code]

[2021-04-08 23:43] mmrobins opened #1957 "Pagination broken in 0.15 for customized views"
tl;dr the `CHANGELOG.md` should call out `* [BUGFIX] [#1725] Fix pagination of "Page" models.` as breaking pagination for customized views.

After I upgraded 0.14.0 -> 0.15.0 I started getting issues with pagination

I have `config.action_controller.action_on_unpermitted_parameters = :raise`, so started seeing errors

[code]

 I tried disabling that, but ended getting the `page` param stripped, so

[2021-04-09 15:41] c4lliope opened #1958 "[housekeeping] change leading branch from `master` -> `main`"
I imagine this is a simple change in `Settings`, alongside:

[code]

[2021-04-12 16:03] luilver opened #1959 "CONTRIBUTING.md link gets a 404 on herokuapp"
### Briefing

It should link to github instead of herokuapp or replace CONTRIBUTING.md by /contributing if the idea is to remain within herokuapp.

### Steps to reproduce

1. Visit Administate's [Home](https://administrate-demo.herokuapp.com/)
2. Go to section Contribute
3. Click on "Please see [CONTRIBUTING.md](https://administrate-demo.herokuapp.com/CONTRIBUTING.md)."
4. Get a "The page you were

[2021-04-16 06:02] mehdi-farsi commented on #897
It works just fine but if you don't want to use `isolate_namespace` you must replace `YourEngine::Engine.routes.draw` by `Rails.application.routes.draw` and you should be able to make it work with the `dummy` app.

[2021-04-16 11:33] nickcharlton commented on #1959
Thanks!

Yeah — we do the same with the LICENSE and should do here. I opened #1962 to solve this as it's such a quick thing.

(Note, you won't see the fix deployed until we release the next version.)

[2021-04-16 11:42] nickcharlton commented on #1958
Yeah, I think it is something like that.

I'd been putting it off until GitHub did the redirect properly, but I don't have an excuse now 😅. I'm not going to get to this this week, but I'll make sure it's done next at the latest.

[2021-04-16 12:12] nickcharlton commented on #1954
It looks like your problem here is `sassc`; Administrate doesn't include any native code so I'm not sure how it'd directly cause a seg fault.

Typically when I've had this problem it's been a case of a system library mismatch with the currently compiled version of Ruby.

I'm going to close this one (I'd recommend opening up an issue upstream) but if you can pin point it down to something in Admini

[2021-04-16 12:12] #1954 closed

[2021-04-16 14:04] kaka-ruto commented on #442
Thanks @atinder. Works for me on Rails 6

[2021-04-16 14:22] valcaro87 commented on #442
is there a way we can sort by two columns? example i have 2 columns, by "last_name" and "amount"?

[2021-04-16 14:33] pablobm commented on #1697
@cguess - Which `count` are you referring to? Is this something that can be fixed by overriding methods in the controller?

PRs are welcome. I must admit that there's always the problem that they may inadvertently introduce design decisions that depart from the general direction of the project, or cause other issues that are not obvious. For this reason, sometimes (more often than I'd like) they c

[2021-04-16 14:36] pablobm commented on #1928
Closing as I think this is now solved. Let us know if not.

[2021-04-16 14:36] #1928 closed

[2021-04-16 14:38] kaka-ruto commented on #442
@valcaro87 the sorting example shared by @atinder above is for all tables, where it makes sense to sort by universal items such as `id` or `created_at` columns.

Did you want to sort a single table or all your tables have the `last_name` and `amount` columns?

[2021-04-16 14:50] valcaro87 commented on #442
@kaka-ruto single table.. i have "sales" table. i want to sort by "last_name" and their "amount" in desc order..
for example, in my table, 2 employees having the same family name.. so the order should be:

1. Jones - $5
2. Smith - $17
2. Smith - $8
3. William - $23

[2021-04-16 14:59] pablobm commented on #1949
I think this is a duplicate of https://github.com/thoughtbot/administrate/issues/1862

Your approach doesn't work in production because class-level code only runs once, and not necessarily as a result of a request. Therefore, there's no tenant the first time that your code runs. In contrast, in development mode code is reloaded often, and often as a result of a request. Therefore you get the desir

[2021-04-16 14:59] #1949 closed

[2021-04-16 15:00] pablobm commented on #1862
See https://github.com/thoughtbot/administrate/issues/1949 for another use case: loading fields depending on the application domain name.

[2021-04-16 15:49] pablobm commented on #1238
I just had a look. The problem with loading all of the host application's helpers by default is that these may conflict with those provided by Administrate and cause strange errors.

For example, these are Administrate's own helpers: https://github.com/thoughtbot/administrate/blob/master/app/helpers/administrate/application_helper.rb. You can see that one of them is called `render_field`. If the h

[2021-04-16 15:49] #1238 closed

[2021-04-16 16:06] kaka-ruto commented on #442
Done a little digging and it seems at the moment you can only sort by a single column at a time @valcaro87  https://github.com/thoughtbot/administrate/blob/master/lib/administrate/order.rb

[2021-04-16 16:08] kaka-ruto commented on #442
Something close that could help is to use [collection filters](http://administrate-demo.herokuapp.com/customizing_dashboards)

[2021-04-16 16:27] pablobm commented on #1818
I agree. Closing.

[2021-04-16 16:27] #1818 closed

[2021-04-16 16:41] pablobm commented on #1957
Thank you for reporting @mmrobins. You are right that this is a breaking change and we should have communicated it.

In general, whenever we make changes to the default templates there's a chance that we'll introduce something that breaks custom templates. It's a difficult problem to solve, and particularly in this specific case I'm not sure it can be avoided at all, as there are several factors t

[2021-04-16 16:41] #1957 closed

[2021-04-19 03:03] rohmanitsavirus commented on #1709
How to solve this issue?

[2021-04-19 03:16] rohmanitsavirus commented on #1709
I updated the administrate version to 0.15 and fix this error.

[2021-04-19 13:29] Iccr commented on #1873
this is still an issue in 0.15, is there any updates for this.

[2021-04-20 11:05] #1959 closed

[2021-04-21 09:21] blocknotes commented on #1827
Does someone have news about this feature request? 🙏

I'm in a similar situation: I have an Administrate [plugin](https://github.com/blocknotes/administrate_ransack) to use Ransack for some extra filters, but it requires a `q` parameter in the query to work.

So as a workaround I have to override the `sanitized_order_params` helper method in order to have the column header sorting work.

I also th

[2021-04-22 14:49] pablobm commented on #442
If you are not looking for much flexibility, it might be possible to sort by multiple fields. Let me explain.

It's possible to define a **default** sorting to be as complex as you want. This is an example based on Administrate's own example app. It overrides `CustomersController#scoped_resource` to define a default ordering for customers:

[code]

If default ordering is all you need, that's your

[2021-04-22 14:54] pablobm commented on #1873
@Iccr - The original issue was due to a problem in the user's own setup. It was not a bug. If you are experiencing something similar, we are going to need some more information. Can you provide a backtrace and some context? Thank you in advance.

[2021-04-22 14:59] pablobm commented on #1827
There may be a way to make this work while the "proper" feature is being developed. I just had to deal with it myself, and it may be of use to others.

I had a param `special-order`, and this was raising an error on unpermitted params. The way I solved it was by reading the param in a `before_action`, and deleting it from the `params` hash:

[code]

Would this solve your problem?

[2021-04-22 15:22] pablobm commented on #1229
Would it be possible to use `has_one`+`through` instead of `delegate`? Something like this:

[code]

I tried this in the example app and it worked. I could add `user` as a `BelongsTo` field to my dashboard.

[2021-04-22 15:31] lukelove commented on #406
Dropping this for the next person who comes looking for how to paginate

https://administrate-prototype.herokuapp.com/customizing_dashboards

[code]

[2021-04-22 15:38] pablobm commented on #184
If we were to provide this, we would need to study some use cases and think it through. It could be done in many ways, each with a different behaviour and user experience. Not something that we can just "implement".

Initially I would prefer if Administrate didn't implement this, but instead it provided the APIs to enable users to create this interface as appropriate for their own use cases. Actua

[2021-04-22 15:38] #184 closed

[2021-04-22 15:41] c4lliope commented on #184
Sounds like a good decision.

[2021-04-22 15:50] pablobm commented on #825
I think this functionality was introduced at https://github.com/thoughtbot/administrate/pull/1646. It works slightly differently: the collection is expected to be an array of arrays in the shape `[[label, value], [label, value], ...]`, but I think it serves the same purpose. I'm going to close this issue, but feel free to leave a comment if you think there's more to it.

[2021-04-22 15:50] #825 closed

[2021-04-22 15:55] pablobm commented on #1124
I think this might be fixed by https://github.com/thoughtbot/administrate/pull/1812, but that's still a work in progress and it has stalled...

[2021-04-22 16:01] pablobm commented on #1024
I'm going to close this as it hasn't had activity in a long time, and the topic of Search is one that I think is particularly tricky, and for which I provide at opinion at: https://github.com/thoughtbot/administrate/pull/1218#issuecomment-821292428

[2021-04-22 16:01] #1024 closed

[2021-04-22 16:13] pablobm commented on #1272
I think this is fixed now. I just added an `order` attribute to a model in the example app, created, edited, sorted, deleted... all seemed to work.

I'm going to close it. Let us know if you still have the issue.

[2021-04-22 16:13] #1272 closed

[2021-04-22 16:28] pablobm commented on #1312
I can confirm that this is an issue at the moment. Currently, we get an error when `link_to()` receives a value of `action` that is not a route action. Unfortunately our sorting parameters create this situation if a model is called "Action" (and I guess also if called "Controller"), so this breaks.

[2021-04-22 18:48] blocknotes commented on #1827
@pablobm: nice idea, thanks! 👍

[2021-04-22 19:59] blocknotes commented on #1827
Nevermind, in my case removing the query parameter in `before_action` in not optimal because in this way the header column sort links will miss my custom parameter (and lose the search filters).

[2021-04-23 14:23] nickcharlton commented on #1958
I've done this now, thanks for reminding me!

[2021-04-23 14:23] #1958 closed

[2021-04-23 20:38] pablobm commented on #1464
I think this is the same as https://github.com/thoughtbot/administrate/issues/1464. I'm closing this one as the other one has more discussion and detail.

[2021-04-23 20:38] #1464 closed

[2021-04-23 20:42] pablobm commented on #720
I'm going to close this one as there hasn't been any activity in a long time.

[2021-04-23 20:42] #720 closed

[2021-04-23 21:37] pablobm commented on #1559
While this is addressed, I proposed a workaround at StackOverflow: https://stackoverflow.com/questions/67129863/show-administrate-attribute-in-one-area-but-not-in-another

[2021-04-25 06:49] sanchit121 opened #1964 "Search for user throwing error"
![Screen Shot 2021-04-25 at 12 14 57 PM](https://user-images.githubusercontent.com/30828115/115983694-5a2af280-a5c0-11eb-8a20-bbf19d28eb38.png)

  - Rails 5.0.0
  - administrate 0.15.0

I tried to search for user in admin area and get error. Attached more details in screenshot. Thanks

[2021-04-25 08:04] katonabence6666 opened #1965 "Re"
* What were you trying to do?
* What did you end up with (logs, or, even better, example apps are great!)?
* What versions are you running?
  - Rails
  - administrate

[2021-04-29 13:40] cguess commented on #1697
@pablobm when there's a has_many association on an object the backend will display a column with the count of the number of associations with each line item. However, instead of doing a `COUNT` it's loading every object of the association into memory, which, with 19,000 object promptly hits every memory limit and crashes the app.

I'll look into putting together a PR for this.

[2021-04-29 14:03] pablobm commented on #1827
@blocknotes - It looks like the progress of that PR has stalled. Would you be able to provide your own one?

[2021-04-29 15:29] pablobm commented on #1964
What does your `User` model look like? Eg: what attributes does it have? What does the dashboard look like?

I have a theory: I see that your user has `first_name` and `last_name`, but you are searching for `full_name`. Is it the case that `full_name` is a virtual attribute, generated with a method? If that's the case, it's unfortunately not possible to search by it at the moment. You'll have to m

[2021-05-01 10:40] sanchit121 commented on #1964
Thanks for the information. It was really helpful.

[2021-05-01 10:40] #1964 closed

[2021-05-03 14:05] DavidGeismarLtd opened #1969 "Namespaced dashboards for different level of administrations"
* What would you like to be able to do? Can you provide some examples?
Is it possible at the moment to handle different levels of administration ? Say I want an admin with it's set of specific dashboards and a super_admin with it's own set of routes, dashboards and resources ?

At the moment, if I already have an administrate setup for admins, generating rails generate administrate:install --names

[2021-05-05 18:44] edimossilva commented on #626
@haukot , @pablobm , I would like to work on it, can I?

[2021-05-05 19:24] haukot commented on #626
@edimossilva I don't stop you :) I won't do that at least in a month. We have done a workaround in the project.

[2021-05-05 20:10] pablobm commented on #626
@edimossilva, go for it.

[2021-05-05 20:18] swalberg opened #1971 "Rails 6.1.3.2 breaks Administrate"
* What were you trying to do?

Upgrade to the latest version of Rails

* What did you end up with (logs, or, even better, example apps are great!)?

An `ActionView::Template::Error`  (see below)

* What versions are you running?
  - Rails 6.1.3.2
  - administrate 0.15.0

https://github.com/rails/rails/commit/c4c21a9f8d7c9c8ca6570bdb82d64e2dc860e62c requires that things passed to route helpers be s

[2021-05-06 03:09] michaelwebb76 commented on #1971
I hate monkey patches with all of my soul, but this monkey patch _seems to be_ (for us) a functioning workaround until a new version of Adminstrate is released:

[code]

[2021-05-06 08:22] nickcharlton commented on #1971
Thanks for opening this! I'm going to look at #1972 next and see if we need to make any other changes.

[2021-05-06 08:27] cgrothaus commented on #1971
@michaelwebb76

For us, this was not enough. I also have to monkey patch `Administrate:Namespace` (as in [#1972](https://github.com/thoughtbot/administrate/pull/1972/files#diff-57d524a58676970a362d1d991f279bc48908b57ae69584b4b4e6efc6403bb7f0R4)), and in one custom view I have to change the arguments of `link_to` and add `.to_sym` (as in [#1972](https://github.com/thoughtbot/administrate/pull/1972/

[2021-05-06 08:27] cgrothaus commented on #1971
I just want to confirm that this issue also affects Rails 6.0.3.7.

[2021-05-06 14:40] #1971 closed

[2021-05-06 18:12] ELepolt opened #1976 "Spec failures for models with BelongsTo relationships"
* What were you trying to do?
Many tests started failing after upgrading to 0.15.0. This particular admin page doesn't have anything overwriting it, and it appears to be occurring in others when there is a relationship

* What did you end up with (logs, or, even better, example apps are great!)?

It looks like this style of line of code is the culprit. What should this look like instead?

`quote_r

[2021-05-07 00:18] alebian opened #1977 "Rails 6.0.3.7 breaks the admin"
* What were you trying to do? Upgrade Rails
* What did you end up with (logs, or, even better, example apps are great!)? Rolled back to 0.13.0
* What versions are you running?
  - Rails: 6.0.3.6
  - administrate: 0.13.0 (also tried with 0.15.0)

Bundler audit recommended me to upgrade my Rails version because of a security issue. After that administrate stopped working due to this exception:

[cod

[2021-05-07 06:19] jarkko commented on #1977
Yes, this is an intentional security fix in the latest [Rails releases](https://github.com/rails/rails/releases/tag/v6.0.3.7):

The fix is to make sure all the args in the array are either a symbol or a record.

[2021-05-07 06:26] jarkko commented on #1977
…and this is already fixed in https://github.com/thoughtbot/administrate/pull/1972

[2021-05-07 08:58] andrewdsmith opened #1978 "The `class_name` option is still necessary for namespaced associated classes in `Field::HasMany`"
**What were you trying to do?**

Silence the `class_name` option deprecation warnings due to #1633.

**What did you end up with (logs, or, even better, example apps are great!)?**

I was able to remove all uses of the `class_name` option except the following:

[code]

Notably, I also have a dashboard for `ActiveStorage::Attachment` that has a `Field::HasOne` back to the blob that _doesn't_ require

[2021-05-07 11:46] nickcharlton commented on #1977
I'm going to close this as it's fixed since #1972 was, and [we've released 0.16.0][1] to roll this out. I recommend upgrading! But if you see other issues we'd love to hear about them.

[1]: https://github.com/thoughtbot/administrate/releases/tag/v0.16.0

[2021-05-07 11:46] #1977 closed

[2021-05-07 13:07] alebian commented on #1977
I didn't know you fixed it already, sorry. Thanks for the new release!

[2021-05-07 16:45] chozandrias76 commented on #1977
@nickcharlton I'm not seeing that template updated in your sources: https://github.com/thoughtbot/administrate/blob/v0.16.0/app/views/administrate/application/index.html.erb#L44 is that intented? I have some templates I copied into my project before this issue that contain:

[code]
    Which Rails throws an error for, and I'm not sure how to resolve.

[2021-05-08 07:43] blocknotes opened #1979 ""ActionView::Template::Error: Please use symbols for polymorphic route arguments" on Rails 6.1.3.2"
The issue looks the same reported here: [ref issue](https://github.com/rails/rails/issues/42157).

---

* What were you trying to do?

Opening any admin route.

* What did you end up with (logs, or, even better, example apps are great!)?
[code]

I got the error from the CI initially and then tried locally, dummy app:
https://github.com/blocknotes/administrate_ransack/tree/master/spec/dummy
If you

[2021-05-09 18:54] DavidGeismarLtd opened #1980 "filter specific action on a per-record basis"
* What would you like to be able to do? Can you provide some examples?

At the moment if you want to filter out a specific action in the dashboards you can override valid_action?
[code]
Is there a way to fine tune that on a per resource basis, say I only want record of a certain type to be editable.

* How could we go about implementing that?
Would be lovely to be able to write something like :
[c

[2021-05-10 22:01] ELepolt commented on #1976
My apologies. This was entirely my own fault, as we were using an actual class instead of string form of the class, and removing class_name altogether fixed it anyway.

[2021-05-10 22:01] #1976 closed

[2021-05-13 10:05] edimossilva opened #1983 "Select witch visible attributes deppending Pundit or something"
* What would you like to be able to do? Can you provide some examples?
  - `User` has `role` attribute
  - if `user` is `admin`, then the `role` attribute would be visible on the form
  - if `user` is not `admin`, then the `role` attribute would not be visible on the form

* How could we go about implementing that?
  something similar to https://github.com/thoughtbot/administrate/issues/1137 but u

[2021-05-13 14:32] pablobm commented on #1969
Thank you for the feedback. I'm aware of this issue, and I'm afraid it doesn't have an easy solution. It's something I'd like to look into in the future, but it will be a while before that.

A workaround would be to host these two separate admins as separate applications altogether. It's probably a bit of work, but with the right setup you could be running them off the same code, with some `if`/et

[2021-05-13 14:32] pablobm commented on #1764
Similar issue at https://github.com/thoughtbot/administrate/issues/1764

[2021-05-13 16:01] pablobm commented on #1978
Thank you for reporting. I have very little experience with ActiveStorage so I don't have any immediate solutions. I'll have to experiment.

Can you be more specific as to what error you get? For example, can you provide an exception backtrace?

For the moment, a way to silence this warning would be to override `Administrate.warn_of_deprecated_option`.

[2021-05-13 16:07] pablobm commented on #1980
Would `show_action?` work for you? It's different from `valid_action?`. See http://administrate-demo.herokuapp.com/authorization

To clarify:

* `valid_action?`: tells if a route exists for the action. It probably should be a private method...
* `show_action?`: controls authorization. For example, it's the one overriden by Punditize.

The names are a bit confusing. I'm currently working on a branc

[2021-05-13 16:11] pablobm commented on #1983
Unfortunately this is not supported at the moment. See https://github.com/thoughtbot/administrate/issues/1983

I'm going to close this as it is a duplicate.

[2021-05-13 16:11] #1983 closed

[2021-05-13 19:04] Cory-Christensen commented on #1469
Now that Safari 14.1 was released with support for `<input type="date" />` I looked into this and it's fine. I think though, datetime fields won't be supported well as `datetime-local` isn't supported in current Firefox, with no release coming soon. `datetime-local` is supported in Safari, but I believe it doesn't allow for time selection.

I recommend not waiting for browser releases to remove a

[2021-05-19 14:48] simonsapiel opened #1987 "Create method for model with has many relationship"
Is there currently way to add a create button for the show pages? So if I have a model with has_many relationship it seems that the child objects can be viewed from the parents show page and there seems to be an edit and destroy methods but there isn't a way to create a new one?

[2021-05-19 22:21] vijuarez opened #1988 "Filtering Field::HasMany"
* What would you like to be able to do? Can you provide some examples?

See, I've got a lot of users with different characteristics on my app. For example, they all have a `role`, which is an enum. Some models have references to users, but some of them have restrictions related to roles. For example, you can't select an user who's a `guess` to be the `editor` on a post. I've got all of that figure

[2021-05-20 11:58] SeedyROM commented on #1681
Going to try to look into this, *let's see how it goes?*

[2021-05-20 12:04] DavidGeismarLtd opened #1989 "Polymorphic field seems to only support one rule for ordering"
Accorging to the [doc](https://github.com/thoughtbot/administrate/blob/main/docs/customizing_dashboards.md).
`Field::Polymorphic` seems to support an order parameter, which is useful to display the associated models in a specific order. However, if you have a polymorphic field it means you have different associated models, that can have different schema and different ordering logic. For each one o

[2021-05-21 08:55] SeedyROM commented on #1681
Can't replicate this locally, actually. Turns out I had a typo in my locale YAML, @huylocit14054 Maybe you could share a truncated version of your locale?

[2021-05-21 09:05] januszm commented on #1692
Would it be possible to move this to the presentation layer and e.g. add an option to the alias field in `with_options` ?

E.g. when there's a column named `myother_id`, Administrate will consider it as reference to another model and display it as `Myother` in the view. I'd like to show it as `MyotherID`, this could potentially be passed to with_options:

[code]

[2021-05-21 10:40] januszm commented on #1368
`Customer.friendly.find(params[:id])` should allow both id and slug

[2021-05-21 11:12] januszm commented on #1468
I think it would be great if we could override some or all of the resource presenter code if we need to modify how the resource is displayed. In my case, I have some public methods or columns in the database that I would like to ALIAS in view, in presentation layer, for example:c`myother_id` in Administrate will be shown as `myother`, because apparently Administrate thinks this is a relation. In t

[2021-05-21 16:23] DavidGeismarLtd opened #1990 "handling translation for select fields"
* What were you trying to do?
* Trying to figure out the correct way to handle translations for select fields
* What did you end up with (logs, or, even better, example apps are great!)?
in ProgramDashboard
[code]
in program.rb
[code]

However for select field it seems like the locale is not reloaded all the time and I don't end up with the right translations. What is the correct way of handling I

[2021-05-23 22:01] bradonomics commented on #1825
@la-ruby, were you able to get this working? I'd like to achieve the same but have been unable to do so. I tried [Chris Oliver's tutorial](https://www.youtube.com/watch?v=gKEUyzfIJpM), but I guess things have changed with Rails 6.

[2021-05-23 22:08] la-ruby commented on #1825
i couldn't properly try it out at the time, and nowadays im stuck with activeadmin

[2021-05-24 03:39] huylocit14054 commented on #1681
I don't know if the newest version already fixes my problem. Mine was 0.13.0.
I do not have access to the repo anymore but as I remember it is something like this:

A `sub_function` has many `recruiter` and vise versa. This bug will happen when I create a `sub_function_recruiter` relationship record. In the create screen, the label is not correct.
My en.yml has already changed the `sub_function` i

[2021-05-25 08:02] SeedyROM commented on #1681
Here's what worked for me, I'm using `0.16.0`:
[code]

[2021-05-26 02:56] huylocit14054 commented on #1681
Yeah I think newer version have already fixed this issue. I will close this one.

[2021-05-26 02:56] #1681 closed

[2021-05-26 09:25] DavidGeismarLtd opened #1993 "Is there support for search on jsonb fields"
* What would you like to be able to do? Can you provide some examples?

I have table GroupItems and table Groups. Groups has a jsonb column type called lms_data. I want to search on the field name inside lms_data. I am using the gem administrate that helps you created dashboard with search functionality. In your dashboard you can declare a field with a search configuration :

[code]

then on searc

[2021-05-26 10:46] andrewdsmith commented on #1978
Here's the exception backtrace from one of my tests that fails if I remove the `class_name` on the association:

[code]

So it looks like that it's not handling the namespace because it should be `ActiveStorage::AttachmentDashboard` not just `AttachmentDashboard`.

[2021-05-29 14:29] Ruff9 commented on #446
I'm still looking for a way to have different attributes list between new and edit page.

Anybody has a method for that ?

[2021-05-30 21:09] Ruff9 commented on #443
@megazoor apparently not

[2021-06-02 07:28] DavidGeismarLtd opened #1994 "Adding I18n translations for polymorphic fields"
* What were you trying to do?
Translations for a polymorphic field item. here's an example. Item can be a program or a session and both are translated in the locale.yml file
I have a `GroupItemDashboard` :
[code]
 activerecord:
          models:
              item:
                one: Session Ou Parcours
                other: Sessions ou Parcours
              program:
                  one: Par

[2021-06-09 06:53] dtbaker opened #1997 "Example file upload through Administrate? Enable multipart/form-data ?"
We have a custom field that is computed, not directly mapped to a model, it has these views:

[code]

I'm able to retrieve data and display it in the Administrate index and show views just fine.

However now I'm trying to handle uploads, so inside `_form.html.erb` I've added an input field like: ` <input type="file" name="new_video_upload" />`

I can see this passed through to the `create` and `up

[2021-06-09 07:01] dtbaker commented on #1997
Ah, if I use

[code]

it enables multipart/form-data on the parent form. Interesting...

This produces an input field with the name `foo[new_video_upload]` which gives me a warning in the console:

[code]

I can still access the uploaded file manually like so:

[code]

Unsure if there's a better way around this, the `new_video_upload` field is not related to any DB model, we're shipping the file o

[2021-06-10 14:22] pablobm commented on #1987
This button doesn't exist currently. I had a look and I think it would involve the following:

* Adding the link (or button) proper to the "show" template of the HasMany field.
* Having this link instruct the form of the child type to prepopulate de BelongsTo field with a reference to the record we are coming from.
* Having the submit button redirect back to the parent record after success.
* Not

[2021-06-10 14:37] pablobm commented on #1989
Good point. I had a look at the code and I don't see a reason why we couldn't add this feature. I think it would involve changes to the following section of Administrate's code:

https://github.com/thoughtbot/administrate/blob/b3bb0a3b7833deceff71cfe1687ac36cec12a6e8/lib/administrate/field/polymorphic.rb#L38-L44

There's the question of what the shape of the `order` option should be in order to ex

[2021-06-10 14:47] pablobm commented on #1468
@januszm - Would it work for you if you use the i18n translation files? You should be able to provide any labels that you want with that. Admittedly there are some sections of Administrate where i18n falls a bit short, but it sounds like it could be a start.

[2021-06-10 15:29] pablobm commented on #1990
I'm not sure if this will work, but you can use any sort of `call`-able as the `collection` option, for example a lambda. This should allow for more dynamic collections, and might work for locale changes.

[code]

Let us know if this works.

[2021-06-10 15:52] pablobm commented on #1988
Yeah, I don't think there's a way to do this at the moment. Perhaps it would be a good idea to add a new option to the field that allows for this. It would probably have to modify `HasMany#candidate_resources` to use this new option. This is the concerned code:

https://github.com/thoughtbot/administrate/blob/b3bb0a3b7833deceff71cfe1687ac36cec12a6e8/lib/administrate/field/has_many.rb#L85-L92

[2021-06-10 16:45] pablobm commented on #1993
I see. The problem here is that we escape the column names for security reasons. This happens at:

https://github.com/thoughtbot/administrate/blob/b3bb0a3b7833deceff71cfe1687ac36cec12a6e8/lib/administrate/search.rb#L145-L147

Two solutions come to mind. The first one would be changing Administrate so that, somehow, we can pass field names that shouldn't be quoted at that point. Perhaps we could cr

[2021-06-10 16:48] pablobm commented on #446
This PR might be helpful: https://github.com/thoughtbot/administrate/pull/1991

[2021-06-10 17:03] pablobm commented on #1994
Hm, on first inspection, I think the problem stems from us not applying i18n in `Field::Polymorphic#associated_resource_grouped_options` (specifically the `klass.to_s` in line 12):

https://github.com/thoughtbot/administrate/blob/b3bb0a3b7833deceff71cfe1687ac36cec12a6e8/lib/administrate/field/polymorphic.rb#L10-L16

Perhaps we should be using `#model_name` instead of of `#to_s`. This would break i

[2021-06-10 22:17] vijuarez commented on #1988
I prepared a very rudimentary implementation [here](https://github.com/vijuarez/administrate/tree/filter_has_many), but it's not that thought out. It would be probably better to pass scopes rather than plain `where` instructions, and I don't know how to filter with model methods. It's a start though.

https://github.com/vijuarez/administrate/blob/fd157d238f7f0049afac18edba1be22655c9cf3e/lib/admini

[2021-06-11 00:13] michaelwebb76 commented on #1978
Please please please do not deprecate this, it will break everything in our systems. We have multiple level namespaces like `Raw::DataSource::ModelName` that we're already having to monkey patch this gem to use, I would love to not have to monkey patch it further.

[2021-06-16 05:39] ranjit-git opened #1999 "Potential security vulnerability"
Hi, @nickcharlton  @pablobm @gracewashere

A security vulnerability has been submitted through huntr .
Plz validate them
https://huntr.dev/bounties/1-thoughtbot/administrate
Report is only visible to repo-maintainer and reporter .

[2021-06-16 13:26] zidingz opened #2000 "Create security policy and include email from contribute.md"
While trying to report a security issue, found contact email and instruction in contribute.md

FYI - the security tab on a repo allows you to create a security policy (security.md), which bug disclosers look for on a repo. The instructions in contribute.md are perfect - so chucking them onto a security policy would be a great quality of life improvement. Thanks!

[2021-06-16 16:37] nickcharlton commented on #1999
Thanks for opening this. I'm going to close this issue as I'll reply elsewhere.

[2021-06-16 16:37] #1999 closed

[2021-06-16 18:47] jordanstephens commented on #1978
I also encountered this issue with removing the `class_name` option for associations on namespaced classes.

In my case, the only places where Administrate failed to automatically determine the `class_name` were the cases where we had failed to specify the `class_name` option on the ActiveRecord association itself.

It's actually not clear to me how ActiveRecord was able to function without specif

[2021-06-17 14:53] pablobm commented on #1997
Have you implemented the method `permitted_attribute` in your custom field type? See how it's done in other field types: https://github.com/thoughtbot/administrate/tree/main/lib/administrate/field

If you are still having difficulty, would you be able to provide the source code of your custom type?

[2021-06-17 15:09] pablobm commented on #1988
Yup, that's the sort of thing we would need. I think it could be done better if it accepted a `call`-able instead, like a lambda. This is what we already do for `Select` and `BelongsTo`. For example:

https://github.com/thoughtbot/administrate/blob/9071a7eff60cbbcaf0ddc1b7bfb6bfe7d22b0028/lib/administrate/field/select.rb#L16-L23

[2021-06-17 15:37] pablobm commented on #2000
Thank you for the heads up. I have created a PR with a security policy, so we should have one soon.

[2021-06-17 20:44] #2000 closed

[2021-06-21 08:40] peebody69 opened #2004 "Field::Polymorphic in form causing form page to take very long to load"
I have a model Review which has a Field::Polymorphic Reviewable.

When I try to access the form page through new/edit, it takes very long to load due to the form loading every instance of a reviewable object.

Is there anyway to prevent the loading of all instance of the polymorphic class?

Alternatively is there a way I can have 'helper attributes' that do not exist in the model, but are used to

[2021-06-21 22:47] carlost opened #2006 "belongs_to field does not use show_action? to control if link should be rendered"
* What were you trying to do?

Wire in authorization checks into administrate, following the [guide](https://administrate-demo.herokuapp.com/authorization). Unfortunately, the `app/views/fields/belongs_to/_show.html.erb` template for `belongs_to` does not leverage `#show_action?` to determine if the link should be rendered:

https://github.com/thoughtbot/administrate/blob/e1baea3e63cdec65774f1b008

[2021-06-23 16:29] iseth opened #2007 "ahoy not working with administrate user page"
* What were you trying to do?
trying to see the user page in the administrate dashboard and it throws me an error
i can see the index of users but when i click on a specific user it give me this error:

`uninitialized constant Ahoy::VisitDashboard`
![image](https://user-images.githubusercontent.com/4959521/123134214-917e1a00-d41e-11eb-86e6-54d977427212.png)
  - Rails (6.0.3)
  - administrate (0.16

[2021-06-24 15:34] AFlowOfCode commented on #1957
Thank you for posting this @mmrobins and turning it into a quick fix. I expect things like this, but definitely agree that a list of affected templates or potentially breaking changes would be helpful for avoiding hunts through the codebase.

[2021-06-24 15:40] pablobm commented on #2004
#At the moment, Administrate doesn't support anything like that at the moment. I was playing with this today a bit, and saw a few problems that make this not trivial. For one, how would it work? If for example you'd want the options to load dynamically via Ajax, with a search string, there's the problem of how to filter across the different tables of the polymorphic associations, which will have d

[2021-06-24 16:00] pablobm commented on #2006
Thank you @carlost. Yeah, there are a few places where this happens, and I'm currently working on something to fix it more cleanly (https://github.com/thoughtbot/administrate/pull/1941). Having said that, my changes may still take a while to come, so perhaps you could create a PR that fixes it for `BelongsTo` for the time being?

[2021-06-24 16:09] pablobm commented on #2007
Can you share your routes and your `UserDashboard` and `VisitDashboard`? Is the second one missing by any chance?

[2021-06-24 16:12] pablobm commented on #1957
Worth mentioning that we have starting doing this with templates. See the changelog for v0.16.0: https://github.com/thoughtbot/administrate/releases/tag/v0.16.0 As for other breaking changes, we try to keep things back-compatible or give deprecation warnings, but there is not guarantee that something won't slip through.

[2021-06-24 18:48] januszm opened #2009 "Template error on html_safe in flash when Devise OAuth2 session expired"
* What were you trying to do?
I'm using Administrate in an app that authenticates users with Devise+Omniauth. I get this error after the session has expired:

[code]

[code]

in `app/views/administrate/application/_flashes.html.erb` around line 17 we have

[code]

since it loops on `flash`, it ends up calling .html_safe on `"timedout"`'s value which is `true`

* What did you end up with (logs, or,

[2021-06-28 15:18] DevS1993 commented on #1931
One way to monkey patch this for an immediate fix, would be to add an initializer (with any appropriately named file) and add this snippet :

[code]

I didn't find any open PR's fixing this issue, @pablobm can i submit a PR?

[2021-06-30 09:04] mvz opened #2014 "Please don't titleize results of I18n calls"
* What were you trying to do?

Trying to get the email address column to be labeled "E-mailadres" (in Dutch)

* What did you end up with (logs, or, even better, example apps are great!)?

The title becomes "E Mailadres" because titleize destroys dashes and applies English capitalization rules.

* What versions are you running?
  - Rails: 6.1.4
  - administrate: 0.16.0

[2021-07-02 13:17] januszm commented on #2009
UPDATE: see https://github.com/heartcombo/devise#configuring-controllers the bottom of that section says:

We could only iterate over "typical" for Rails flash keys like `notice`, `alert`, `error`, or, before calling `.html_safe`, verify that the value responds to this method. Without touching administrate code, it can also be done on the application side, a patch for Devise to remove this key and

[2021-07-05 08:01] sedubois opened #2016 "Moment JS is in maintenance mode"
Moment.js is "a legacy project in maintenance mode. It is not dead, but it is indeed done".
https://momentjs.com/docs/

Recommended alternatives:
https://momentjs.com/docs/#/-project-status/recommendations/

For example Day.js "is a minimalist JavaScript library ... for modern browsers with a largely Moment.js-compatible API":
https://day.js.org/

Administrate 0.16.0

[2021-07-19 14:55] pablobm commented on #1931
@DevS1993 - Yes, I'll be happy to look at a PR for this.

[2021-07-19 15:11] pablobm commented on #2009
Thank you for reporting. A workaround would be to provide a custom template at `app/views/administrate/application/_flashes.html.erb` for your app. However remember to check that this template hasn't changed in Administrate when you update to a new version.

[2021-07-19 15:12] #2009 closed

[2021-07-22 09:07] pablobm commented on #1240
Good call @tjvc! Closing this. Please let us know if we are missing something.

[2021-07-22 09:07] #1240 closed

[2021-07-22 11:19] DavidGeismarLtd opened #2022 "Is it possible to create a separate dashboard for a subset of a collection"
* What would you like to be able to do? Can you provide some examples?

Let's say i have a table `Users` with a `role` attribute that can be `customer` or `admin`.
I want to handle my customers and my admins in two different dashboards. What is the correct way to achieve that ?

[2021-07-25 15:31] pablobm commented on #2022
A way to do this might be to model them with Single Table Inheritance. You create new models for each, both stored in the `users` table, then create separate controllers/dashboards to handle them differently.

I can't remember from the top of my head how to do this, but I think you'd start by defining the models like this:

[code]

I'm going to close this issue for now, but do ask again if this do

[2021-07-25 15:31] #2022 closed

[2021-07-26 20:00] DhanashreeDorage opened #2024 "Not able to hide attributes on dashboards"
* What were you trying to do?
   - On user Dashboard want to hide some fields like encryplted_Password
* What did you end up with (logs, or, even better, example apps are great!)?

![image](https://user-images.githubusercontent.com/12697581/127051037-1e0672b2-c822-4877-a952-88eb110f8001.png)

* What versions are you running?
  - Rails
       Rails 6.1.4
  - administrate
       administrate (0.16.0

[2021-07-27 17:36] pablobm commented on #2024
Unfortunately, this is not enough information for us to see what's wrong. Still, I'm going to hazard a guess: you removed `encrypted_password` from `UserDashboard::ATTRIBUTE_TYPES`, but left it in other lists like `UserDasboard::COLLECTION_ATTRIBUTES`. If this is the case, please see the documentation at https://administrate-prototype.herokuapp.com/customizing_dashboards for information on how to

[2021-07-27 17:36] #2024 closed

[2021-07-28 18:49] hirokihokari commented on #1615
I can't use "Host"?

[2021-07-28 20:00] audyaver commented on #1676
Is there any progress on this? I am trying to add a custom action link to my dashboard and having issues with it.

This is my route:

 `get 'admin/foo/:id/solr_index', to: 'foo#solr_index', as: 'admin_foo_solr_index_path'`

I am adding this link_to to my _collection.html.erb file for foo controller:

[code]

And I am getting the following error on the index page:

[code]

I would appreciate if you

[2021-07-29 00:02] G-Rath commented on #585
It looks like administrate has ended up taking the inverse path, by making this sort of list the default: https://github.com/thoughtbot/administrate/pull/1566

I personally think this should be provided via a plugin so that it's opt-in, as that's easier than trying to opt-out without breaking other uses of Selectize in apps (which is the situation I'm in now - alternatively I'd have to do a lot of

[2021-08-08 05:03] pablobm commented on #1676
@audyaver - In your specific case, I think that Administrate is not the problem. Your route definition looks wrong. You have this:

[code]

And I think it should be this:

[code]

To clarify: without the suffix "_path", as this is added automatically by Rails. In your example, you'd get the route helpers `admin_foo_solr_index_path_path` and `admin_foo_solr_index_path_url`, which I don't think is w

[2021-08-08 05:04] pablobm commented on #1676
Re: this issue in general, there's some progress at https://github.com/thoughtbot/administrate/pull/1998, which implements new partials to help with this.

[2021-08-08 05:04] pablobm commented on #1615
Uh, I think you are right. I can reproduce now. I'll have to look into it.

[2021-08-09 10:38] Asandolo opened #2031 "Could not find generator 'administrate:install'"
I trying to `rails generate administrate:install`

*Log :

[code]
* Version:
  - Rails `Rails 6.1.4`
  - administrate `0.16.0`

[2021-08-09 11:21] #2031 closed

[2021-08-22 02:06] andreibondarev commented on #184
We rolled out a plugin to accomplish simple batch editing functionalities: https://github.com/SourceLabsLLC/administrate_batch_actions. The demo section showcase batch resource deletion. Any feedback, ideas or contributions are welcome!

[2021-08-22 02:09] andreibondarev commented on #1445
@aksharj You can use https://github.com/SourceLabsLLC/administrate_batch_actions to pull in bulk user deletion.

[2021-08-22 02:19] andreibondarev commented on #659
Multi-select and bulk actions: https://github.com/SourceLabsLLC/administrate_batch_actions

[2021-08-23 23:40] remy727 opened #2038 "polymorphic route arguments issue on update route"
### Steps to reproduce
Upgrade rails version from `5.2.4.3` to `5.2.4.6`

### Expected behavior
`Show` page needs to be shown after `Update`.

### Actual behavior
When update, it doesn't redirect to show page and this error is showing.
[code]

### System configuration
Ruby version: `2.4.0`
Rails version: `5.2.4.6`

### Thoughts
I think [this line](https://github.com/thoughtbot/administrate/blob/4b

[2021-08-24 00:31] philliplongman opened #2040 "Fresh install—stack level too deep"
I'm throwing together an example project, modeling retail inventory (in this case, a liquor store). I feel like it's a pretty straightforward schema, and there's literally nothing else to the app, yet. All I've done (besides a Devise install) is create the models and their unit tests.

I just ran `administrate:install` and tried to look at the initial dashboards it generated, but it's caught in an

[2021-08-24 10:29] nickcharlton commented on #2040
Oh that's fun.

Can you try with current `main` and see how you get on?

[2021-08-24 17:34] philliplongman commented on #2040
I updated my Gemfile to this and did a fresh `administrate:install`.
[code]

No joy.

https://github.com/philliplongman/pull_list/tree/administrate-main-branch

[2021-08-28 05:50] pablobm commented on #2040
I had a look, and I believe that the problem does not lie with Administrate.

After adding a `HomeController` to your app, and removing Administrate from the gemfile, I'm getting the same issue when I visit the root route.

Commenting out the gem `meta_request` from the gemfile solves the issue for me. I can only guess that this might be the one that is malfunctioning somehow. I'm not familiar wit

[2021-08-28 05:50] #2040 closed

[2021-09-17 11:06] efatsi commented on #1979
Adding in here that the `namespace` method is returning a string for me, which throws a bomb in every administrate link. Adding this to my `Admin::ApplicationController` serves as a decent bandaid:

[code]

[2021-09-22 07:55] sedubois commented on #1978
I encounter the same issue as described in the OP with Administrate 0.16.0. I needed to use `attachments: Field::HasMany.with_options(class_name: 'ActiveStorage::Attachment')` in `ActiveStorage::BlobDashboard`, `blob: Field::BelongsTo.with_options(class_name: 'ActiveStorage::Blob')` in `ActiveStorage::VariantRecordDashboard`, and then disabled the deprecation warning as follows:

[code]

NB: The A

[2021-09-28 23:38] lyudmila-schastlyvets opened #2043 "Question about HasMany field!!!"
Is it possible for HasMany field do not query subitems on index page but subitems still were rendered on show page?

[2021-09-29 08:32] DawidCwiek opened #2044 "When can we expect a new gem version?"
First of all, thank you very much for a great job! 🚀
Administration gem keeps getting better! 🥇

However, I have one question: When can we expect a new gem version?
In particular, I care about `Customizing Redirects after actions`.
It would simplify my code a lot and save a lot of time.

Regards, Dawid

[2021-09-30 20:03] migu0 opened #2045 "Type not being set in many-to-many polymorphic association"
I have a model `Medium` which through STI has two subclasses

    class Medium < ApplicationRecord
    end

    class Image < Medium
    end

    class Video < Medium
    end

These two subclasses can through a many-to-many relationship be associated with instances of a `Brand`. The joint table is called `Ìllustrations`.

    class Brand < ApplicationRecord
      has_many :illustrations, as: :illu

[2021-10-03 07:39] migu0 commented on #2045
I found out that polymorphic is not required, I can just use STI and a normal `has_many through` using:

[code]

Important is the Rails naming convention: `BrandsMediaController` and what first got me: `BrandsMediumDashboard`. File names need to reflect this obviously.

Then I can run `brand.images` or `brand.videos`.

[2021-10-03 07:39] #2045 closed

[2021-10-05 19:39] jamie commented on #1697
@cguess did you get anywhere with a PR for this? I'm running into the same problem on an app (Rails 6.1, Administrate 0.16.0):

- Account `has_many :secrets`
- account_dashboard.rb
  - `ATTRIBUTE_TYPES` includes `secrets: Field::HasMany`
  - `COLLECTION_ATTRIBUTES` includes `:secrets`
- and then when index.html loads up `resources` to pass to `_collection.html.erb` it's set up to preload secrets,

[2021-10-06 13:19] dmc2015 opened #2047 "undefined method `associative?' for nil:NilClass"
* What were you trying to do?
Render show page in administrate dashboard

* What did you end up with (logs, or, even better, example apps are great!)?

[code]

![image](https://user-images.githubusercontent.com/7463796/136208972-00ecd7c1-4e81-49d8-9268-6cf678fbcd45.png)

I've check the associations between the model, dashboards and associated models and it looks right to me.

In the rails debugger

[2021-10-13 14:52] tjvc opened #2048 "Searching fields on has many associations returns duplicate results"
### What were you trying to do?

Mark a has many field as `searchable` and set some `searchable_fields`. Perform a search, and the parent record will appear multiple times on the dashboard (when it has more than one associated child).

I'm not sure if this is intended to be supported (the search options don't seem to be documented for a has many field), but it at least partially works.

### What d

[2021-10-13 15:47] danbeggan opened #2049 "Show page with HasMany calls the wrong _collection view for the related class"
I believe this has been submitted before and closed but not fixed. https://github.com/thoughtbot/administrate/issues/1183

When viewing a show page for a class with a HasMany relationship it does not render the _collection partial for the associated class, instead it renders the _collection partial of dashboard class.

Lets say you have an author class with a has_many relationship to books, when t

[2021-10-18 15:14] rahulpattanshetty opened #2051 "(Help) How to access current_user variable in the dashboard"
I'm using **Field::BelongsTo** where i need show only those records that belongs to the current user. Like below example
`Field::BelongsTo.with_options(scope: -> (field){ Theme.where(user_id: current_user.id) } )`

[2021-10-29 20:57] maxwang096 opened #2055 "Want to disable destroy option on user show page"
* What were you trying to do?
I want to disable/hide `destroy` button on the user `index` page.
* What did you end up with (logs, or, even better, example apps are great!)?
I disabled destory option on user index page with the following code
[code]
products belong to users and products are being shown on the user `show` page. The issue is that products are being shown without `destroy` option but

[2021-10-31 12:47] elct9620 opened #2056 "The has_many render with invalid field translation"
* What were you trying to do?

I have two models `User` and `Merchant`.

[code]

When I show a merchant, the fields display incorrectly for `users`

[code]

The merchant's referrer field name is `TypeB` and correct, but the users' collection's referrer field displays `TypeB` instead of `TypeA`

* What did you end up with (logs, or, even better, example apps are great!)?

I use the `rails-i18n-debu

[2021-11-03 17:18] nottwo commented on #2055
@norioumata

You can do that when drawing routes:

[code]

[2021-11-05 06:54] pablobm commented on #2043
You can list the field in `SHOW_PAGE_ATTRIBUTES` and not list it in `COLLECTION_ATTRIBUTES`. Do I understand you question correctly?

[2021-11-05 06:54] #2043 closed

[2021-11-05 07:14] pablobm commented on #2044
Thank you for your appreciation. I'm not sure when a new gem will be released. For now, would it work for you to pull the code from master?

[code]

[2021-11-05 07:14] #2044 closed

[2021-11-05 07:27] pablobm commented on #1697
Perhaps this should be solved outside Administrate? I'm thinking of using the `counter_cache` option to `belongs_to`, and show this in the index page, instead of the `HasMany` field. See: https://guides.rubyonrails.org/association_basics.html#options-for-belongs-to-counter-cache

[2021-11-05 07:33] pablobm commented on #2047
I noticed this: `@attribute=:coates` in the text you paste. Could it be that there is a typo in your `SHOW_PAGE_ATTRIBUTES`, and you are listing coats as "coates"?

If this is not the problem, we are going to need a bit more. Could you please provide the following?

* Full exception trace.
* Models.
* Dashboards.

[2021-11-11 05:47] Alexboedtker opened #2058 ".."

[2021-11-11 16:15] pablobm commented on #2048
I agree that those duplicates should not appear. There must be some SQL magic we can apply there to fix this issue.

In the longer term, ideally I would like our current search replaced with something more abstract, with Administrate bundling only a basic implementation and alternatives provided by plugins or custom ad-hoc code. This way people could do things like integrating with Elasticsearch o

[2021-11-11 17:12] pablobm commented on #1593
@bekicot - #1597 has been merged for a while (sorry, I forgot to ping here), so perhaps you may want to look into this issue? It's been a long time, so I understand if you have moved on to other things.

[2021-11-11 17:17] pablobm commented on #1593
Duplicated at https://github.com/thoughtbot/administrate/issues/2051

[2021-11-11 17:18] pablobm commented on #2051
Unfortunately, this is not possible at the moment. The workaround would be to use [ActiveSupport::CurrentAttributes](https://api.rubyonrails.org/classes/ActiveSupport/CurrentAttributes.html) to capture the current user and access it elsewhere. It's not a great solution, but it should work...? I haven't tried myself, so I can't guarantee.

For a bit more of discussion, see https://github.com/though

[2021-11-11 17:18] #2051 closed

[2021-11-13 18:38] #2058 closed

[2021-11-14 00:03] getaaron opened #2059 "Edit page times out when there's a large number of has_many relations"
* What were you trying to do?

My `User` model `has_many` `book_audits`. An average user on my system has 60,000 or so of them. For example:

[code]

My `user_dashboard.rb` contains this has_many relationships (and a few other of similar size), e.g.:

[code]

I am trying to load the page `http://localhost:3000/admin/users/267/edit`. I expect to see a form page load relatively quickly.

* What did

[2021-11-14 00:13] getaaron opened #2060 "valid_actions? doesn't work for has_many relations"
* What were you trying to do?

I have a handful of `Role`s in my db like `Administrator`, `Author`, etc. A `User` `has_many` `Role`s.

I don't want users of the admin page to be able to destroy or edit roles, just view them. So I followed the instructions on https://github.com/thoughtbot/administrate/blob/main/docs/customizing_controller_actions.md#customizing-actions and added this to the roles c

[2021-11-14 02:01] getaaron commented on #1862
A nice API for this might be to provide `skip:` or `only:` options in the dashboard file, e.g.

[code]

or

[code]

In addition to an array, these could take a callback to return fields to show/hide, for example if you wanted to call Pundit or whatever:

[code]

[code]

[2021-11-16 01:20] getaaron opened #2061 "Create dependent model from show page"
* What would you like to be able to do? Can you provide some examples?

For a `has_many` relationship, I'd like easy UI to create a dependent model. For example, if I'm viewing the Show page for an Author, who has a new Book, I'd like to be able to click "Add Book" to take me to the "Add Book" page with author_id already populated.

* How could we go about implementing that?

I assume adding the l

[2021-11-16 05:48] vokecodes commented on #189
Visiting the edit page I get the below error

`No route matches [GET] "/admin/3/edit"`

I encounter this after I updated my app to use ruby '2.7.4'

[2021-11-16 05:56] vokecodes commented on #2059
Visiting the edit page I get the below error

`No route matches [GET] "/admin/3/edit"`

[2021-11-17 00:59] gabriel commented on #1464
You referenced this issue (#1464), did you mean to point to a different one?

[2021-11-17 03:19] vokecodes opened #2062 "Can't edit a record"
* What were you trying to do?
Edit a record
/admin/dashboard/:id/edit
* What did you end up with (logs, or, even better, example apps are great!)?
This page isn’t working HTTP ERROR 500
* What versions are you running?
  - Rails
  5.2.0
  - administrate
0.16.0

The app is on heroku

[2021-11-17 04:48] #2062 closed

[2021-11-17 20:22] jeremiahlukus opened #2063 "Search by Polymorphic Field"
* What were you trying to do?
I have a Subscription Dashboard that has a field `owner: Field::Polymorphic` I would like to be able to search by owner attributes

* What versions are you running?
  - Rails  `gem "rails", "~> 6.1.0"`
  - administrate latest

[2021-11-17 21:54] jeremiahlukus commented on #1223
@pablobm  Hey is there any update on this?

[2021-11-18 07:31] pablobm commented on #1464
Ooops. And not the first time I do this either :sweat:

I'm not sure which issue I meant to link to. It might be https://github.com/thoughtbot/administrate/issues/1697, where I offer a potential solution that I'll quote here:

[2021-11-18 11:26] mshka commented on #128
+1 🙏

[2021-11-19 10:19] bekicot commented on #1593
@pablobm hi, yes I've been moved to other things now ;) . I don't have the time to help implement this feature as you suggested. So this is still free for someone who want to contribute :)

I'm thinking Current attribute is okay as a work around and not harmful in this case.

[2021-11-19 10:34] pablobm commented on #2049
Thank you for the detailed report. I have been able to reproduce this issue, and I agree that it's a bug. I'll look into it, although I don't have much time these days.

In the meantime, we'd be happy to accept a PR. If someone would like to tackle this, but is unconfident about it, a temptative PR with the general idea would be welcome, and we can iterate into a full-fledged one from there.

[2021-11-23 12:02] pjmartorell opened #2066 "Defining different attributes for `new`/`create` or `edit`/`update` actions without defining `FORM_ATTRIBUTES` makes it crash"
* What were you trying to do?
Upgraded from `0.13` to `main` (9e462f7179f47151d1b91aab59291e6884870dab). I tried to define different attributes for new/create or edit/update actions as stated here: https://github.com/thoughtbot/administrate/blob/main/docs/customizing_dashboards.md#form-attributes

  When trying to `update` or `create` a record in the dashboard, there is a crash. This is because, w

[2021-11-25 04:25] shouichi commented on #278
We implemented sorting by relationship field by something like this.

[code]

[2021-11-25 04:48] shouichi opened #2068 "Adding field name to table header class"
### Background

We want to customize table column width e.g., enlarge certain fields. Currently, we use CSS nth-child selector to accomplish this. But it is fragile because of the field order dependency. We could also use a custom view but it seems an overkill just to add a few lines.

### Suggestion

Expose field name as an HTML attribute e.g.,

[code]

[2021-11-25 18:35] pablobm commented on #2049
I had a deeper look at what's wrong. I'll describe it here and perhaps someone will be encouraged to try fix it? :slightly_smiling_face:  (If not, a maintainer will eventually get to it).

The problem is not so much about which dashboard is used, but about which view template is rendered. The field type `HasMany` finds the correct dashboard using `Associative#associated_dashboard`, but when it com

[2021-11-28 02:05] spacerobotTR opened #2071 "New to administrate - Question on defaulting model id"
I have a product model that has many variants. When I create the variants that are under the main product route I do not want to have to have the user select the product in the default drop down. Since I am in the product route when I create the variant I wanted to insert the product_id into the join table. Typically on create I do something like this:

    @variant = Variant.new(variant_params)

[2021-11-28 18:51] spacerobotTR commented on #2071
Figured it out. I had a typo in one of my migrations I didn't catch that caused some ripple effect errors to occur. Working now.

[2021-11-28 18:51] #2071 closed

[2021-11-30 13:39] costa opened #2072 "Admin JSON REST API"
* I would like the same admin interface would be exposed (optionally) as a JSON REST API — with the same reasonable auth options. Bonus: OpenAPI (swagger) integration.
* Adding JSON content-type handling to the (auto-generated, virtual?) controllers. Bonus: generating OpenAPI spec while doing that as well.
* Other solutions are possible but not as convenient — let's make this more powerful than `r

[2021-11-30 19:04] getaaron commented on #2068
I love this, could also be used to use smaller text for created_at/updated_at timestamps which take up a lot of width

[2021-12-01 09:06] wvengen commented on #1586
It looks like getting the value from the resource in `Administrate::Base::Page#attribute_field` is a culprit:
https://github.com/thoughtbot/administrate/blob/844c27091bab1a384b260a47b0a67dbff856640d/lib/administrate/page/base.rb#L28-L32

I can think of some solutions (but I guess there would be more):
- Let the field get the value from the resource. This would allow custom fields to use their own

[2021-12-02 17:21] pablobm commented on #2056
Thank you for filing this bug. I'm not sure I understand completely. Some questions:

* Can you provide the code of the affected dashboards? At least the relevant fields.
* Can you show a screenshot with the issue? Feel free to change the labels or obscure non-relevant details for privacy.
* When you say that the translation "users" doesn't show correctly, could it be that the key in the i18n shou

[2021-12-03 12:40] elct9620 commented on #2056
@pablobm

My i18n files:

[code]

I have two models `User` and `Merchant` and they have the same field `referre`.

In the `Merchant` index to list all, the translation is correctly set to `展店人`（`merchant.referrer`）

![截圖 2021-12-03 下午8 32 20](https://user-images.githubusercontent.com/887984/144603637-89914cb2-b0c9-4d37-96ca-bb9f0e039c35.png)

When I open a single `Merchant` show page, the `users`

[2021-12-06 15:55] robchapman opened #2075 "Destroy link ujs not working"
* What were you trying to do?
  Destroy a record from the index page using the red 'Destroy' Link

* What did you end up with (logs, or, even better, example apps are great!)?
  Request was made as a GET request and routed to the show action instead.

* What versions are you running?
  - Rails: 6.1.4.1
  - administrate: 0.16.0

Saw that a previous similar issue was raised (#1643) , that was resolv

[2021-12-09 15:19] raphael-allard opened #2076 "Be able to search deeper in instance methods or model associations"
* What were you trying to do? Adding attribute types based on instance methods and be able to search through (or instance methods related to associations).
* What did you end up with (logs, or, even better, example apps are great!)? See below.
* What versions are you running?
  - Rails : 6.0.3.4
  - administrate : (0.14.0 0f8624c)

I have three different models: `Project`, `Client` & `Invoice`. `I

[2021-12-16 10:46] pablobm commented on #278
I agree with @shouichi that overriding the controller is the best way forward at the moment. I think I would override `order` instead. See this example, adapted from the example app:

[code]

The short-term task then is to document this.

[2021-12-16 17:13] pablobm commented on #1586
Thanks to all who helped explain this issue!

@wkirby, @Timmitry - For the moment, a workaround might be to add a method of this name (in your example `download`) to the model. For example, just this empty method fixes the issue when I reproduce it in my setup:

[code]

Can people confirm is this is enough for them while we get to a better solution (which admittedly will still take time)?

[2021-12-16 17:15] pablobm commented on #1586
@wvengen - Thank you for looking into this :-) Initially, I'm more inclined towards the first option. I have seen other use cases where having the field decide its value by looking at the whole resource would be useful, and this is exactly a case of that.

You are right that it would break the Fields API, so I would want this to happen in an ordered fashion that allowed for initial back-compatibil

[2021-12-16 17:23] pablobm commented on #2056
Could it be that the i18n key is "customer" (or "customers") rather than "user"? I can't remember, but I think that ActiveRecord uses the name of the relationship and not the name of the associated class:

[code]

Also, perhaps not relevant, but may I ask why you use the locale `en-US` instead of `jp`?

[2021-12-17 04:09] elct9620 commented on #2056
I will change it and try it again. My `i18n-debug` gem didn't show the `customer` as search options that I guess depends on the associated class.

The example use `en-US` because I forget replace it to `zh-TW` 😅

[2021-12-17 05:31] elct9620 commented on #2056
I had tested it, and it depends on the associated class.

I also find a workaround to add `helpers.label` to let them display correctly

[code]

It is still confusing for me, if we display `customers` on the page, it should use `attributes.user` instead `attributes.merchant` but the result refers to the current resource (merchant).

[2021-12-17 06:37] pablobm commented on #2056
Ugh, apologies. Of course it's `zh` and not `jp` :flushed: and of course it was going to be `TW` or `SP` as you use traditional characters like 號 (Oh, and TW is in your profile).

Looking into the issue a bit more closely, I see that there may be a problem indeed. Internally we use `"helpers.label.#{collection_presenter.resource_name}.#{attr_name}"`. Here this translates to `helpers.label.user.ref

[2021-12-17 06:43] elct9620 commented on #2056
Thanks, I just want to check my expect is correct or not. I will try to adjust it to resolve this issue and create a PR if I find a better way.

[2021-12-17 09:46] denys-medynskyi opened #2086 "Is it possible to get access to administrate demo source code http://administrate-demo.herokuapp.com?"
* What were you trying to do?
I want to update nested association in the sam way as on [Edit Product](https://administrate-demo.herokuapp.com/admin/products/the-logo-board-game/edit). It has `MetaTag` association and updates properly
* What did you end up with (logs, or, even better, example apps are great!)?
* What versions are you running?
  - Rails 6.1
  - administrate 0.16.0

**Summary**: Is i

[2021-12-17 10:03] #2086 closed

[2021-12-17 12:18] michaelbaisch opened #2087 "Inline Style doesn't work with Content Security Policy"
Hello,

after enabling CSP I get this error in the browser console when opening administrate:

[code]

Referencing [this](https://github.com/thoughtbot/administrate/blob/main/app/views/administrate/application/_icons.html.erb#L1) line:

[code]

Maybe this simple style could be transferred to the administrate css?

Greetings,
Michael

[2021-12-18 08:45] neidiom commented on #261
How do we handle this issue in 2021?

[2021-12-20 23:37] jamie opened #2088 "Performance Problems Counting Associated records"
* What were you trying to do?

So this has some overlap with #1697 but...

I'm attempting to make a vanilla admin for a work application, where we have one model with a large number of associated log records, but as time goes on we're starting to see excessively long request times from default-generated screens.

* What did you end up with (logs, or, even better, example apps are great!)?

[Exampl

[2021-12-22 14:03] philipithomas opened #2091 "sassc dependency breaks compatibility with tailwindcss-rails"
* What were you trying to do?

I'm trying to use [tailwind-rails v2.0.2](https://github.com/rails/tailwindcss-rails#conflict-with-sassc-rails) and importmaps.

* What did you end up with (logs, or, even better, example apps are great!)?

I'm getting a `SassC::SyntaxError` when I run `rake assets:precompile`. Based on my debugging, it's because `tailwind-rails` is incompatible with the `sassc-rails

[2021-12-25 05:39] #2055 closed

[2021-12-25 09:41] pablobm commented on #2063
Thank you for your report. Indeed, polymorphic fields are tricky and our search doesn't currently support them.

Fortunately there are ways around this. It's possible to provide your own controllers that override Administrate's behaviour. This is the basis of many customisations. In this case, overriding `Administrate::ApplicationController#index` would be a way to do it.

Having said that, I had

[2021-12-25 17:39] pablobm commented on #1223
Although there isn't yet a super-duper, configurable way to solve this, today I pushed a PR to allow search customisation with code. See: https://github.com/thoughtbot/administrate/pull/2096

[2021-12-28 07:48] barmic12 opened #2103 "Allow to disable sorting by a specific column"
**What would you like to be able to do?**
I was trying to find an option to disable sorting by a specific column (virtual attribute)

**How could we go about implementing that?**
Providing a way (for example by `with_options(sortable: false) to disable sorting

Sometimes there is a need to display virtual attributes - then the sorting does not work. In this case it should not be possible to perfor

[2021-12-28 08:04] pablobm commented on #2066
Thank you for the report @pjmartorell. It looks like we could have used a feature spec there. Do you think you'd be able to provide a PR?

[2021-12-28 08:55] pablobm commented on #2068
Hello there. The fields names are rendered via an i18n label: `helpers.label.$RESOURCE_NAME`. See:

https://github.com/thoughtbot/administrate/blob/ceae954efb721c4fc6a98552eca65bfc88f4fa8f/app/views/administrate/application/_collection.html.erb#L34-37

Admittedly, the i18n code in Administrate needs a lot of work, but would this be enough for you for now?

[2021-12-28 09:33] pablobm opened #2104 "Can't display resources for which there is no dashboard"
* What were you trying to do?

Displaying (small display with `display_resource`) a resource for which there is no dashboard.

* What did you end up with (logs, or, even better, example apps are great!)?

The app breaks as it requires a dashboard.

* What versions are you running?
  - Rails 6.1
  - administrate 0.16

* Additional information

This was first raised at https://github.com/thoughtbot/

[2021-12-28 09:34] pjmartorell commented on #2066
yes, now that I'm on holidays I'll probably have time to do a PR 😅👍

[2021-12-28 09:35] pablobm commented on #2104
@nickrivadeneira, thank you for the report. I see what you mean.

I'm unsure as to how to fix this. On one hand, I feel that defining the dashboard only to provide `display_resource` might be the "correct" thing to do, but I see that it might not be very friendly. A way to improve this would be to catch the error at `display_associated_resource` and replace it with a better one that explains the s

[2021-12-28 09:38] pablobm commented on #2075
Argh... :sweat: So this works for me, but I'm not surprised that it fails for you. Managing our JS with the different possible ways that Rails has to handle assets is very confusing.

Let's see if we can shed some light here. How does your app handle assets? Webpacker, asset pipeline, the new Rails 7 style (which I don't know yet), something else?

[2021-12-28 09:45] pablobm commented on #2076
Unfortunately, such a complex search is very difficult to automatise... but there's a way around this.

In general, Administrate tries to do as little magic as possible, and allow things to be overridden to provide for custom use cases, such as this one. In this case, you could override `Administrate::ApplicationController#index` to provide your own way to search.

Right now this is not very obvio

[2021-12-28 09:45] pablobm commented on #2063
Closing in favour of https://github.com/thoughtbot/administrate/issues/2076, which is more general of this whole issue.

[2021-12-28 09:45] #2063 closed

[2021-12-28 09:50] pablobm commented on #2086
For future reference, the example app is provided with the source code. See https://github.com/thoughtbot/administrate/tree/main/spec/example_app. To see how to run it, see: https://github.com/thoughtbot/administrate/blob/main/CONTRIBUTING.md

[2021-12-28 09:54] shouichi commented on #2068
Hi @pablobm, thanks for the reply! The original title was somewhat misleading. What I meant was to add field name as HTML attribute e.g., `<th class="user_name">Name</th>`. This should make our life easier when we want to add custom css.

[2021-12-28 09:56] pablobm commented on #2087
My understanding of CSP is rusty at the moment :sweat: How did you enable CSP in your app? Do you know what the alternatives are?

[2021-12-28 11:48] michaelbaisch commented on #2087
That's pretty straight forward - see https://edgeguides.rubyonrails.org/security.html#content-security-policy

In `config/initializers/content_security_policy.rb` active this:

[code]

If you want to allow inline style and js (but only in a separate tag) you need to activate nonce generation:

[code]

This way you could so things like:

[code]

But as I said earlier it would be a cleaner solution

[2021-12-28 16:46] pablobm commented on #2068
Oh, of course. Sorry, I didn't read that very well.

Perhaps we could add something. We have some classes `cell-label--*` for other things, but I wonder if we should add it as a data attribute instead, like `data-administrate-field-name="user_name"` or something like that. What do you think?

Would you be able to provide a PR?

[2021-12-29 01:32] shouichi commented on #2068
Yes, I also thought about using data attributes. It may be safer because adding classes can affect existing users who add custom css. The only concern I have is inconsistency. It seems that administrate mostly uses classes (the only usage is `table.js`?).

I'll open a PR.

[2021-12-30 09:11] pablobm commented on #261
Nowadays, the generator is called `administrate:views:navigation`.

[2021-12-30 15:14] wvengen commented on #1586
Thanks for your response, @pablobm. We're still evaluating the use of Administrate (coming from [Brightcontent](https://github.com/brightin/brightcontent)). If we go for it, we'll probably have a go at a PR (but it'll take some time).

[2021-12-31 00:19] AnalyzePlatypus commented on #2091
Please fix this, I have the same problem

[2022-01-01 17:14] n-studio commented on #2091
The solution is pretty simple: we need to get rid of all JS/CSS dependencies and just mention how to add them in the README.

We must let developers choose the way they handle their assets, whether it's using sassc, webpack or importmap.

Maybe we can add some generator `rails g administrate js:importmap` or something like that.

[2022-01-02 18:04] migu0 commented on #2075
Hi all, I have the same issue running on Rails 7. The JS breaks at this line (see image) preventing the JS to convert a link into a DELETE method.

<img width="1253" alt="Screenshot 2022-01-02 at 19 01 04" src="https://user-images.githubusercontent.com/430682/147885013-4e6a0f3a-7ff4-44d4-885f-df7890234cbe.png">

I'm no JS expert, I don't have Wepacker, esbuild or anything else installed as I don't

[2022-01-03 13:19] kukicola commented on #2075
Hello, I had the same issue after gems upgrade. I rolled back gems one by one and found the cause - `momentjs-rails`. It works fine with `2.20.1` but throws this error on `2.29.1`

[2022-01-03 19:43] kukicola commented on #2075
`2.29.1.1` has just been released and it works fine

[2022-01-04 08:19] pablobm commented on #1697
Hello all. I've been looking into this in the last few days. I think I may have a solution, but let's see what you think first.

### 1. Administrate's implementation of eager loads

I think that the first problem is that Administrate eager-loads all associative fields, and this is not useful. The default behaviour in collections (ie: index page and has_many tables) is the following:
* BelongsTo, P

[2022-01-04 08:20] pablobm commented on #2088
Thank you for this report. It provided a more focused example that helped me understand the issue much better. I have proposed a solution at https://github.com/thoughtbot/administrate/issues/1697#issuecomment-1004606731 PRs welcome :-)

[2022-01-06 01:30] etozzato commented on #2091
`administrate` is a `Rails::Engine`, which means it is a Rails app. Would it be useful to refactor the code following the 'update to rails 7 guides' and homogenize the handling of resources?

[2022-01-11 17:51] pablobm commented on #2103
Hello @barmic12. At the moment there isn't a feature for this. A way around the problem would be to provide your own view for the dashboard, as described at http://administrate-demo.herokuapp.com/customizing_page_views (see under "Customizing for a specific resource"). However be careful when upgrading Administrate later, as the original template may have changed and you'd have then to update your

[2022-01-11 18:06] pablobm commented on #2087
I see, that makes sense. I wonder if the style was put inline originally due to some browser incompatibility or some such?

Browsers are better-behaved creatures these days, so perhaps we can try move this into the stylesheets are you first proposed. Would you be able to create a PR?

[2022-01-12 14:49] unosk commented on #1978
I applied the following patch without using the :class_name option and it worked fine

[code]

[2022-01-13 15:50] #2068 closed

[2022-01-13 16:31] pablobm commented on #2075
It looks like this was probably fixed by https://github.com/thoughtbot/administrate/pull/2101. Let us know if this is not the case.

[2022-01-13 17:37] pablobm commented on #2091
Unfortunately, this may not be simple at all. Before Rails 7, there were two main ways of handling assets: Webpacker and Sprockets. We have tried to make Administrate work with both, but it's difficult work and complex to reproduce issues.

Now Rails 7 has arrived with yet another way to do things. We'll have to spend the time to make it work there too, and we would rather that Administrate kept w

[2022-01-14 01:41] n-studio commented on #2091
@pablobm
I have a fork compatible with Rails 7, I'll try to make it retrocompatible and submit a PR this weekend.
Are you ok with the idea of adding generators to add assets in the Rails app? This would be a breaking change but the upgrade would be easy and straightforward.

[2022-01-14 13:52] n-studio commented on #2091
@pablobm Another way to fix this issue is to compile the assets and commit the compiled assets. This would avoid breaking changes. Would you prefer this method?

[2022-01-14 14:00] pablobm commented on #2091
@n-studio - I would consider it. If you create a PR so that I can see what it looks like, it can help me understand.

[2022-01-14 17:12] n-studio commented on #2091
@pablobm Here is my PR https://github.com/thoughtbot/administrate/pull/2116
I hope you like that solution.

[2022-01-20 10:39] dvruette commented on #2091
I've been running into the same issue and the PR by @n-studio seems to fix the issue, thank you so much!

As a hotfix for anyone else running into this, I've added the branch with the fix to the Gemfile like so:
[code]

[2022-01-21 15:39] wspurgin commented on #1816
Correct me if I'm wrong, but this initializer fix only fixes the problem _if_ the engine is mounted. And the generators that the guides walk through does not mount the Administrate Engine. So you end up having to still modifying the manifest file for Rails6+ with Sprokets 4+

[2022-01-22 17:17] philipithomas commented on #2091
@dvruette

This is a completely valid fix - but it will break if @n-studio deletes that particular branch in the future. And, it's a development branch - not `main` - so it's not reasonable to expect it to stick around. So, please fork the code to your own Github if you want to follow this approach! (and replace `github: "n-studio/administrate"` with your own fork)

[2022-01-24 14:17] jordan-brough commented on #2066
@pjmartorell do you still plan on making a PR? I might be up for making one if not.

[2022-01-24 15:15] #2087 closed

[2022-01-24 17:52] jordan-brough opened #2130 "Flaky specs due to sassc "Segmentation fault" errors"
The Ruby 2.6 & 2.7 tests seem to have suddenly become flaky:
![image](https://user-images.githubusercontent.com/23050/150836798-7cbba94c-889c-4115-b3b0-a302504133d4.png)

I saw some failures like that in a couple of my PRs, that usually went away if I retried the specs (e.g. by pushing an empty commit).

It might be something from one of my recent commits? It doesn't look like they were flaky befo

[2022-01-24 18:23] jordan-brough commented on #2130
I verified that for the example in my comment above ("FYI I tried to repro the failure ...") that the test that segfaulted was the first `feature` test run for that commit + `seed` value. And the stack trace shows it's executing some `sprockets` and `concurrent-ruby` code.

I wonder if any of the comments in https://github.com/sass/sassc-ruby/issues/207 are applicable?

[2022-01-25 12:24] nickcharlton commented on #2130
Hmm, interesting. I've seen this in the past and it seems much worse now.

I just pushed up this branch with a potential solution. I'm going to run it a few times and see how it behaves on CI: https://github.com/thoughtbot/administrate/compare/nc-sassc-seg-fault-fix?expand=1

[2022-01-27 08:52] shouichi opened #2134 "Support opening url in a new browser tab"
* What would you like to be able to do? Can you provide some examples?

By using `Field::Url` we can display URLs as links. In some cases, it would be convenient to open links in new browser tabs.

* How could we go about implementing that?

Though the implementation would be straightforward, we may want to add `rel="noopener"` or `rel="noreferrer`.

https://docs.rubocop.org/rubocop-rails/cops_rai

[2022-01-27 12:10] nickcharlton commented on #2134
It's not something we currently support. I wondered if we'd exposed enough of the HTML options to do it, but apparently not. `content_tag` accepts a hash of options, so you could do similar things too. It'd be nice to be able to do this on all fields, I'd think, if you or someone was able to open a PR to do so.

You _could_ do something like this, but it'd mean overriding the partials in your proj

[2022-01-27 16:04] gathuku commented on #2130
I have an app that I have been to upgrade to `cssbundling-rails`. Unfortunately, I have faced the `Segmentation fault` errors. After trying everything with no success I want to get rid of the `sassc-rails` gem. Is it possible to run administrate without this gem?

[2022-01-28 16:55] nickcharlton commented on #2130
That branch did no good and I'm not necessarily convinced that spending much time on it is worthwhile.

@gathuku, hmm, good question. I don't see why you wouldn't in principle be able to do so. But you might need to fork the gem and change the dependencies around so that it's never bundled.

[2022-02-03 13:39] pablobm commented on #2076
https://github.com/thoughtbot/administrate/pull/2096 has been merged, offering a hook that can help here, along with an example.

I'm going to close this, as automating searches through instance methods is not possible. However the offered hook offers a way to implement it in a case-by-case basis.

[2022-02-03 13:39] #2076 closed

[2022-02-08 11:47] nickcharlton commented on #1593
I'm going to close this, as we've got a possible solution. We can revisit it in future if it becomes a more common situation.

[2022-02-08 11:47] #1593 closed

[2022-02-08 11:51] nickcharlton commented on #2061
I think a query param, as you say, would be a good solution to this. Do you think you'd be able to explore a possible solution for that?

[2022-02-08 11:56] nickcharlton commented on #2059
I think this is an already known performance issue: recently in #2088, but also in #1697 which potentially has a solution. I'm going to close this one, for now, to keep the discussion in one place.

[2022-02-08 11:56] #2059 closed

[2022-02-08 12:00] nickcharlton commented on #2056
I'm going to close this as it's just about come to its natural end, but please re-open if there's more to discuss here.

[2022-02-08 12:00] #2056 closed

[2022-02-10 15:02] pablobm commented on #2088
I'm going to close this in favour of #1697.

[2022-02-10 15:02] #2088 closed

[2022-02-10 16:23] pablobm commented on #1469
I think that once that https://github.com/thoughtbot/administrate/pull/2116 and https://github.com/thoughtbot/administrate/pull/2136 are merged, we'll be able to take on this one once and for all.

[2022-02-15 05:28] shouichi opened #2143 "Adding destroy link to the show template"
* What would you like to be able to do? Can you provide some examples?

Adding destroy link to the show template (`app/views/administrate/application/show.html.erb`) just like the edit link.

Background: Because the index template is the only template that has destroy link, there's no way to destroy a resource when index route for the resource is not defined.

* How could we go about implementing

[2022-02-15 12:29] #2134 closed

[2022-02-15 12:31] nickcharlton commented on #2143
Sounds good! Would you be able to open for a PR for this?

[2022-02-15 12:39] shouichi commented on #2143
Sure! I'll open a PR soon :+1:

[2022-02-18 06:14] #2143 closed

[2022-02-21 07:22] ruanltbg opened #2147 "Allow searchable on multiple inherited classes"
* What were you trying to do?
I have multiple classes that inherit from a `User` class and I want to use searchable `Field::BelongsTo` for those classes.

The problem:
When using the same table on multiple classes rails `left_joins` creates an alias for the second join this way when filtering the data we should match against the alias and not the original table, I did not find any way to configure

[2022-02-24 12:08] pablobm commented on #2147
I think this should be detected automatically at https://github.com/thoughtbot/administrate/blob/main/lib/administrate/search.rb, instead of adding more options for users. Do you think you'd be able to provide a PR?

Alternatively, you can override the default search logic in your own controllers, as demonstrated at https://github.com/thoughtbot/administrate/blob/main/spec/example_app/app/controll

[2022-03-02 12:48] sedubois opened #2151 "Hard dependency on Sprockets prevents migration to Propshaft"
* What were you trying to do?

I am following the Propshaft [upgrade guide](https://github.com/rails/propshaft/blob/main/UPGRADING.md). After replacing Sprockets with Propshaft in my Gemfile, I expect Sprockets-related errors to disappear and Administrate views to render correctly.

* What did you end up with (logs, or, even better, example apps are great!)?

Sprockets is still invoked as it's a t

[2022-03-02 15:42] nickcharlton commented on #2151
Thanks for opening this!

Yeah, I was suspecting this might be the case. I'm not sure if we can (or maybe I mean should?) do anything about this until some other asset changes are done (I'm thinking of #2148, or an equivalent at least).

Do you have any thoughts on how we might be able to support both?

[2022-03-02 18:38] sedubois commented on #2151
At this point I haven't had thoughts on the solution on the administrate side as I'm really not familiar with the Rails asset pipeline.

Just some background on how I got here:
- importmaps are the new default in Rails apps, but I've been having issues with them
- so I moved to jsbundling-rails to solve these issues
- but this leads to apparently sourceMaps [not working](https://github.com/rails/j

[2022-03-03 09:19] sedubois commented on #2151
@nickcharlton If I take the example of Stimulus (which is now part of the default Rails 7 stack), it's provided as a node package (`@hotwired/stimulus`). So a solution might be to publish an administrate node package with the relevant assets. I guess this should work for both JS and CSS. Or maybe something is possible with engines, which I know nothing about...

(NB: There is a `stimulus-rails` ge

[2022-03-03 11:08] nickcharlton commented on #2151
Thanks! That's helpful.

I think our eventual solution here is going to be to split it into an npm package too. I've been thinking about how to update in such a way to support all of the asset handling approaches and I suspect this is the only way.

[2022-03-04 17:34] nickcharlton commented on #1227
Closing this as we merged in #2029.

[2022-03-04 17:34] #1227 closed

[2022-03-04 17:39] nickcharlton commented on #2016
Closing as we removed Moment in #2136.

[2022-03-04 17:39] #2016 closed

[2022-03-06 02:50] migu0 opened #2155 "Dealing with booleans that require true or false"
In the schema I have the following field:

`add_column :users, :some_value, :boolean, default: false, null: false`

And in the user model a corresponding validation:

[code]

Then in the dashboard I use the corresponding field type:

[code]

When I uncheck the field and want to save a record, I get this validation error:  `Some value can't be blank`

How can I customise the field to accept a `fals

[2022-03-12 14:43] brenoperucchi commented on #1969
Any solution for this?

[2022-03-13 00:23] brenoperucchi commented on #1969
made this solution but I didn't test in all conditions

[code]

[2022-03-14 00:52] brenoperucchi commented on #1969
I know this is a code smell

#lib/administrate/base_dashboard.rb

[code]

[2022-03-17 16:32] pablobm commented on #2155
Hello and thank you for filing this issue. I assume that the attribute in the second code block was meant to be `:some_value`, so I'll go with that :slightly_smiling_face:

What you describe is strange. Administrate uses Rails's own `f.check_box` internally, which should result in `true`/`false` values. Let's see what might be changing this behaviour here...

First: do you have any customisations

[2022-03-17 18:08] pablobm commented on #1969
@brenoperucchi - I think you are generally on the right track. At the moment Administrate doesn't support this, but it could be fixed by going through the code addressing all situations where assumptions are made about the namespace and location of the dashboards. The sort of changes that you are proposing could be made into Administrate.

[2022-03-17 18:34] pablobm commented on #1943
The SQL is put together around these lines:

https://github.com/thoughtbot/administrate/blob/3739c6436feee531153f56b5d5650f9f6a6e8940/lib/administrate/search.rb#L87-L95

I think it should be possible to alter this to generate a different string in the case of an enum. This will probably require reading `@scoped_resource` in order to figure out which attribute is an enum and then provide the requir

[2022-03-17 18:55] matteomelotti commented on #2061
@nickcharlton Hi! Can I try with this issue? Is it possible to discuss with someone a possible solution and/or issue during the development?

[2022-03-18 18:52] nunocarvalhog commented on #2066
@jordan-brough that would be great 👍  I just run into this issue too.

[2022-03-19 09:10] matteomelotti commented on #2061
@pablobm @nickcharlton is this similar to this? [https://github.com/thoughtbot/administrate/issues/1987](url)

[2022-03-19 16:01] getaaron commented on #2061
@matteomelotti Yea I think #1987 is a duplicate of this issue, sorry I didn't see it!

I'm not working on the project this was for any more so feel free to take a pass at it. I probably won't work on it myself but I'd be happy to review a PR or something if you need help

[2022-03-20 00:34] migu0 commented on #2155
Thank you @pablobm. The problem only exists if I have this line in the model, not sure if it's ActiveModel issue, i.e. boolean "false" not validating as presence true:

`validates :some_value, presence: true`

Here's the console ouput

[code]

[2022-03-24 15:24] jubilee2 opened #2165 "support I18n in navigation block"
I am open question here. Is that make sense to you guys for use i18n to display table name in navigation?

https://github.com/thoughtbot/administrate/blob/5ef03b940b9ee0b0e521255b1a52860ac2857c11/app/views/administrate/application/_navigation.html.erb#L14

[2022-03-24 18:15] jubilee2 commented on #2165
sorry already support it!
maybe can add document to describe it

i am going to close issue
[code]

[2022-03-24 18:15] #2165 closed

[2022-03-24 23:38] jamie commented on #1697
Finally got some time to look at this again - @pablobm I think you're on the nose. I can confirm that on [my reproduction app](https://github.com/jamie/administrate-bug-repro) if I make that change to Administrate::Field::Base.associative? to `self < BelongsTo || self < HasOne` that it turns the associated `select *` into a series of `select count(*)`, but I'll take that bounded N+1 to a huge data

[2022-03-24 23:38] jamie commented on #1697
As a workaround for anyone following this thread, you can spot fix this in the current administrate version by tweaking the impacted dashboards in your app:

[code]

[2022-03-25 16:46] nickcharlton commented on #2165
Thanks for opening this regardless! It's one of those features of Rails that is not particularly clear. I'd be open to a PR to document doing something like this if you can find a nice way to add it.

[2022-03-26 01:33] jubilee2 opened #2168 "Is this necessary to keep unicorn setting in package?"
Question

https://github.com/thoughtbot/administrate/blob/9fc3ce6323815fa66dd9d27df166fcd601c2365f/config/unicorn.rb#L1

[2022-03-27 12:29] nickcharlton commented on #2168
Yes, Administrate as well as being a gem is a self-hosting demo and this is there because Unicorn has always needed some configuration.

That might have changed, but that's the reason it's there. Hope this helps!

[2022-03-27 20:04] jubilee2 commented on #2168
Thank you for explaining

[2022-03-27 20:04] #2168 closed

[2022-03-28 10:25] nickcharlton commented on #2168
I think it would make maintenance a lot harder if we split it into two repositories. I've had similar thoughts about splitting out the translations into a different repository (similar to how we do so with [clearance-i18n](https://github.com/thoughtbot/clearance-i18n)).

[2022-03-28 18:44] lake-effect opened #2169 "POST to create through controller with different FK constraint than 'id' fails"
## Result versus expectation

Following the docs we created a dashboard for the below model, which is the "N" in a 1:N relationship between an OwningModel (1) and an OwnedModel (N). The catch is that the OwnedModel is keyed (FK) on a unique ID that is not `owning_model_id`, it's constrained on `special_owner_id`.

So, as below, we have

[code]

When we submit a new "create" through the below dashb

[2022-03-30 07:48] tkoenig commented on #2091
What I did for some projects which still depend on Sass was [creating my own compressor](https://guides.rubyonrails.org/asset_pipeline.html#using-your-own-compressor), which skips the SassC compression if it fails.

[code]

Since the skipped (tailwind) files, are not compressed this way I just added the `--minify` option to the `tailwindcss`CLI to compress them as well.

[code]

I did not test thi

[2022-03-30 14:43] sedubois commented on #1560
The open-source Spina CMS has a "media picker" feature built on top of the Trix editor and Active Storage, so it looks feasible:

![Screenshot 2022-03-30 at 16 27 37](https://user-images.githubusercontent.com/4217871/160860177-43db0090-a2e1-42fb-be42-53041ce2cdc6.png)

![Screenshot 2022-03-30 at 16 36 02](https://user-images.githubusercontent.com/4217871/160860929-2dc477c5-9db9-4528-8203-8235f81a2

[2022-03-30 18:29] masterT commented on #1838
It would be nice to be able to configure the pagination by overriding the `Administrate::ApplicationController`. I use _Kaminari_ but with a custom `page_method_name` method.

Ex:

[code]

[code]

[2022-03-31 13:18] pablobm commented on #1997
I'm going to close this issue, as it appears to be solved:

* The original problem should be solved by implementing `permitted_attribute` as mentioned.
* A plugin gem exists that may solve the issue, or at least provide guidance on how to implement it.

But you may disagree or still have questions! :slightly_smiling_face: In which case please let us know here and we may want to reopen.

Thank you

[2022-03-31 13:18] #1997 closed

[2022-03-31 13:21] pablobm commented on #2066
@jordan-brough - Go for it! :rocket:

[2022-03-31 13:28] pablobm commented on #2061
@matteomelotti - If you had a go at it, it would be great :slightly_smiling_face: For now, I'm going to close this issue as it's a duplicate as mentioned.

[2022-03-31 13:28] #2061 closed

[2022-03-31 13:59] pablobm commented on #2155
Ah, I see now what's going on. Apologies for my previous message: it was a red herring. I had forgotten how the presence validator works.

You can't use the presence validator with boolean fields. Or at least not if you expect them to be true/false. Only true values will be valid. If you want to accept both true and false values, you should use `inclusion: { in: [true, false] }`.

This is nothing

[2022-03-31 13:59] #2155 closed

[2022-03-31 14:31] pablobm commented on #1697
That precounter gem looks neat. On one hand, I think that Administrate should use Rails's own default, conventional choices which in this case would mean using counter caches, but it would be neat if we could offer some sort of hook for users to plug this as an alternative. I haven't looked into it, but I suspect it won't be trivial :slightly_frowning_face: Having said that, if someone wants to ex

[2022-04-01 06:52] migu0 commented on #2155
Understood, thanks so much for your help @pablobm.

[2022-04-04 03:27] jubilee2 commented on #2168
https://github.com/jubilee2/administrate/commit/78d5446d5479f6826959efd94287e142b155c138
is this make sense to you?
by the way you can create sub repository to host i18n languages

[2022-04-06 22:46] arenzel opened #2175 "Rails 7: "uninitialized constant ActionText::RichTextDashboard""
## What were you trying to do?

I'm trying to create a new `Post` from a standard installation of Administrate on Rails 7.
When hitting `http://localhost:3000/admin/posts/new`, I'm getting the following error:

[code]

### The Post model
[code]

I can confirm this is somehow related to RichText because I don't have the issue when visiting other models that don't have any RichText attribute.

I've

[2022-04-08 07:36] pablobm commented on #2169
Hello @lake-effect. Thank you for the thorough description. This is indeed an issue we were not aware of, and it should be fixed. To add insult to injury, our example app has an instance of this, and we still missed it.

I have put together a fix at this branch: https://github.com/thoughtbot/administrate/compare/main...pablobm:association-primary-key, would you be able to give it a whirl? Make sur

[2022-04-08 17:00] lake-effect commented on #2169
I'll take a look, thanks!

[2022-04-09 07:22] pablobm commented on #2169
@lake-effect - Would you be able to paste here your `has_many` and `belongs_to` declarations in your models? I'm checking that I'm not missing anything with my fix.

[2022-04-11 19:06] lake-effect commented on #2169
@pablobm Here's the test I carried out:

# Environment

## Gemfile

[code]

## Dashboard model (variation 1)

[code]

## Dashboard model (variation 2)

[code]

# Test steps

1. `bundle install`, confirm administrate installed from correct source
2. Visit `http://localhost:3000/internal/owned_models/new`
3. Attempt to create new OwnedModel using dropdown containing correct list of OwningModels

##

[2022-04-11 19:12] lake-effect commented on #2169
Sorry, I just saw this:

## Owning model

owning_model.rb
[code]

## Owned model

[code]

[2022-04-11 23:55] mjelks opened #2177 "ERROR : Postgres backed column with a non-deterministic collation"
* What were you trying to do?
Perform a search on a dashboard with a Postgres backed column with a non-deterministic collation

* What did you end up with (logs, or, even better, example apps are great!)?
[code]

* What versions are you running?
  - Rails (6.1.4)
  - administrate (0.17.0)

We have currently worked around the issue locally by doing a `class_eval` on Administrate::Search and re-defi

[2022-04-12 13:36] MuhammetDilmac commented on #2175
Use `RichTextAreaField` instead of `ActionText::RichTextDashboard` in attribute types.

Like this;
[code]

[2022-04-13 10:55] arenzel commented on #2175
Thank you for your reply @MuhammetDilmac.
I don't have any `ActionText::RichTextDashboard` in attribute_types.

Example for the `Collection` model:

[code]

When I try to replace `description: Field::Text` by `description: RichTextAreaField ` I get the following error:

[code]

[2022-04-13 21:33] pablobm commented on #2169
Thank you for the additional info :-)

One thing I'm noticing is that your associations are defined with `class_name`, `primary_key` and `foreign_key`, the same settings that work for you on Administrate. Indeed, the Administrate fields were named to be consistent with the ActiveRecord ones. Therefore I don't understand what you mean what you say the following:

Or am I missing something? :slightl

[2022-04-14 13:33] arenzel commented on #2175
# Issue solved! 🎉

My bad: I was misusing the custom field. 🤦
For my fellow developers who will encounter the same issue:

## Step by step to fix it

1. Create a new custom **RichTextAreaField** by following the instruction from this [wiki page](https://github.com/thoughtbot/administrate/wiki/Field:-RichTextAreaField) (+ more info on custom fields [in the docs here](https://administrate-demo.herok

[2022-04-14 14:25] pablobm commented on #1838
@masterT - That looks like a worthy PR. We have had similar ones in the past (eg: https://github.com/thoughtbot/administrate/pull/2096). Would you want to contribute one?

[2022-04-14 14:42] pablobm commented on #2177
I agree that the current solution is not ideal. For the moment, the recommended workaround is to override the `index` action of your controller so that you can implement your custom search solution.

However this is also a bit inconvenient now as the search code is not factored out into its own method in the latest release of Administrate. It will be in the next release, as https://github.com/thou

[2022-04-14 18:32] masterT commented on #1838
Sure, you can assign me, I'll draft a PR. 😊

[2022-04-17 13:00] djberg96 commented on #1693
Totally random comment outta nowhere (don't ask me how I ended up here), but actually Windows has supported symlinks since Windows Vista. It's just that you need either administrator privileges, or a user with SeCreateSymbolicLinkPrivilege rights.

[2022-04-20 22:58] maysam commented on #2031
@Asandolo what was the solution?

[2022-04-21 05:54] pablobm commented on #1693
@djberg96 - Uh, I had no idea. It's still best not to use symlinks in packages like this one, but that info may still be helpful in the future. Thank you!

(How did you end up here? :stuck_out_tongue_closed_eyes:)

[2022-04-21 20:12] pablobm commented on #2031
@maysam - Judging from their error message ("Error: Support for calling #default_scope without a block is removed"), I think that there was an error in their app, which caused Rails to fail while loading the generator.

[2022-04-21 20:38] maysam commented on #2031
@pablobm  I have the same version working in one project and not in the other, seems to be a side effect of something else, but cannot figure it out

[2022-04-21 21:05] pablobm commented on #2031
Do you have an exception message and trace that you can paste?

[2022-04-21 21:12] maysam commented on #2031
@pablobm
[code]

[2022-04-21 21:25] pablobm commented on #2031
The problem appears to be with that `Mail::TestMailer`. For whatever reason it's not loaded (`require`-d) by the time `ApplicationMailer` is loaded, so the program crashes.

Do other generators (for example: controller generators) work in that app? I would assume that they fail too... Although I'm seeing that Administrate's generators do an explicit `Zeitwerk::Loader.eager_load_all` which appears

[2022-04-21 21:27] maysam commented on #2031
Thanks @pablobm
adding `gem 'net-smtp', require: false` to Gemfile solved the issue, help from https://stackoverflow.com/a/70500221/348701

[2022-04-25 15:27] januszm commented on #2091
Would this help here? https://github.com/sass/sassc-ruby/issues/220#issuecomment-1074825625

[2022-05-02 12:02] 5minpause opened #2185 "I18n translations for nested resources on custom designs not working"
Thank you for this wonderful gem.

* What were you trying to do?
I customized the designs to use TailwindCSS. Everything is working, but the translation for nested records does not work. The same models have their translations on their own index and show pages.

* What did you end up with (logs, or, even better, example apps are great!)?

We are looking at a custom show page.
<img width="1227" alt

[2022-05-04 23:33] aliaksandrb commented on #1978
A similar problem happens to me when dashboards are namespaced on `v0.16`.

Given, we have namespaced dashboards:
[code]

[code]
The dashboard above works fine, but crashes without `class_name` attribute:

[code]

Reproducible for both BelongsTo/HasMany field types.

[2022-05-05 17:33] lake-effect commented on #2169
I restarted and reloaded, definitely.

The problem here is that the "Workaround" I mentioned involves specifying a "primary" key that isn't the PK of the associated model in Administrate. I will double check to make sure my model configuration isn't muddying the waters to be sure myself 🙂

[2022-05-09 08:48] sergioisidoro opened #2187 "Possible regression - Delete link not working"
* What were you trying to do?
Deleting a resource uses POST method instead of following `data-method` DELETE.

Installed the application according to the docs.
Assets are being loaded correctly, and JQuery being loaded in the page and in the console
No errors on the console
HTML element has correct `rel="nofollow" data-method="delete" href="/admin/projects/30"`

* What versions are you running?

[2022-05-09 09:03] sergioisidoro commented on #2187
Ok, this was a problem that if you run the rails app in `api_only` the Rack `Rack::MethodOverride` is not loaded, so this does not work. So everything works as expected.

[2022-05-09 09:03] #2187 closed

[2022-05-10 05:12] grantsayer opened #2190 "Dashboard from input when model has multiple many-to-many relationships."
* Have a data model which is as follows. Member has many Addresses (and one address can have many members -eg family), Member also has many Boats (and one boat can have many members - eg the crew).
* So the Member model has a has_many through type relation defined for both addresses and boats
* When creating  a new  Member, I can Select a pre-created address and on 'Create' action the member recor

[2022-05-10 06:10] #2190 closed

[2022-05-10 06:11] grantsayer commented on #2190
Solved the issue - it was a field/attribute update issue due to not syncing with new added models. So re-ran the rails generator to sync it all up

[2022-05-10 16:41] esmyllyaho90 opened #2191 "Error: Please use symbols for polymorphic route arguments."
ArgumentError Please use symbols for polymorphic route arguments.

I get this error trying to manually add the button example code from (https://github.com/SourceLabsLLC/administrate_exportable) docs:

[code]

I'm using:
administrate 0.17
administrate_exportable 0.5
rails 7.0.1
ruby 3.0.3

[2022-05-13 06:35] pablobm commented on #2185
Thank you for raising this issue. I had a look and I can see it's indeed a bug. Would you be able to try out this branch and see if it works for you? https://github.com/thoughtbot/administrate/compare/main...pablobm:has-one-translations

[2022-05-13 20:44] richardonrails commented on #1877
I'd like to be able to include a HasOne field on on a Show page but not have the _entire_ object (and all of its own nested HasOne entire objects) displayed.

In some cases I'd rather just have a simple link to the referenced object. Is there anyway to do that right now? I was picturing something like `Field::HasOne.with_options(expand: false)`

[2022-05-13 21:03] richardonrails opened #2192 "Ability to show HasMany count on Show page"
Assume you have a `BlogDashboard` with `articles: Field::HasMany`.

On the List Blogs page, if `articles` is included in `COLLECTION_ATTRIBUTES`, by default administrate will show a really nice feature to show the count (e.g. "231 articles").

However on the Show Blog page, you can see a Table/List of the first 5 (or whatever you set `limit` at) articles, however there's no way to see the total Ar

[2022-05-23 12:16] 5minpause commented on #2185
I can report back that your branch works for me. I can now define the translations for the models where they belong.
🎉

[2022-05-24 08:53] supert56 commented on #2091
I ended up going down the same route as @tkoenig. It seems to work well for the time being 👍

[2022-05-26 13:53] pablobm commented on #2185
Perfect, thank you! I'll create a PR.

[2022-05-27 09:25] thubamamba commented on #420
This works perfectly well. Thank you.

[2022-06-02 16:39] pablobm commented on #2192
It should be possible by doing the following:

1. Create a method in your model that returns the article count. Eg: `def article_count; articles.count; end`
2. Create a field on the dashboard for this method. Eg: `article_count: Field::Number`.
3. Configure this field to appear on the show view instead of the original association.

One issue I'm seeing with my example is that the field will render

[2022-06-02 16:39] #2192 closed

[2022-06-02 18:28] richardonrails commented on #2192
Thanks for the response. I understand it's possible to manually create a computed field to show the count like this.

But I thought it was somewhat inconsistent that in one place (the listing page, if you have a column for the has_many) this count automatically shows up, but then you click into the details and it doesn't. So I thought it would be a nice built-in feature of Administrate.

[2022-06-06 09:51] pablobm commented on #1978
Thank you all for your feedback. I appear to have time to look into this finally. I started by reproducing @aliaksandrb's example, and was able to get a first stab at a fix (pretty much by following @unosk's example).

This initial fix is at https://github.com/thoughtbot/administrate/compare/main...pablobm:namespaced-associations. Would some of you be able to try it out and see if it helps? Meanwh

[2022-06-07 22:51] aliaksandrb commented on #1978
@pablobm thanks for looking into it!

I've applied the patch provided, and it seems to be working fine for both BelongsTo/HasMany associations.
The dashboards that were crashing before are working as expected now 👌

[2022-06-09 12:05] pragatiwagh opened #2209 "Dashboard does not identify class with namespaces."
* What were you trying to do?
I had some models inside a particular namespace. These models had some association outside the namespace.

* What did you end up with (logs, or, even better, example apps are great!)?
I had to define class_name in dashboard, but it keeps showing warning that the class_name option is deprecated.
* What versions are you running?
  - Rails - 7
  - administrate - latest

[2022-06-09 19:04] aliaksandrb commented on #1978
FYI: This looks related/might be affected by the change: https://github.com/thoughtbot/administrate/issues/2209

[2022-06-10 13:48] pablobm commented on #2209
Thank you for the report. We are discussing these issues at https://github.com/thoughtbot/administrate/issues/1978#issuecomment-1147267975.

There's currently a fix that I'm testing that may work for you. Would you be able to test the branch https://github.com/thoughtbot/administrate/compare/main...pablobm:namespaced-associations and let me know if it fixes your issue?

[2022-06-10 15:59] pragatiwagh commented on #2209
Thank you Pablo for your response. I will look into the solution and
get back to you.

Regards
Wagh Pragati Malhari

On Fri, Jun 10, 2022 at 7:18 PM Pablo Brasero ***@***.***>
wrote:

[2022-06-23 10:10] pablobm commented on #2191
I think this is not an issue with Administrate, but with Rails.

Reading the original issue filed with Rails (see https://github.com/rails/rails/issues/42157), it appears that they are trying to avoid a behaviour within ActionPack where a `redirect_to(["some_string"])` would result in a `redirect_to(some_string_url)` (if I understand correctly).

In your specific case, I think the problem might be

[2022-06-23 10:10] #2191 closed

[2022-06-23 10:31] sfcgeorge commented on #1354
Same issue. Administrate is slow to require because there's quite a lot of code in there. Moreover you may not need to use all of it, like the Pundit concern for example, but it all gets loaded anyway even if it's not used.

`gem 'administrate', require: false` won't currently work.

Here's how I think it should work:

* Doing `gem 'administrate'` causes Bundler (RubyGems?) to automatically `requi

[2022-06-27 08:09] shouichi opened #2220 "Pagination can get slower over time"
* What would you like to be able to do? Can you provide some examples?

Admin dashboards have to list all resources (e.g., all users). As the number of resources grows, kaminari gets slower. This is because it uses offset/limit for pagination. Instead, we can use cursor-based pagination.

* How could we go about implementing that?

We can take one of the following approaches.

- Switch to a pagina

[2022-06-28 20:57] smedrick opened #2221 "Weird caching behavior when editing entries?"
I’m running Rails 6.1.4.4 with administrate 0.16.0 and a MySQL DB, and I don’t see it on every dashboard, but on a couple of my most active models I noticed that some fields will simply not display updates (I can see through the console that the database has been updated, but the dashboard doesn’t show the change). This is on basic string and Boolean attributes, nothing fancy with special relation

[2022-07-05 09:49] migu0 opened #2222 "Guidance for Action Text custom field gem"
I wanted to create an open source custom field [https://github.com/migu0/administrate-field-action_text](administrate-field-action_text) based on thoughtbot's instructions [here](https://github.com/thoughtbot/administrate/wiki/Field:-RichTextAreaField).

I can successfully load the field but the Trix editor doesn't show. Can you help me find out how to get this working? I might have some [Trix or

[2022-07-06 11:56] jankeesvw commented on #2091
We are currently using the fork by @n-studio, but we would love to run the official version with the new features. Is anyone working on this still? We are using the new Rails 7 defaults (cssbundling-rails & jsbundling-rails).

[2022-07-09 08:47] sedubois commented on #1560
FYI, we managed to implement a basic "media gallery" in our app admin dashboard (on top of administrate) to re-attach Active Storage blobs instead of needing to re-upload files every time. We use Stimulus to listen to the Trix editor events and deliver the view through ajax using Turbo Frames.

[2022-07-13 21:26] IJustDev commented on #495
Thank you very much for sharing. I think a lot of Rails projects utilize Devise for their authentication.

This code snippet should be documented in the Readme or at least be mentioned in some side note.

[2022-07-14 19:29] SumOys opened #2224 "Unable to load correct model, possible due to camel casing/introspection"
* What were you trying to do?
I'm attempted to create a dashboard for a model called `TaxCountry` in the module `CostCalculator`. I used the following command:
[code]
This generates `app/controllers/backoffice/tax_countries_controller.rb` and `app/dashboards/tax_country_dashboard.rb`.  The dashboard file appears to have all the correct attributes listed. However when I add the following route:
[co

[2022-07-19 17:03] SumOys commented on #2209
I ran into this same issue recently. The patch on the above branched did work. I put this in `config/initializers/overrides.rb` for now

[code]

[2022-07-20 15:56] pragatiwagh opened #2226 "Add a way to disabled/read-only a field in forms."
Sometimes we have a behavior where we want to disable or hide a particular field in form.

For instance I don't want to allow user to edit certain fields in the form, with current behavior I have to write a custom field or have a conditional handling to manage such a behavior.

[2022-07-21 09:22] pablobm commented on #1838
@masterT - Your proposal has been implemented at https://github.com/thoughtbot/administrate/pull/2216

[2022-07-21 09:26] pablobm commented on #2220
I agree that pluggable pagination would be great. Is this something you'd want to look into? Perhaps if you create a proof of concept, before a final PR, we can see in which direction this is going.

[2022-07-21 09:28] pablobm commented on #2221
Administrate doesn't do any additional caching. This sounds like it must be something going on in Rails, or perhaps some other gem that you may have in place?

[2022-07-21 09:56] shouichi commented on #2220
Thank you for the response!

Yes. But the question I have is plug-and-play vs pluggability. I assume administrate should just work just by installing "administrate", which means we must depend on a specific pagination library (currently kaminari). However, some users may want to use other libraries (e.g., pagy) and don't want kaminari as an extra dependency. We can provide a bridge gem e.g., `admi